[2018-06-05 14:19] yegor256 opened #1 "skeleton"
Let's make it

[2018-06-05 14:19] 0crat commented on #1
@yegor256[/z](https://www.0crat.com/u/yegor256) I'm not managing this repo, remove the [webhook](https://github.com/zold-io/wts.zold.io/settings/hooks) or contact me in Slack, as explained in [§11](http://www.zerocracy.com/policy.html#11); I'm not managing `zold-io/wts.zold.io` GitHub repository, you have to contact me in Slack first, see [§11](http://www.zerocracy.com/policy.html#11) /cc @yegor25

[2018-06-05 19:55] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2018-06-05 19:56] yegor256 opened #2 "redirect to HTTPS"
If HTTP is opened we should redirect to HTTPS, always.

[2018-06-05 19:57] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14775-394839345)

[2018-06-05 19:57] 0crat commented on #2
Job [#2](https://github.com/zold-io/wts.zold.io/issues/2) is now in scope, role is `DEV`

[2018-06-05 19:58] 0crat commented on #2
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-05 20:00] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14775-394839345) (spent 3min)

[code]

[2018-06-05 20:22] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2018-06-05 20:23] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14775-394847182)

[2018-06-05 20:26] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14775-394847182) (spent 3min)

[code]

[2018-06-05 20:39] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2018-06-05 20:40] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14775-394852219)

[2018-06-05 20:43] rultor commented on #1
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14775-394852219) (spent 3min)

[code]

[2018-06-06 00:35] 0crat commented on #2
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#2](https://github.com/zold-io/wts.zold.io/issues/2); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-06-06 03:11] byzantime opened #3 "Server error when logging in via GitHub"
Received this response when already logged into GitHub, clicking on the "Authorize zold-io" button:
[code]

[2018-06-06 03:11] 0crat commented on #3
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-06 03:11] 0crat commented on #3
@byzantime[/z](https://www.0crat.com/u/byzantime) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-06 06:55] yegor256 commented on #1
@rultor release, tag is `0.0.1`

[2018-06-06 06:57] rultor commented on #1
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14775-394960791)

[2018-06-06 09:48] #1 closed

[2018-06-06 10:03] 0crat commented on #1
The job is not in WBS, won't close the order

[2018-06-06 10:11] 0crat commented on #3
Job [#3](https://github.com/zold-io/wts.zold.io/issues/3) is now in scope, role is `DEV`

[2018-06-06 10:11] 0crat commented on #3
Thanks for your contribution, @byzantime[/z](https://www.0crat.com/u/byzantime)! If you would be a member of [the project](https://www.0crat.com/p/CB28FH2NR), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-06-06 10:48] 0crat commented on #3
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#3](https://github.com/zold-io/wts.zold.io/issues/3); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-06-07 08:16] yegor256 opened #4 "pay and RSA keys"
Let's make it work

[2018-06-07 09:21] yegor256 commented on #4
@rultor release, tag is `0.1.0`

[2018-06-07 09:22] rultor commented on #4
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14800-395353376)

[2018-06-07 09:27] rultor commented on #4
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14800-395353376) (took me 5min)

[2018-06-07 09:37] yegor256 opened #5 "pull doesn't work"
For some reason...

[2018-06-07 09:40] 0crat commented on #4
The job is not in WBS, won't close the order

[2018-06-07 10:22] yegor256 commented on #3
@byzantime seems to be fixed. If not, report a new ticket.

[2018-06-07 10:22] #3 closed

[2018-06-07 10:37] 0crat commented on #3
The job [#3](https://github.com/zold-io/wts.zold.io/issues/3) is now out of scope

[2018-06-07 19:06] yegor256 opened #6 "background threads"
Let's run `push`, `pull`, and `pay` in a pool of background threads.

[2018-06-07 19:09] yegor256 commented on #5
@rultor release, tag is `0.1.1`

[2018-06-07 19:11] rultor commented on #5
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14806-395531930)

[2018-06-07 19:16] rultor commented on #5
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14806-395531930) (took me 5min)

[2018-06-07 19:20] #5 closed

[2018-06-07 19:36] 0crat commented on #5
Job `gh:zold-io/wts.zold.io#5` is not assigned, can't get performer

[2018-06-07 19:36] 0crat commented on #5
The job is not in WBS, won't close the order

[2018-06-07 21:37] yegor256 commented on #6
@rultor release, tag is `0.2.0`

[2018-06-07 21:40] rultor commented on #6
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14812-395573570)

[2018-06-07 21:44] yegor256 opened #7 "make logs visible for a user"
Let's make them visible

[2018-06-07 21:45] rultor commented on #6
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14812-395573570) (took me 5min)

[2018-06-07 22:11] yegor256 commented on #7
@rultor release, tag is `0.3.0`

[2018-06-07 22:12] rultor commented on #7
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14813-395581974)

[2018-06-07 22:14] yegor256 opened #8 "pay 8 ZLD on sign-up"
Let's pay 8 ZLD to every new user on sign-up

[2018-06-07 22:15] rultor commented on #7
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14813-395581974) (spent 3min)

[code]

[2018-06-08 06:02] yegor256 commented on #8
@rultor release, tag is `0.3.0`

[2018-06-08 06:02] #7 closed

[2018-06-08 06:02] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14819-395656924)

[2018-06-08 06:05] rultor commented on #8
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/14819-395656924) (spent 3min)

[code]

[2018-06-08 06:18] 0crat commented on #7
Job `gh:zold-io/wts.zold.io#7` is not assigned, can't get performer

[2018-06-08 06:18] 0crat commented on #7
The job is not in WBS, won't close the order

[2018-06-08 06:27] rultor commented on #8
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14819-395660629)

[2018-06-08 06:32] rultor commented on #8
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14819-395660629) (took me 5min)

[2018-06-08 08:45] #8 closed

[2018-06-08 09:00] #6 closed

[2018-06-08 09:00] yegor256 opened #9 "update and trim on each pull"
Let's do that

[2018-06-08 09:01] 0crat commented on #8
Job `gh:zold-io/wts.zold.io#8` is not assigned, can't get performer

[2018-06-08 09:01] 0crat commented on #8
The job is not in WBS, won't close the order

[2018-06-08 09:16] 0crat commented on #6
Job `gh:zold-io/wts.zold.io#6` is not assigned, can't get performer

[2018-06-08 09:16] 0crat commented on #6
The job is not in WBS, won't close the order

[2018-06-08 11:27] rultor commented on #9
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14824-395732477)

[2018-06-08 11:33] rultor commented on #9
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14824-395732477) (took me 5min)

[2018-06-08 15:41] #9 closed

[2018-06-08 15:41] yegor256 opened #10 "show all exceptions"
Show exceptions in logs

[2018-06-08 15:57] 0crat commented on #9
Job `gh:zold-io/wts.zold.io#9` is not assigned, can't get performer

[2018-06-08 15:57] 0crat commented on #9
The job is not in WBS, won't close the order

[2018-06-09 08:53] oltdaniel opened #11 "broken - nothing works"
Version is `0.0.0` and `0` wallets loaded.

[2018-06-09 08:53] 0crat commented on #11
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-09 08:53] 0crat commented on #11
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-09 13:03] yegor256 commented on #10
@rultor release, tag is `0.4.1`

[2018-06-09 13:05] rultor commented on #10
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14842-395967686)

[2018-06-09 13:10] rultor commented on #10
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14842-395967686) (took me 5min)

[2018-06-09 13:11] #10 closed

[2018-06-09 13:27] 0crat commented on #10
Job `gh:zold-io/wts.zold.io#10` is not assigned, can't get performer

[2018-06-09 13:27] 0crat commented on #10
The job is not in WBS, won't close the order

[2018-06-09 13:30] yegor256 commented on #11
@oltdaniel what exactly doesn't work? Try to click `pull`.

[2018-06-09 13:41] yegor256 opened #12 "propagate after pay"
Let's propagate

[2018-06-09 19:10] oltdaniel commented on #11
I had an complete error that notging could be reached.

But everything works again.

[2018-06-09 19:10] #11 closed

[2018-06-10 09:08] #12 closed

[2018-06-10 09:08] yegor256 opened #13 "/invoice"
Show a new invoice

[2018-06-10 09:32] rultor commented on #13
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14852-396034329) (took me 5min)

[2018-06-10 09:41] 0crat commented on #13
Job `gh:zold-io/wts.zold.io#13` is not assigned, can't get performer

[2018-06-10 09:41] 0crat commented on #13
The job is not in WBS, won't close the order

[2018-06-11 03:36] 0crat commented on #2
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#2](https://github.com/zold-io/wts.zold.io/issues/2); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-06-11 17:18] yegor256 opened #14 "show remotes"

[2018-06-11 17:29] yegor256 commented on #14
@rultor release, tag is `0.6.0`

[2018-06-11 17:32] rultor commented on #14
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14868-396321736)

[2018-06-11 17:38] rultor commented on #14
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14868-396321736) (took me 6min)

[2018-06-11 19:39] #14 closed

[2018-06-11 19:55] 0crat commented on #14
The job is not in WBS, won't close the order

[2018-06-11 19:55] 0crat commented on #14
Job `gh:zold-io/wts.zold.io#14` is not assigned, can't get performer

[2018-06-11 20:24] artem-p opened #15 "Where is my 8 ZLD?"
I've registered and my  Balance: 0.00ZLD.

[2018-06-11 20:25] 0crat commented on #15
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-11 20:25] 0crat commented on #15
@artem-p[/z](https://www.0crat.com/u/artem-p) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-12 07:12] yegor256 opened #16 "/update"
Update remote nodes on request

[2018-06-12 07:47] yegor256 opened #17 "award 8 ZLD only on the first create"
Now we award them on every create, that's too much

[2018-06-12 16:38] yegor256 commented on #16
@rultor release, tag is `0.7.0`

[2018-06-12 16:38] rultor commented on #16
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14892-396655099)

[2018-06-12 16:47] rultor commented on #16
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14892-396655099) (took me 8min)

[2018-06-12 17:14] #16 closed

[2018-06-12 17:32] 0crat commented on #16
The job is not in WBS, won't close the order

[2018-06-14 17:34] yegor256 opened #18 "show the banner when busy"
Let's show the banner on top of the page when we are busy. At the moment we only mark the `Log` menu item with red color. This is not enough. Let's also show the banner.

[2018-06-14 17:37] #18 closed

[2018-06-14 17:51] yegor256 commented on #18
@rultor release, tag is `0.7.1`

[2018-06-14 17:53] 0crat commented on #18
The job is not in WBS, won't close the order

[2018-06-14 17:53] 0crat commented on #18
Job `gh:zold-io/wts.zold.io#18` is not assigned, can't get performer

[2018-06-14 17:53] yegor256 opened #19 "replace latch file with an atomic counter"
At the moment we have a "latch" file which is set and reset in `LatchOps`. The information it provides is not accurate, since I can call `pull` twice and the latch will be reset on the first success. It will be reset when the second call is still running. Let's reproduce this in a test and replace the latch with an atomic counter.

[2018-06-14 17:53] rultor commented on #18
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14927-397382392)

[2018-06-14 17:53] yegor256 commented on #15
@artem-p did you try to `pull`? You should have it. Please, confirm.

[2018-06-14 17:53] 0crat commented on #19
Job [#19](https://github.com/zold-io/wts.zold.io/issues/19) is now in scope, role is `DEV`

[2018-06-14 17:54] 0crat commented on #19
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-14 17:59] rultor commented on #18
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14927-397382392) (took me 5min)

[2018-06-14 18:59] artem-p commented on #15
I did few times. Still 0.

[2018-06-14 20:36] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#19](https://github.com/zold-io/wts.zold.io/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-15 06:28] yegor256 opened #20 "show issue reporting message"

[2018-06-15 06:39] yegor256 commented on #20
@rultor release, tag is `0.7.2`

[2018-06-15 06:41] rultor commented on #20
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14933-397528269)

[2018-06-15 06:47] #20 closed

[2018-06-15 06:47] rultor commented on #20
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14933-397528269) (took me 6min)

[2018-06-15 07:02] 0crat commented on #20
Job `gh:zold-io/wts.zold.io#20` is not assigned, can't get performer

[2018-06-15 07:02] 0crat commented on #20
The job is not in WBS, won't close the order

[2018-06-15 07:10] YoMe2 opened #21 "Updating your wallet alert on pull"
STR:
1. Press Pull on https://wts.zold.io/home

http://prntscr.com/jv7clu

[2018-06-15 07:10] 0crat commented on #21
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-15 07:10] 0crat commented on #21
@yome2[/z](https://www.0crat.com/u/yome2) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-15 07:12] yegor256 commented on #21
@YoMe2 can you please try it again and confirm that the bug is still there?

[2018-06-15 13:13] YoMe2 commented on #21
http://prntscr.com/jvbtzt

'Page refresh in a minute' doesn't get rid of the alert

[2018-06-15 22:46] SilasReinagel commented on #15
@yegor256 I am experiencing the same issue.

[2018-06-16 04:35] 0crat commented on #2
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#2](https://github.com/zold-io/wts.zold.io/issues/2); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-06-17 09:42] yegor256 opened #22 "enforce SSL"
Let's make sure it's always on

[2018-06-17 09:48] yegor256 commented on #22
@rultor release, tag is `0.8.0`

[2018-06-17 09:50] rultor commented on #22
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14958-397867326)

[2018-06-17 09:55] rultor commented on #22
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14958-397867326) (took me 5min)

[2018-06-17 10:09] #22 closed

[2018-06-17 10:15] yegor256 opened #23 "incorrect IP in context"

[2018-06-17 10:17] yegor256 commented on #23
@rultor release, tag is `0.8.1`

[2018-06-17 10:17] #23 closed

[2018-06-17 10:18] rultor commented on #23
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14959-397868888)

[2018-06-17 10:33] 0crat commented on #23
The job is not in WBS, won't close the order

[2018-06-17 10:33] 0crat commented on #23
Job `gh:zold-io/wts.zold.io#23` is not assigned, can't get performer

[2018-06-17 20:50] artem-p commented on #15
@yegor256  OK, it works after restart.

[2018-06-17 21:06] 0crat commented on #15
Job `gh:zold-io/wts.zold.io#15` is not assigned, can't get performer

[2018-06-17 21:06] 0crat commented on #15
The job is not in WBS, won't close the order

[2018-06-18 11:01] yegor256 opened #24 "CSRF attack prevention"
Let's add STP to all HTML forms: https://en.wikipedia.org/wiki/Cross-site_request_forgery#Synchronizer_token_pattern

Maybe via this one: https://github.com/baldowl/rack_csrf

[2018-06-18 11:02] 0crat commented on #24
Job [#24](https://github.com/zold-io/wts.zold.io/issues/24) is now in scope, role is `DEV`

[2018-06-18 11:02] 0crat commented on #24
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-18 13:36] 0crat commented on #24
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#24](https://github.com/zold-io/wts.zold.io/issues/24); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-18 17:10] yegor256 opened #25 "show details on signup bonus"

[2018-06-19 05:05] yegor256 commented on #25
@rultor release, tag is `0.8.2`

[2018-06-19 05:05] rultor commented on #25
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/14987-398275209)

[2018-06-19 05:11] rultor commented on #25
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/14987-398275209) (took me 5min)

[2018-06-19 07:46] #25 closed

[2018-06-19 07:46] yegor256 opened #26 "REMOTE UPDATE only sometimes"
REMOTE UPDATE sometimes, not on every PULL

[2018-06-19 08:03] 0crat commented on #25
The job is not in WBS, won't close the order

[2018-06-19 08:03] 0crat commented on #25
Job `gh:zold-io/wts.zold.io#25` is not assigned, can't get performer

[2018-06-19 21:37] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#19](https://github.com/zold-io/wts.zold.io/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-20 14:07] 0crat commented on #15
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-20 14:08] 0crat commented on #15
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.11](https://github.com/zerocracy/farm): Issue: zold-io/wts.zold.io#15, Action: `reopened`

[2018-06-21 04:16] rusnasonov opened #27 "White Paper in main page not found 404"
https://wts.zold.io -> White Paper ( https://github.com/zold-io/papers/raw/master/wp.pdf ) -> Github 404

[2018-06-21 04:16] 0crat commented on #27
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-21 04:18] 0crat commented on #27
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.22.21](https://github.com/zerocracy/farm): Issue: zold-io/wts.zold.io#27, Action: `opened`

[2018-06-21 17:06] yegor256 commented on #27
@rusnasonov fixed in 4129f32 thanks!

[2018-06-21 17:06] #27 closed

[2018-06-21 17:06] yegor256 opened #28 "REMOTE RESET if empty list of remotes"
Let's reset

[2018-06-21 17:46] yegor256 commented on #28
@rultor release, tag is `0.8.3`

[2018-06-21 17:47] rultor commented on #28
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15042-399187936)

[2018-06-21 17:52] rultor commented on #28
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15042-399187936) (took me 5min)

[2018-06-21 18:20] #28 closed

[2018-06-21 18:21] 0crat commented on #27
Job `gh:zold-io/wts.zold.io#27` is not assigned, can't get performer

[2018-06-21 18:21] 0crat commented on #27
The job is not in WBS, won't close the order

[2018-06-21 20:19] 0crat commented on #28
The job is not in WBS, won't close the order

[2018-06-21 20:20] 0crat commented on #28
Job `gh:zold-io/wts.zold.io#28` is not assigned, can't get performer

[2018-06-21 22:38] 0crat commented on #2
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#2](https://github.com/zold-io/wts.zold.io/issues/2); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-06-22 10:05] yaralink opened #29 "NoMethodError: undefined method `split' for nil:NilClass"
![screenshot 2018-06-22 at 3 32 04 pm](https://user-images.githubusercontent.com/29410203/41771192-0526eaa0-7634-11e8-8a00-622e6fe8ac9f.png)

[2018-06-22 10:05] 0crat commented on #29
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-22 10:05] 0crat commented on #29
@yaralink[/z](https://www.0crat.com/u/yaralink) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-22 14:00] yegor256 commented on #29
@yaralink fixed, thanks

[2018-06-22 14:00] #29 closed

[2018-06-22 14:01] yegor256 commented on #26
@rultor release, tag is `0.8.4`

[2018-06-22 14:04] rultor commented on #26
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15052-399452763)

[2018-06-22 14:10] rultor commented on #26
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15052-399452763) (took me 6min)

[2018-06-22 14:16] 0crat commented on #29
The job is not in WBS, won't close the order

[2018-06-22 14:16] 0crat commented on #29
Job `gh:zold-io/wts.zold.io#29` is not assigned, can't get performer

[2018-06-22 14:24] #26 closed

[2018-06-22 14:39] 0crat commented on #26
The job is not in WBS, won't close the order

[2018-06-22 14:39] 0crat commented on #26
Job `gh:zold-io/wts.zold.io#26` is not assigned, can't get performer

[2018-06-23 14:36] 0crat commented on #24
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#24](https://github.com/zold-io/wts.zold.io/issues/24); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-23 15:53] yegor256 opened #30 "baseline must exist"

[2018-06-23 15:54] yegor256 commented on #30
@rultor release, tag is `0.8.5`

[2018-06-23 15:56] rultor commented on #30
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15060-399688454)

[2018-06-23 16:02] rultor commented on #30
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15060-399688454) (took me 5min)

[2018-06-23 18:39] #30 closed

[2018-06-23 18:54] 0crat commented on #30
Job `gh:zold-io/wts.zold.io#30` is not assigned, can't get performer

[2018-06-23 18:54] 0crat commented on #30
The job is not in WBS, won't close the order

[2018-06-24 06:14] yegor256 opened #31 "index TABLE is not mobile friendly"
Let's turn it into a collection of `<P>` when the screen is too narrow.

[2018-06-24 06:14] 0crat commented on #31
Job [#31](https://github.com/zold-io/wts.zold.io/issues/31) is now in scope, role is `DEV`

[2018-06-24 06:15] 0crat commented on #31
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-24 08:38] 0crat commented on #31
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#31](https://github.com/zold-io/wts.zold.io/issues/31); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-24 22:36] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#19](https://github.com/zold-io/wts.zold.io/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-26 23:37] 0crat commented on #2
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#2](https://github.com/zold-io/wts.zold.io/issues/2); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (as

[2018-06-27 05:27] #2 closed

[2018-06-27 05:28] yegor256 commented on #15
@artem-p I believe this problem is fixed. If you see something like that again, open a new ticket pls.

[2018-06-27 05:28] #15 closed

[2018-06-27 05:43] 0crat commented on #2
Job `gh:zold-io/wts.zold.io#2` is not assigned, can't get performer

[2018-06-27 05:43] 0crat commented on #2
The job [#2](https://github.com/zold-io/wts.zold.io/issues/2) is now out of scope

[2018-06-27 05:45] 0crat commented on #15
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.23.3](https://github.com/zerocracy/farm): CID: [1780536135](https://www.0crat.com/CB28FH2NR/1780536135), Type: "Close job", Author: "yegor256"

[2018-06-27 05:45] 0crat commented on #15
Job `gh:zold-io/wts.zold.io#15` is not assigned, can't get performer

[2018-06-28 04:01] yegor256 opened #32 "RESTful payment gateway"
Let's implement it

[2018-06-28 04:02] yegor256 opened #33 "private key download"
Let's make it possible to download a private key. The `/key` page should have a form with a single field - to enter the pass code. And then click `Download`. We should assemble the key and return the file.

[2018-06-28 04:02] 0crat commented on #33
Job [#33](https://github.com/zold-io/wts.zold.io/issues/33) is now in scope, role is `DEV`

[2018-06-28 04:02] 0crat commented on #33
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-28 09:51] 0crat commented on #32
The job [#32](https://github.com/zold-io/wts.zold.io/issues/32) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/1790950154); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-06-28 09:51] 0crat commented on #32
Job `gh:zold-io/wts.zold.io#32` already assigned to @yegor256, can't assign to @yegor256

[2018-06-28 09:51] 0crat commented on #32
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-28 09:51] 0crat commented on #32
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-28 09:52] 0crat commented on #32
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-28 10:38] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#33](https://github.com/zold-io/wts.zold.io/issues/33); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-28 15:36] 0crat commented on #24
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#24](https://github.com/zold-io/wts.zold.io/issues/24); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-29 10:37] 0crat commented on #31
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#31](https://github.com/zold-io/wts.zold.io/issues/31); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-29 11:58] yegor256 commented on #32
@rultor release, tag is `0.9.0`

[2018-06-29 11:59] rultor commented on #32
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15149-401332996)

[2018-06-29 12:05] rultor commented on #32
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15149-401332996) (took me 6min)

[2018-06-29 12:49] #32 closed

[2018-06-29 13:05] 0crat commented on #32
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-29 13:05] 0crat commented on #32
The job [#32](https://github.com/zold-io/wts.zold.io/issues/32) is now out of scope

[2018-06-29 13:31] g4s8 opened #34 "Your wallet doesn't exist on our server yet."
I created new wallet and receive 8 ZLD for signup, it was displayed for some time, but after pull I'm getting this message:

[2018-06-29 13:31] 0crat commented on #34
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-06-29 13:31] 0crat commented on #34
@g4s8[/z](https://www.0crat.com/u/g4s8) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-06-30 01:37] 0crat commented on #19
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#19](https://github.com/zold-io/wts.zold.io/issues/19); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-06-30 05:29] yegor256 opened #35 "pass is not getting through"
HTTP auth header doesn't work

[2018-06-30 05:44] 0crat commented on #34
The job [#34](https://github.com/zold-io/wts.zold.io/issues/34) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/1810551059); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-06-30 05:44] 0crat commented on #34
Job `gh:zold-io/wts.zold.io#34` already assigned to @yegor256, can't assign to @yegor256

[2018-06-30 05:45] 0crat commented on #34
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-06-30 05:45] 0crat commented on #34
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-06-30 05:58] yegor256 commented on #34
@g4s8 will be fully fixed after this one is implemented: https://github.com/zold-io/zold/issues/315

[2018-06-30 05:58] yegor256 commented on #35
@rultor release, tag is `0.9.1`

[2018-06-30 06:00] rultor commented on #35
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15155-401519888)

[2018-06-30 06:06] rultor commented on #35
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15155-401519888) (took me 6min)

[2018-06-30 13:49] #35 closed

[2018-07-03 09:35] g4s8 opened #36 "/do-pay API doesn't url-decode params"
According to `/do-pay` API documentation form data should be urlencoded:
[code]
but looks like wts.zold.io doesn't decode it back before creating new transaction:

[2018-07-03 09:35] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-03 09:48] 0crat commented on #36
Job [#36](https://github.com/zold-io/wts.zold.io/issues/36) is now in scope, role is `DEV`

[2018-07-03 09:48] 0crat commented on #36
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-03 10:39] 0crat commented on #36
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#36](https://github.com/zold-io/wts.zold.io/issues/36); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-07-03 11:41] 0crat commented on #33
@yegor256[/z](https://www.0crat.com/u/yegor256) everybody who has role `DEV` is banned at [#33](https://github.com/zold-io/wts.zold.io/issues/33); I won't be able to assign anyone automatically; consider assigning someone manually (as in [§19](http://www.zerocracy.com/policy.html#19)), or invite more people (as in [§51](http://www.zerocracy.com/policy.html#51)), or remove the job from the scope (a

[2018-07-04 08:40] g4s8 opened #37 "/do-pay API ignores failure"
If `/do-pay` api fails with internal error (e.g. like in this bug: #36), it doesn't return error code, but return 303 (as expected), so client can't be sure that transaction was sent.

[2018-07-04 08:40] 0crat commented on #37
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 11:01] botanicus opened #38 "Lock to the last stable major Ruby version"
We discussed similar issue in https://github.com/zold-io/zold/issues/306. Here, however, the situation is different. Where zold is used for the public and therefore should run on wide set of environments, this app really is mostly for us.

Therefore, I propose, we lock against the latest stable major Ruby version, which as of now is Ruby 2.5[1].

I believe it will save us a lot of grief when in th

[2018-07-04 11:01] 0crat commented on #38
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-04 11:11] botanicus opened #39 "Document how to run the app"
The README says nothing about how to run the app. I cannot work on the project if I don’t even know how to run it.

[2018-07-04 11:11] 0crat commented on #39
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-05 09:32] g4s8 opened #40 "Progress indicator on pull"
It's not very comfortable to manually refresh page when pulling from network, I think it would be better to show progress indicator when pulling and automatically refresh page on complete.

[2018-07-05 09:32] 0crat commented on #40
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-05 16:09] 0crat commented on #40
Job [#40](https://github.com/zold-io/wts.zold.io/issues/40) is now in scope, role is `DEV`

[2018-07-05 16:09] 0crat commented on #40
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-07-05 16:12] 0crat commented on #38
Job [#38](https://github.com/zold-io/wts.zold.io/issues/38) is now in scope, role is `DEV`

[2018-07-05 16:13] 0crat commented on #38
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-05 16:16] yegor256 commented on #39
@botanicus it's `rake run` I will update the doc.

[2018-07-05 16:19] 0crat commented on #39
The job [#39](https://github.com/zold-io/wts.zold.io/issues/39) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/1861621983); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the task is not cle

[2018-07-05 16:19] 0crat commented on #39
Job `gh:zold-io/wts.zold.io#39` already assigned to @yegor256, can't assign to @yegor256

[2018-07-05 16:20] 0crat commented on #39
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-05 16:20] 0crat commented on #39
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-06 11:11] yegor256 commented on #36
@0crat assign @botanicus

[2018-07-06 11:11] 0crat commented on #36
@yegor256 The job [#36](https://github.com/zold-io/wts.zold.io/issues/36) assigned to @botanicus[/z](https://www.0crat.com/u/botanicus), here is [why](https://www.0crat.com/footprint/CB28FH2NR/1871112627); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if the tas

[2018-07-06 11:11] 0crat commented on #36
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-07-07 07:44] olenagerasimova opened #41 "Empty wallet and exceptions in log"
Here is what happened:
1. 0crat sent me 7.36 ZLD yesterday in 13:03 GMT+3 after my order was finished (I was not registered in zold jet)
2. I went to wts.zold.io and registered successfully, wallet was empty, on pull there was updating warning

3. I logged in several minutes ago: wallet is still empty, updating warning still there along with a lot of exceptions in log
![image](https://user-images.

[2018-07-07 07:44] 0crat commented on #41
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-07 07:44] 0crat commented on #41
@olenagerasimova[/z](https://www.0crat.com/u/olenagerasimova) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-07 09:10] botanicus opened #42 "Use JSON instead of text/plain"
JSON is the standard for web app APIs. If we plan to allow other users to use the `wts.zold.io` API, we should expose it in the (most) standard format.

Even if we don’t, there are other good reasons to use JSON:

As of now, `GET /version` returns `VERSION` as a string. That’s perfectly reasonable, but say that as we exposed `Zold::PROTOCOL`, we might want to expose that in here as well (or we mig

[2018-07-07 09:10] 0crat commented on #42
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-07 09:27] botanicus opened #43 "Use REST"
[REST](https://en.m.wikipedia.org/wiki/Representational_state_transfer) is the standard in web development.

In REST rather than `POST /do-pay` we should `POST /payments`. The HTTP verb `POST` in REST is to create entities in given resource. The resource is `/payments`. It says "create new instance of the payments class" essentially. _In a way REST is OOP of the web._

The advantages are:
- You do

[2018-07-07 09:38] botanicus commented on #36
@g4s8 how do I reproduce? I need either stack trace or a curl command to reproduce.

[2018-07-07 10:02] g4s8 commented on #36
@botanicus you need to obtain API key first on wts.zold.io, then you can access it with curl, e.g. this request will send `0.01 ZLD` to `yegor256`:
[code]

[2018-07-07 16:41] botanicus commented on #34
Upon sign-up, I'm getting wallet ID, with the same message `Your wallet doesn't exist on our server yet. Please, pull it from the network!` And clicking the pull link doesn't fix it.

I believe this is the same issue.

[2018-07-07 16:47] botanicus opened #44 "Use consistent terminology"
[wts.zold.io/api](https://wts.zold.io/api) says:

    Enter your payment pass code in order to get the API token.

What is the payment pass code? I assume it's the _private pass code_[1]?

If that's the case, one of these should change to avoid ambiguity.

[1] This is the terminology used when I first got it.

[2018-07-07 16:47] 0crat commented on #44
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-07 16:52] botanicus commented on #36
@0crat wait

[2018-07-07 16:52] 0crat commented on #36
@botanicus The impediment for [#36](https://github.com/zold-io/wts.zold.io/issues/36) was registered successfully by @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-07 16:54] botanicus commented on #36
I'm putting it on hold since I have no ZLD due to the issue #34.

[2018-07-07 17:05] g4s8 commented on #36
@botanicus I suppose it can't

[2018-07-07 22:45] yegor256 commented on #41
@olenagerasimova this is a duplicate of #40 We don't inform you correctly about the situation now. Try to login in a few hours. You should see your payments.

[2018-07-07 22:45] #41 closed

[2018-07-07 22:52] yegor256 commented on #42
@botanicus we are using JSON everywhere, except some very basic/primitive end points, which return plain text. Those are `/version` and in the future `/protocol`. In other words, our API is in JSON, but the front-end has supplementary plain text entry points, mostly for fun.

[2018-07-07 22:52] #42 closed

[2018-07-07 22:56] 0crat commented on #43
Job [#43](https://github.com/zold-io/wts.zold.io/issues/43) is now in scope, role is `DEV`

[2018-07-07 22:58] 0crat commented on #43
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @botanicus[/z](https://www.0crat.com/u/botanicus)

[2018-07-07 23:05] 0crat commented on #41
The job is not in WBS, won't close the order

[2018-07-07 23:05] 0crat commented on #41
Job `gh:zold-io/wts.zold.io#41` is not assigned, can't get performer

[2018-07-07 23:07] 0crat commented on #42
The job is not in WBS, won't close the order

[2018-07-07 23:07] 0crat commented on #42
Job `gh:zold-io/wts.zold.io#42` is not assigned, can't get performer

[2018-07-10 13:39] 0crat commented on #44
The job is not in WBS, won't close the order

[2018-07-10 13:40] 0crat commented on #44
Job `gh:zold-io/wts.zold.io#44` is not assigned, can't get performer

[2018-07-11 16:42] yegor256 opened #45 "pay hosting bonuses"
Let's pay them here, see https://github.com/zold-io/zold/issues/381

[2018-07-11 19:33] rultor commented on #45
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15314-404282720) (took me 6min)

[2018-07-11 19:33] #45 closed

[2018-07-11 19:48] 0crat commented on #45
The job is not in WBS, won't close the order

[2018-07-11 19:48] 0crat commented on #45
Job `gh:zold-io/wts.zold.io#45` is not assigned, can't get performer

[2018-07-12 11:59] yegor256 opened #46 "more logs"
Let's show more

[2018-07-17 08:39] yegor256 opened #47 "smaller score for bonuses"

[2018-07-18 07:43] victornoel commented on #34
@yegor256 for the record, I'm having the same problem, the logs says the wallet is not found in any of the nodes.

Also, 0crat has been sending me zold (I am supposing on that wallet, even though this is nowhere explicit), does this mean it will be lost?

[2018-07-18 12:18] yegor256 opened #48 "keygap"

[2018-07-18 13:29] rultor commented on #48
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15405-405930267)

[2018-07-18 13:35] rultor commented on #48
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15405-405930267) (took me 5min)

[2018-07-18 13:41] yegor256 commented on #34
@victornoel it the wallet is not found, it's lost. Just click "Restart" and start from scratch. We had issues recently, that's why.

[2018-07-18 13:42] 0crat commented on #48
Job `gh:zold-io/wts.zold.io#48` is not assigned, can't get performer

[2018-07-18 13:42] 0crat commented on #48
The job is not in WBS, won't close the order

[2018-07-18 13:52] victornoel commented on #34
@yegor256 ok, and how come 0crat has been able to pay to it then? Is that a problem with 0crat?

[2018-07-18 22:02] #46 closed

[2018-07-18 22:02] #47 closed

[2018-07-18 22:49] yegor256 opened #49 "RuntimeError: Keygap can't be nil"
[code]

[2018-07-18 22:51] #49 closed

[2018-07-18 23:06] 0crat commented on #49
Job `gh:zold-io/wts.zold.io#49` is not assigned, can't get performer

[2018-07-18 23:06] 0crat commented on #49
The job is not in WBS, won't close the order

[2018-07-19 08:52] yegor256 commented on #34
@0crat doesn't get a confirmation back from WTS. It just "drops" a payment to WTS and expects it to do the payment. It's a slow operation, as you understand. When exactly (and whether) the network will confirm the payment -- 0crat doesn't know.

[2018-07-19 08:55] 0crat commented on #34
@yegor256 Can't understand "doesn't", try one of these:
  - `assign` Assign a performer to this issue
  - `boost` Set a boost for the job
  - `continue` Remove a job's impediment
  - `hello` Just say hello
  - `in` Register this issue in scope (WBS)
  - `out` Close the order and remove this job from scope
  - `pay` Pay a user some extra cash
  - `quality` Review a task
  - `resign` Resign from thi

[2018-07-20 08:09] NoxFP opened #50 "Node score value equal to 1-0"
Recently checked after long time the node I have up for more than 2 weeks: http://80.211.62.201:4096/
value was always 1, even one time 0 which was weird, cuz when the node was installed score was 13-14. I reseted the vps to try "Restart" things up and I end up not even finding the vps anymore, do I have to reinstall everything again ?

[2018-07-20 08:09] 0crat commented on #50
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-20 08:09] 0crat commented on #50
@noxfp[/z](https://www.0crat.com/u/noxfp) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-26 13:41] yegor256 opened #51 "0.14.18"

[2018-07-26 13:48] #51 closed

[2018-07-26 13:48] yegor256 opened #52 "fund by..."

[2018-07-26 14:03] 0crat commented on #51
The job is not in WBS, won't close the order

[2018-07-26 14:03] 0crat commented on #51
Job `gh:zold-io/wts.zold.io#51` is not assigned, can't get performer

[2018-07-27 10:27] stepan-romankov opened #53 "Once you sign-up, you will receive a bonus of 8 ZLD to your wallet."
1. Haven't received it. Does some time should gone before I receive it?
Wallet ID: f699ea4fc18a8114

2. I also started a node but don't see it in https://wts.zold.io/remotes, any ideas why?
Node address: http://62.113.238.236:4096

[2018-07-29 05:03] yegor256 commented on #36
@botanicus what's up with this? To get some ZLD just hit "Restart" and you will get 8ZLD as a signup bonus.

[2018-07-29 05:22] #53 closed, assigned to nobody

[2018-07-29 05:39] 0crat commented on #53
The job is not in WBS, won't close the order

[2018-07-29 05:39] 0crat commented on #53
Job `gh:zold-io/wts.zold.io#53` is not assigned, can't get performer

[2018-07-30 08:38] stepan-romankov opened #54 "RuntimeError: Invalid GitHub user name: '@stepan-romankov'"
Sending money with GitHub user name doesn't work, however works fine with Wallet ID.

[code]

Wallet ID: **4e1c0b133e8141a4**
GitHub account: @stepan-romankov

[2018-07-30 08:38] 0crat commented on #54
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-30 08:38] 0crat commented on #54
@stepan-romankov[/z](https://www.0crat.com/u/stepan-romankov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-07-30 08:44] stepan-romankov opened #55 "Receiver field size is too small (16 symbols) on payment page"
https://wts.zold.io/pay
'_Send ZLD to (either wallet ID or GitHub login):_' field is to small. E.g. when I was testing it with account '**@stepan-romankov-2**' I wasn't able to write it down, it was cut off as '**@stepan-romankov**'.

[2018-07-30 08:44] 0crat commented on #55
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-07-30 08:44] 0crat commented on #55
@stepan-romankov[/z](https://www.0crat.com/u/stepan-romankov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-01 04:25] yegor256 commented on #55
@stepan-romankov fixed, thanks!

[2018-08-01 04:25] #55 closed

[2018-08-01 04:29] yegor256 commented on #54
@stepan-romankov fixed, thanks!

[2018-08-01 04:29] #54 closed

[2018-08-01 04:42] 0crat commented on #55
The job is not in WBS, won't close the order

[2018-08-01 04:42] 0crat commented on #55
Job `gh:zold-io/wts.zold.io#55` is not assigned, can't get performer

[2018-08-01 04:44] 0crat commented on #54
The job is not in WBS, won't close the order

[2018-08-01 04:44] 0crat commented on #54
Job `gh:zold-io/wts.zold.io#54` is not assigned, can't get performer

[2018-08-02 13:28] yegor256 opened #56 "pay more bonuses"

[2018-08-03 18:10] yegor256 commented on #36
@0crat assign @emilianodellacasa

[2018-08-03 19:14] 0crat commented on #36
@yegor256 The job [#36](https://github.com/zold-io/wts.zold.io/issues/36) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/2151844129); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2018-08-03 19:21] 0crat commented on #36
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-08-06 09:29] #56 closed

[2018-08-06 09:29] #52 closed

[2018-08-06 09:48] 0crat commented on #56
Job `gh:zold-io/wts.zold.io#56` is not assigned, can't get performer

[2018-08-06 09:48] 0crat commented on #52
Job `gh:zold-io/wts.zold.io#52` is not assigned, can't get performer

[2018-08-06 09:48] 0crat commented on #56
The job is not in WBS, won't close the order

[2018-08-06 09:48] 0crat commented on #52
The job is not in WBS, won't close the order

[2018-08-06 14:23] emilianodellacasa opened #57 "Missing documentation on Maven"
After cloning the repo, I followed the steps provided on documentation but received an error on a missing _mvn_ command.

Apparently _Apache Maven_ is a prerequisite to run all tests, and I think that should clearly reported in the README file

[2018-08-08 10:35] yegor256 commented on #57
@emilianodellacasa thanks, fixed!

[2018-08-08 10:35] #57 closed

[2018-08-08 10:53] 0crat commented on #57
The job is not in WBS, won't close the order

[2018-08-08 19:45] 0crat commented on #36
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-08-09 07:13] emilianodellacasa commented on #36
@0crat wait - for the PR to be accepted

[2018-08-09 07:15] 0crat commented on #36
@emilianodellacasa The impediment for [#36](https://github.com/zold-io/wts.zold.io/issues/36) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-08-10 10:34] emilianodellacasa commented on #36
@g4s8 I tried using _curl_ of your example but the payment has been successful, Sinatra is correctly parsing the params;

The problem with your original details _Payment+to+%60ARC%60+for+a+closed+pull+request%2C+as+in+%5B%C2%A728%5D%28http%3A%2F%2Fwww.zerocracy.com%2Fpolicy.html%2328%29_ is that ":" character is not accepted by Zold

[2018-08-10 10:36] emilianodellacasa commented on #36
@yegor256 I think you can close this issue

[2018-08-10 19:34] yegor256 opened #59 "new version of gem"

[2018-08-10 19:49] #59 closed

[2018-08-10 20:05] 0crat commented on #59
The job is not in WBS, won't close the order

[2018-08-10 20:05] 0crat commented on #59
Job `gh:zold-io/wts.zold.io#59` is not assigned, can't get performer

[2018-08-14 09:30] yegor256 opened #60 "duplicate transactions in bonus payment"

[2018-08-14 16:41] 0crat commented on #60
Job `gh:zold-io/wts.zold.io#60` is not assigned, can't get performer

[2018-08-14 16:41] 0crat commented on #60
The job is not in WBS, won't close the order

[2018-08-19 07:45] oltdaniel opened #61 "update version - no remotes caused by lower version"
The `wts.zold.io` nodes uses the option `--no-reboot` and will drop nodes caused by his lower version number. This will lead to a constant remote entry of `b1.zold.io` and count of 1, which isn't helping for pulling or pushing wallets.

[2018-08-19 07:45] 0crat commented on #61
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-19 07:45] 0crat commented on #61
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-08-19 13:44] g4s8 commented on #36
@emilianodellacasa got it, thanks

[2018-08-19 13:44] #36 closed

[2018-08-19 14:00] 0crat commented on #36
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) please review this job completed by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), as in [§30](http://www.zerocracy.com/policy.html#30); the job will be fully closed and all payments will be made when the quality review is completed

[2018-08-19 14:00] 0crat commented on #36
The job [#36](https://github.com/zold-io/wts.zold.io/issues/36) is now out of scope

[2018-08-19 16:34] ypshenychka commented on #36
@g4s8 I assume I can evaluate this ticket as acceptable, since some investigation work was done, right?

[2018-08-19 19:39] oltdaniel commented on #61
@yegor256 actually, this is a general issue in the node code. Will move it to the main repo

[2018-08-19 19:39] #61 closed

[2018-08-19 19:55] 0crat commented on #61
The job is not in WBS, won't close the order

[2018-08-19 19:55] 0crat commented on #61
Job `gh:zold-io/wts.zold.io#61` is not assigned, can't get performer

[2018-08-20 12:34] yegor256 opened #62 "more API entry points"

[2018-08-20 14:08] yegor256 commented on #62
@rultor release, tag is `0.12.0`

[2018-08-20 14:10] rultor commented on #62
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/15729-414329112)

[2018-08-20 14:16] rultor commented on #62
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/15729-414329112) (took me 6min)

[2018-08-20 14:35] #62 closed

[2018-08-20 15:16] 0crat commented on #62
The job is not in WBS, won't close the order

[2018-08-20 15:16] 0crat commented on #62
Job `gh:zold-io/wts.zold.io#62` is not assigned, can't get performer

[2018-08-21 10:03] ypshenychka commented on #36
@g4s8 ping

[2018-08-21 12:31] yegor256 opened #63 "/stress"
Let's create a stress tester

[2018-08-21 17:13] g4s8 commented on #36
@ypshenychka I think you can

[2018-08-23 08:25] ypshenychka commented on #36
@g4s8 thank you

[2018-08-23 08:25] ypshenychka commented on #36
@0crat quality acceptable

[2018-08-23 08:31] 0crat commented on #36
Order was finished, quality is "acceptable": +30 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-08-23 08:31] 0crat commented on #36
Quality review completed: +8 point(s) just awarded to @ypshenychka[/z](https://www.0crat.com/u/ypshenychka)

[2018-08-25 13:53] stepan-romankov opened #64 "All nodes have huge number of errors"
https://wts.zold.io/remotes

<img width="444" alt="screen shot 2018-08-25 at 15 53 24" src="https://user-images.githubusercontent.com/1895302/44618900-0ac81d80-a87f-11e8-998e-1403cdab76e3.png">

[2018-08-25 13:54] 0crat commented on #64
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-08-25 13:54] 0crat commented on #64
@stepan-romankov[/z](https://www.0crat.com/u/stepan-romankov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-09-07 07:43] emilianodellacasa opened #65 "Hosting Bonuses not distributed"
Since end of August apparently hosting bonuses are not distributed, let's fix this

[2018-09-07 07:44] 0crat commented on #65
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-13 15:13] g4s8 opened #66 "Can't see some payments via API"
0crat sens me extra zold payments via wts API without errors (API returns `303` HTTP status), but I can see only one transaction in my wallet.

`Send zold` claims: https://www.0crat.com/footprint/CA2075Q49/2561345126 https://www.0crat.com/footprint/CA2075Q49/2561346154

wallet id: `3be3416c805e4371`

[2018-09-13 15:14] 0crat commented on #66
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-09-18 06:29] yegor256 commented on #64
@stepan-romankov should be OK now

[2018-09-18 06:29] #64 closed

[2018-09-18 06:48] 0crat commented on #64
Job `gh:zold-io/wts.zold.io#64` is not assigned, can't get performer

[2018-09-18 06:48] 0crat commented on #66
Job [#66](https://github.com/zold-io/wts.zold.io/issues/66) is now in scope, role is `DEV`

[2018-09-18 06:48] 0crat commented on #66
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2018-09-18 06:53] yegor256 commented on #65
@emilianodellacasa this seems to be connected to this issue, but I'm not sure yet: https://github.com/zold-io/zold/issues/479 Investigating...

[2018-09-18 17:18] 0crat commented on #19
The job [#19](https://github.com/zold-io/wts.zold.io/issues/19) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/2611632664); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#9); if t

[2018-09-23 16:40] 0crat commented on #19
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2018-09-25 10:42] emilianodellacasa commented on #19
@0crat wait - PR submitted, waiting for review

[2018-09-25 10:53] 0crat commented on #19
@emilianodellacasa The impediment for [#19](https://github.com/zold-io/wts.zold.io/issues/19) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-09-27 13:14] emilianodellacasa commented on #24
@0crat wait - PR submitted, waiting for review

[2018-09-27 13:49] 0crat commented on #24
@emilianodellacasa The impediment for [#24](https://github.com/zold-io/wts.zold.io/issues/24) was registered successfully by @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-11-02 18:46] yegor256 commented on #65
@emilianodellacasa seems to be fixed

[2018-11-02 18:46] #65 closed

[2018-11-02 19:05] 0crat commented on #65
Job `gh:zold-io/wts.zold.io#65` is not assigned, can't get performer

[2018-11-02 19:05] 0crat commented on #65
This job is not in scope

[2018-11-06 18:21] #63 closed

[2018-11-06 18:28] yegor256 commented on #52
@rultor release, tag is `0.12.1`

[2018-11-06 18:30] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16473-436357909)

[2018-11-06 18:33] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16473-436357909) (spent 2min)

[code]

[2018-11-06 18:38] 0crat commented on #63
Job `gh:zold-io/wts.zold.io#63` is not assigned, can't get performer

[2018-11-06 18:38] 0crat commented on #63
This job is not in scope

[2018-11-06 18:40] yegor256 commented on #52
@rultor release, tag is `0.12.1`

[2018-11-06 18:42] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16473-436361701)

[2018-11-06 18:44] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16473-436361701) (spent 2min)

[code]

[2018-11-06 18:49] yegor256 commented on #52
@rultor release, tag is `0.12.1`

[2018-11-06 18:50] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16473-436364997)

[2018-11-06 18:55] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16473-436364997) (spent 4min)

[code]

[2018-11-06 18:58] yegor256 commented on #52
@rultor release, tag is `0.12.1`

[2018-11-06 19:00] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16473-436368393)

[2018-11-06 19:05] rultor commented on #52
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/16473-436368393) (spent 5min)

[code]

[2018-11-06 19:12] yegor256 commented on #52
@rultor release, tag is `0.12.1`

[2018-11-06 19:13] rultor commented on #52
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16473-436372805)

[2018-11-06 19:21] rultor commented on #52
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16473-436372805) (took me 8min)

[2018-11-09 08:39] denis-konovalyenko opened #68 "WTS signup bonus has not been awarded"
Wallet ID: e560c4fb95684c6d. It has not been awarded by 8.00 ZLD signup bonus up to now for some reasons, however it was created on the 31th of August, 2018:

[code]

[2018-11-09 08:39] 0crat commented on #68
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-11-09 08:39] 0crat commented on #68
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-02 12:44] filfreire opened #69 "Missing validation on keygap input in https://wts.zold.io/api"
In https://wts.zold.io/api the user is able to submit an empty string in the keygap input field, or another completely different string, and will still get successfully to the API token screen.

[2018-12-02 12:45] 0crat commented on #69
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-02 12:45] 0crat commented on #69
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-02 12:52] filfreire opened #70 "The /do-api page could display a curl request for ease of use"
Currently the /do-api returns this text as a code snippet:
[code]

When instead it could return a `curl` request ready to be copied, changed a bit, and used in the shell.

[2018-12-02 12:52] 0crat commented on #70
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-02 12:52] 0crat commented on #70
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-04 13:50] yegor256 opened #71 "zold 0.17"
let's upgrade

[2018-12-04 15:18] yegor256 commented on #71
@rultor release, tag is `0.13.0`

[2018-12-04 15:21] rultor commented on #71
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16768-444136789)

[2018-12-04 15:43] #71 closed

[2018-12-04 16:00] 0crat commented on #71
Job `gh:zold-io/wts.zold.io#71` is not assigned, can't get performer

[2018-12-04 16:02] 0crat commented on #71
This job is not in scope

[2018-12-05 06:11] yegor256 commented on #70
@filfreire seems to be fixed, thanks!

[2018-12-05 06:11] #70 closed

[2018-12-05 07:38] yegor256 commented on #69
@filfreire fixed, thanks for reporting

[2018-12-05 07:38] #69 closed

[2018-12-05 07:39] yegor256 commented on #68
@denis-konovalyenko This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-05 07:39] #68 closed

[2018-12-05 07:39] yegor256 commented on #50
@NoxFP
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-05 07:39] #50 closed

[2018-12-05 07:40] yegor256 commented on #37
@g4s8 this is by design. We send payments in a background thread and this may take some time. We can't return anything to your PUT request.

[2018-12-05 07:40] #37 closed

[2018-12-05 08:14] 0crat commented on #69
Job `gh:zold-io/wts.zold.io#69` is not assigned, can't get performer

[2018-12-05 08:20] 0crat commented on #68
Job `gh:zold-io/wts.zold.io#68` is not assigned, can't get performer

[2018-12-05 08:20] 0crat commented on #50
Job `gh:zold-io/wts.zold.io#50` is not assigned, can't get performer

[2018-12-05 08:20] 0crat commented on #37
Job `gh:zold-io/wts.zold.io#37` is not assigned, can't get performer

[2018-12-05 08:20] 0crat commented on #69
This job is not in scope

[2018-12-05 08:20] 0crat commented on #68
This job is not in scope

[2018-12-05 08:30] 0crat commented on #50
This job is not in scope

[2018-12-05 08:31] 0crat commented on #37
This job is not in scope

[2018-12-05 10:55] yegor256 opened #72 "buy/sell via coinbase"
Let's make it possible to buy ZLD and sell via BTC

[2018-12-05 10:57] 0crat commented on #72
The job [#72](https://github.com/zold-io/wts.zold.io/issues/72) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/425a921d-26e5-4532-bdf4-a2a6c2d81486); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-05 10:57] 0crat commented on #72
Job `gh:zold-io/wts.zold.io#72` already assigned to @yegor256, can't assign to @yegor256

[2018-12-05 10:58] 0crat commented on #72
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-05 10:58] 0crat commented on #72
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-05 10:58] 0crat commented on #72
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-07 16:57] yegor256 opened #73 "telegram notifications"

[2018-12-07 21:01] denis-konovalyenko commented on #68
@yegor256 , thanks for the clarification!

May I hope for crediting my wallet (e560c4fb95684c6d) with 8 ZLD at some point in time then (whether it is possible to issue this transaction manually)?

[2018-12-08 12:22] g4s8 opened #74 "503 error on API call"
0crat is not able to send Zold via API because of 503 error for `POST /do-pay`: https://sentry.io/zerocracy/farm/issues/714507585/?query=is%3Aunresolved

[2018-12-10 08:05] yegor256 commented on #74
@g4s8 are you sure the link is correct?

[2018-12-10 08:06] yegor256 opened #75 "broken JSON"
[code]

[2018-12-10 08:07] 0crat commented on #75
The job [#75](https://github.com/zold-io/wts.zold.io/issues/75) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/84f2ce70-88b7-477b-ac93-4f939bf3b23a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-10 08:07] 0crat commented on #75
Job `gh:zold-io/wts.zold.io#75` already assigned to @yegor256, can't assign to @yegor256

[2018-12-10 08:08] 0crat commented on #75
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 08:08] 0crat commented on #75
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 08:08] 0crat commented on #75
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 08:09] #75 closed

[2018-12-10 08:37] tt1403936 commented on #34
The problem still exists in wts. After payment from wts to some other wallet, wts wallet actually pushed to network and could be pulled back after wts lost it.

[2018-12-10 08:38] yegor256 commented on #75
@rultor release, tag is `0.13.1`

[2018-12-10 08:40] rultor commented on #75
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16819-445733501)

[2018-12-10 08:40] tt1403936 opened #76 "BTC to ZLD gate do not work"
There is an error nn Buy/Sell tab

Internal error at 0.0.0

Please help us improve our service and submit the following stacktrace to our GitHub repo :

RuntimeError: Can't create Bitcoin address for @: Bad Gateway
	/app/objects/btc.rb:46:in `create'
	/app/wts.rb:361:in `block in <top (required)>'
	/app/vendor/bundle/ruby/2.5.0/gems/sinatra-2.0.4/lib/sinatra/base.rb:1635:in `call'
	/app/vendor/bun

[2018-12-10 08:40] 0crat commented on #76
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-10 08:46] rultor commented on #75
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16819-445733501) (took me 6min)

[2018-12-10 08:48] yegor256 commented on #76
@tt1403936 fixed in 4eb7812823ceb034534961918a64463df2d7d572 Just refresh the page please.

[2018-12-10 08:54] 0crat commented on #76
Thanks for your contribution, @tt1403936[/z](https://www.0crat.com/u/tt1403936)! If you would be a member of [the project](https://www.0crat.com/p/CB28FH2NR), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2018-12-10 08:54] 0crat commented on #76
The job [#76](https://github.com/zold-io/wts.zold.io/issues/76) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/29347346-0a11-472b-a612-6e20c0b9593c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-10 08:55] 0crat commented on #76
Job `gh:zold-io/wts.zold.io#76` already assigned to @yegor256, can't assign to @yegor256

[2018-12-10 08:55] 0crat commented on #76
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 08:58] tt1403936 commented on #76
Now the sam error on green line and without a stack

Can't create Bitcoin address for @tt1403936, try again: Bad Gateway

"Bad gateway" is a connectivity issue I guess not a typo

[2018-12-10 11:19] yegor256 commented on #76
@tt1403936 yes, there is some issue with blockchain.com. Can you just try again?

[2018-12-10 11:36] tt1403936 commented on #76
the same error. blockchain.info api docs says that there is a limit of 20 generated unused addresses. May be thats the case, try to pass another parameter gap_limit to api.blockchain.info. Strange error though, it must be something understandable from them.

[2018-12-10 14:57] yegor256 commented on #76
@tt1403936 I did in 36b14ee2104223de83f3d6811dcfda7e80a0ebf3, try again

[2018-12-10 14:59] #73 closed

[2018-12-10 15:14] tt1403936 commented on #76
Nope. other error now

nternal error at 0.0.0

Please help us improve our service and submit the following stacktrace to our GitHub repo :

TypeError: no implicit conversion of Integer into String
	/app/objects/btc.rb:46:in `escape'
	/app/objects/btc.rb:46:in `block in create'
	/app/objects/btc.rb:46:in `each'
	/app/objects/btc.rb:46:in `map'
	/app/objects/btc.rb:46:in `create'
	/app/wts.rb:357:in

[2018-12-10 15:18] 0crat commented on #73
Job `gh:zold-io/wts.zold.io#73` is not assigned, can't get performer

[2018-12-10 15:19] 0crat commented on #73
This job is not in scope

[2018-12-10 16:49] yegor256 commented on #76
@tt1403936 fixed, try again

[2018-12-10 17:37] yegor256 opened #77 "BTC hashes in DynamoDB"
Let's keep them there

[2018-12-10 17:43] 0crat commented on #77
The job [#77](https://github.com/zold-io/wts.zold.io/issues/77) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/de701796-f400-497d-8972-aa27467ae777); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-10 17:43] 0crat commented on #77
Job `gh:zold-io/wts.zold.io#77` already assigned to @yegor256, can't assign to @yegor256

[2018-12-10 17:44] 0crat commented on #77
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 17:44] 0crat commented on #77
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 17:44] 0crat commented on #77
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-10 18:09] tt1403936 commented on #76
Now it works, thanks. Lets try to exchange :)

[2018-12-10 18:10] #76 closed

[2018-12-10 18:29] 0crat commented on #76
The job [#76](https://github.com/zold-io/wts.zold.io/issues/76) is now out of scope

[2018-12-10 18:30] 0crat commented on #76
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-11 04:38] #77 closed

[2018-12-11 04:56] 0crat commented on #77
Job was finished in 11 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-11 04:56] 0crat commented on #77
The job [#77](https://github.com/zold-io/wts.zold.io/issues/77) is now out of scope

[2018-12-11 04:57] 0crat commented on #77
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-11 09:20] denis-konovalyenko opened #78 "What does the debt is 0.02ZLD mean?"
[code]
The `Taxes: 0.00ZLD paid, the debt is 0.02ZLD` message is not clear enough. What is the `debt` here? Does this mean that the `debt` amount was not charged as a `tax` or that amount was not debited for some reasons? What may these reasons be?

[2018-12-11 09:20] 0crat commented on #78
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-11 09:20] 0crat commented on #78
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-11 09:26] denis-konovalyenko opened #79 "Why the date is now shown as an interval in hours?"
[code]
It is quite difficult to calculate the actual timestamp manually. Thus, it is not user-friendly any more. Would it be possible to revert to the previously shown values?

[2018-12-12 15:13] yegor256 opened #80 "less confirmations if amount is smaller"
See the suggestion here: https://blog.zold.io/2018/12/09/btc-to-zld.html#comment-4235547629

[2018-12-12 20:06] victornoel opened #81 "Bitcoin address not accepted during ZLD to BTC operation"
I tried to transform some zold into btc and entered a normal BTC address (a plain string with random characters and numbers, starting with bc1q, generated with the electrum btc client), the WTS failed and said:
[code]

I suppose it is expecting some kind of special format for the address but this is explained nowhere...

[2018-12-12 20:06] 0crat commented on #81
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-12 20:06] 0crat commented on #81
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-13 04:45] yegor256 opened #82 "telegram announcement for everybody"
Let's make them visible for everybody

[2018-12-13 04:46] 0crat commented on #81
The job [#81](https://github.com/zold-io/wts.zold.io/issues/81) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/73f28c09-b517-4a1f-b206-c983bc68b7a2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-13 04:46] 0crat commented on #81
Job `gh:zold-io/wts.zold.io#81` already assigned to @yegor256, can't assign to @yegor256

[2018-12-13 04:47] 0crat commented on #80
The job [#80](https://github.com/zold-io/wts.zold.io/issues/80) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/9f9e66a4-42ad-4f34-bb00-3ba2718e4b98); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-13 04:50] 0crat commented on #81
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-13 04:50] 0crat commented on #80
Job `gh:zold-io/wts.zold.io#80` already assigned to @yegor256, can't assign to @yegor256

[2018-12-13 04:50] 0crat commented on #81
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2018-12-13 04:50] 0crat commented on #80
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-13 04:50] 0crat commented on #80
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-13 04:50] 0crat commented on #80
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-13 04:54] yegor256 commented on #80
@yegor256 fixed

[2018-12-13 04:54] #80 closed

[2018-12-13 05:11] 0crat commented on #80
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-13 05:11] 0crat commented on #80
The job [#80](https://github.com/zold-io/wts.zold.io/issues/80) is now out of scope

[2018-12-13 05:11] 0crat commented on #80
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-13 18:50] 0crat commented on #82
The job [#82](https://github.com/zold-io/wts.zold.io/issues/82) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/b2e5e7f6-8f53-466e-9558-11d480bfee91); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-13 18:50] 0crat commented on #82
Job `gh:zold-io/wts.zold.io#82` already assigned to @yegor256, can't assign to @yegor256

[2018-12-13 18:50] 0crat commented on #82
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-13 18:51] 0crat commented on #82
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-13 18:51] 0crat commented on #82
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 10:26] lov3catch opened #83 "Question: how to mine?"
How to mine?

[2018-12-14 11:25] #83 closed, assigned to nobody

[2018-12-14 11:26] yegor256 opened #84 "prohibit parallel ops"
Let's make sure a user can't run two ops at the same time

[2018-12-14 11:40] 0crat commented on #84
Job `gh:zold-io/wts.zold.io#84` already assigned to @yegor256, can't assign to @yegor256

[2018-12-14 11:44] 0crat commented on #84
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 11:45] 0crat commented on #84
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 11:45] 0crat commented on #84
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 11:45] 0crat commented on #83
Job `gh:zold-io/wts.zold.io#83` is not assigned, can't get performer

[2018-12-14 11:45] 0crat commented on #83
This job is not in scope

[2018-12-14 13:48] g4s8 opened #85 "It's possible to sell ZLD without key gap"
Steps to reproduce:
 1. Go to [buy/sell](https://wts.zold.io/btc) page
 2. Enter valid amount (e.g. $1) and valid BTC address
 3. Enter `00000000` as a key gap
 4. Submit query

Expected: wts should not send BTC if key gap is not correct

Actual: wts sent BTC and show this exchange in transactin

[code]

[2018-12-14 13:48] 0crat commented on #85
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-14 15:06] emilianodellacasa opened #86 "ZLD not deducted from wallet when sending BTC"
Wehn trying to convert ZLD to BTC the process works correctly and BTC are correctly received, however ZLDs are not deducted from wallet.

[2018-12-14 15:06] 0crat commented on #86
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-14 15:06] yegor256 commented on #86
@emilianodellacasa thanks

[2018-12-14 15:07] 0crat commented on #86
The job [#86](https://github.com/zold-io/wts.zold.io/issues/86) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/0f3a9a6a-59c1-4549-951f-cd442033ede3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2018-12-14 15:07] 0crat commented on #86
Job `gh:zold-io/wts.zold.io#86` already assigned to @yegor256, can't assign to @yegor256

[2018-12-14 15:08] 0crat commented on #86
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-14 15:08] 0crat commented on #86
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa)

[2018-12-14 18:21] yegor256 commented on #86
@emilianodellacasa should be fixed after #84

[2018-12-14 18:21] #86 closed

[2018-12-14 18:21] yegor256 commented on #84
@rultor release, tag is `0.13.2`

[2018-12-14 18:39] 0crat commented on #86
Job was finished in 3 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2018-12-14 18:40] 0crat commented on #86
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-15 08:34] rultor commented on #84
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/16900-447411237)

[2018-12-15 08:45] rultor commented on #84
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/16900-447411237) (took me 7min)

[2018-12-17 13:42] blackout314 opened #87 "auto pull wallet when user do login"
auto pull wallet when user do login, is more user friendly and have less cost to implement

[2018-12-17 13:42] 0crat commented on #87
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-17 13:42] 0crat commented on #87
@blackout314[/z](https://www.0crat.com/u/blackout314) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-17 13:53] emilianodellacasa opened #88 "ZLD to BTC gate not working"
Today I tried several times to exchange ZLD for BTC to test issue #86, but it never worked

[2018-12-17 13:53] 0crat commented on #88
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-17 13:54] yegor256 commented on #88
@emilianodellacasa please attach your logs

[2018-12-17 13:55] emilianodellacasa commented on #88
I think this is the reason:

ERROR: RuntimeError: Can't read RSA key (Neither PUB key nor PRIV key: nested asn1 error)
/app/vendor/bundle/ruby/2.5.0/gems/zold-0.18.9/lib/zold/key.rb:90:in `rescue in rsa'
	/app/vendor/bundle/ruby/2.5.0/gems/zold-0.18.9/lib/zold/key.rb:87:in `rsa'
	/app/vendor/bundle/ruby/2.5.0/gems/zold-0.18.9/lib/zold/key.rb:62:in `to_s'
	/app/objects/item.rb:66:in `key'
	/app/obj

[2018-12-17 17:18] #84 closed

[2018-12-17 17:40] 0crat commented on #84
The job [#84](https://github.com/zold-io/wts.zold.io/issues/84) is now out of scope

[2018-12-17 17:40] 0crat commented on #84
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-17 23:11] blackout314 commented on #88
[code]

[2018-12-22 08:53] yegor256 commented on #85
@g4s8  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2018-12-22 08:53] #85 closed

[2018-12-22 08:53] #82 closed

[2018-12-22 09:10] 0crat commented on #85
Job `gh:zold-io/wts.zold.io#85` is not assigned, can't get performer

[2018-12-22 09:11] 0crat commented on #85
This job is not in scope

[2018-12-22 09:11] 0crat commented on #82
The job [#82](https://github.com/zold-io/wts.zold.io/issues/82) is now out of scope

[2018-12-22 09:14] 0crat commented on #82
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2018-12-25 13:33] yegor256 commented on #79
@denis-konovalyenko you can move the mouse over the "31h" and you will see the actual ISO-8601 date.

[2018-12-25 13:39] #79 closed

[2018-12-25 13:47] denis-konovalyenko commented on #79
@yegor256 , thanks for responding!

I am afraid, it is still embarrassing. I need to move the mouse pointer over every entry in the list. How about making this vice versa - printing the actual ISO-8601 dates and showing hours on hovering? It is more significant to see the transaction timestamps rather than how much time has flown since the actual transaction occurred.

[2018-12-25 13:53] denis-konovalyenko commented on #79
@yegor256 , one more thing on that. In any way you decide to go on with this, could you please take care about the conistensy among the list label and its data. I.e. "Date" with ISO-8601 date or "Interval since the transaction occurred" (or something better) with hours?

Thanks!

[2018-12-25 13:56] 0crat commented on #79
Job `gh:zold-io/wts.zold.io#79` is not assigned, can't get performer

[2018-12-25 13:56] 0crat commented on #79
This job is not in scope

[2018-12-25 14:07] denis-konovalyenko opened #89 "Beneficiary infomation is not always relevant"
The wallet information page lists transactions the following way (example):
[code]
where `Beneficiary` column may contain not only the beneficiary's wallet information but correspondent's as well. My wallet ID is `e560c4fb95684c6d`, for instance.

Would it be possible to add a new column to state the correspondent account (wallet) information or change the `Beneficiary` label to something better?

[2018-12-25 14:07] 0crat commented on #89
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2018-12-25 14:07] 0crat commented on #89
@denis-konovalyenko[/z](https://www.0crat.com/u/denis-konovalyenko) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2018-12-25 14:11] denis-konovalyenko commented on #78
The debt value has changed to `0.03ZLD` for some reasons (see below):
[code]

[2018-12-27 16:46] yegor256 opened #90 "sign-up bonus only when the user is known to Zerocrat"
Let's pay it only if the user is known to us

[2018-12-31 11:37] yegor256 opened #91 "print BTC balance to Telegram"
Let's print it out, after each BTC transaction.

[2019-01-05 13:03] filfreire opened #92 ""No nodes have a wallet" error when attempting to pull it"
@yegor256 I opened the logs after `Pulling my wallet` (wallet is `106f5919118568f1`) and got the following error message:

[code]

[2019-01-05 13:03] 0crat commented on #92
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-05 13:03] 0crat commented on #92
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-07 09:46] yegor256 commented on #92
@rultor release, tag is `0.13.3`

[2019-01-07 09:46] #91 closed

[2019-01-07 09:49] rultor commented on #92
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17186-451878642) (spent 2min)

[code]

[2019-01-07 10:04] 0crat commented on #91
Job `gh:zold-io/wts.zold.io#91` is not assigned, can't get performer

[2019-01-07 10:04] 0crat commented on #91
This job is not in scope

[2019-01-07 10:12] yegor256 commented on #92
@rultor release, tag is `0.13.3`

[2019-01-07 10:13] rultor commented on #92
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17186-451885873)

[2019-01-07 10:17] yegor256 commented on #89
@denis-konovalyenko fixed in 2f79953 thanks!

[2019-01-07 10:17] #89 closed

[2019-01-07 10:17] rultor commented on #92
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17186-451885873) (spent 4min)

[code]

[2019-01-07 10:18] yegor256 commented on #88
@emilianodellacasa This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-01-07 10:18] #88 closed

[2019-01-07 10:34] 0crat commented on #89
Job `gh:zold-io/wts.zold.io#89` is not assigned, can't get performer

[2019-01-07 10:34] 0crat commented on #88
Job `gh:zold-io/wts.zold.io#88` is not assigned, can't get performer

[2019-01-07 10:35] 0crat commented on #89
This job is not in scope

[2019-01-07 10:35] 0crat commented on #88
This job is not in scope

[2019-01-07 15:32] rultor commented on #92
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17186-451971546) (spent 4min)

[code]

[2019-01-07 15:40] yegor256 commented on #92
@rultor release, tag is `0.13.3`

[2019-01-07 15:40] rultor commented on #92
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17186-451976111)

[2019-01-07 15:45] rultor commented on #92
@filfreire @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17186-451976111) (spent 5min)

[code]

[2019-01-07 16:13] yegor256 commented on #92
@rultor release, tag is `0.13.3`

[2019-01-07 16:14] rultor commented on #92
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17186-451987723)

[2019-01-07 16:21] rultor commented on #92
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17186-451987723) (took me 6min)

[2019-01-07 16:55] 0crat commented on #92
Job `gh:zold-io/wts.zold.io#92` is not assigned, can't get performer

[2019-01-07 16:57] 0crat commented on #92
This job is not in scope

[2019-01-08 05:19] yegor256 opened #93 "show total memory in the footer"
Let's show that numbers

[2019-01-08 05:47] 0crat commented on #93
Job `gh:zold-io/wts.zold.io#93` is not assigned, can't get performer

[2019-01-08 05:47] 0crat commented on #93
This job is not in scope

[2019-01-08 06:16] yegor256 commented on #90
@rultor release, tag is `0.14.1`

[2019-01-08 06:17] rultor commented on #90
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17213-452187991)

[2019-01-08 06:31] yegor256 opened #94 "login doesn't work"

[2019-01-08 06:34] yegor256 commented on #94
@rultor release, tag is `0.14.2`

[2019-01-08 06:35] rultor commented on #94
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17214-452190869)

[2019-01-08 06:39] rultor commented on #94
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17214-452190869) (took me 4min)

[2019-01-08 06:41] #94 closed

[2019-01-08 06:41] 0crat commented on #90
Job `gh:zold-io/wts.zold.io#90` is not assigned, can't get performer

[2019-01-08 06:41] 0crat commented on #90
This job is not in scope

[2019-01-08 06:41] yegor256 opened #95 "let's make keygap longer"
Let's use 16 symbols.

[2019-01-08 06:44] #95 closed

[2019-01-08 06:44] yegor256 opened #96 "BTC rate, instead of USD rate"
Let's convert to BTC, not USD.

[2019-01-08 07:00] 0crat commented on #94
Job `gh:zold-io/wts.zold.io#94` is not assigned, can't get performer

[2019-01-08 07:00] 0crat commented on #95
Job `gh:zold-io/wts.zold.io#95` is not assigned, can't get performer

[2019-01-08 07:00] 0crat commented on #94
This job is not in scope

[2019-01-08 07:00] 0crat commented on #95
This job is not in scope

[2019-01-08 07:03] yegor256 commented on #96
@rultor release, tag is `0.15.0`

[2019-01-08 07:04] rultor commented on #96
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17215-452196038)

[2019-01-08 07:09] rultor commented on #96
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17215-452196038) (took me 4min)

[2019-01-08 07:10] #96 closed

[2019-01-08 10:28] yegor256 opened #97 "/rate"
Let's publish all we know about the current rate.

[2019-01-08 13:49] yegor256 commented on #97
@rultor release, tag is `0.16.0`

[2019-01-08 13:50] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17222-452304526)

[2019-01-08 13:53] yegor256 commented on #97
@rultor stop

[2019-01-08 13:53] rultor commented on #97
@yegor256 OK, I'll try to stop current task.

[2019-01-08 13:54] rultor commented on #97
@yegor256 Sorry, I failed to stop the previous command, however it has the following result: Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17222-452305531) (spent 3min)

[code]

[2019-01-08 14:04] yegor256 commented on #97
@rultor release, tag is `0.16.0`

[2019-01-08 14:06] rultor commented on #97
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17222-452309405)

[2019-01-08 14:11] rultor commented on #97
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17222-452309405) (took me 5min)

[2019-01-08 14:12] #97 closed

[2019-01-08 18:01] yegor256 commented on #81
@victornoel This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-01-08 18:01] #81 closed

[2019-01-08 18:02] yegor256 opened #98 "unique ops codes"
Let's assign them and display

[2019-01-08 18:18] 0crat commented on #81
The job [#81](https://github.com/zold-io/wts.zold.io/issues/81) is now out of scope

[2019-01-08 18:18] 0crat commented on #81
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-01-08 18:19] yegor256 commented on #98
@rultor release, tag is `0.16.1`

[2019-01-08 18:20] rultor commented on #98
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17230-452399653)

[2019-01-08 18:41] 0crat commented on #98
Job `gh:zold-io/wts.zold.io#98` is not assigned, can't get performer

[2019-01-08 18:42] 0crat commented on #98
This job is not in scope

[2019-01-08 18:43] yegor256 opened #99 "distribute hosting bonuses, if they exist"
Let's distribute what exists, not just regularly.

[2019-01-08 19:34] yegor256 commented on #99
@rultor release, tag is `0.16.2`

[2019-01-08 19:36] rultor commented on #99
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17232-452424184)

[2019-01-08 19:40] rultor commented on #99
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17232-452424184) (took me 4min)

[2019-01-09 05:02] #99 closed

[2019-01-09 05:19] 0crat commented on #99
Job `gh:zold-io/wts.zold.io#99` is not assigned, can't get performer

[2019-01-09 05:19] 0crat commented on #99
This job is not in scope

[2019-01-09 14:17] yegor256 opened #100 "render the graph with the rate"
Let's show the graph.

[2019-01-09 15:01] blackout314 opened #101 "/rate in user menu"
we miss a simple link of rate in menu
<img width="554" alt="screen shot 2019-01-09 at 15 59 37" src="https://user-images.githubusercontent.com/818568/50907500-d5842c80-1427-11e9-8ace-b4506d041825.png">

[2019-01-09 15:01] 0crat commented on #101
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-09 15:01] 0crat commented on #101
@blackout314[/z](https://www.0crat.com/u/blackout314) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-09 17:39] yegor256 commented on #100
@rultor release, tag is `0.17.0`

[2019-01-09 17:48] rultor commented on #100
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17262-452784749) (spent 4min)

[code]

[2019-01-09 17:53] yegor256 commented on #101
@blackout314 fixed in 97fd9cf thanks!

[2019-01-09 17:53] #101 closed

[2019-01-09 17:54] yegor256 commented on #100
@rultor release, tag is `0.17.0`

[2019-01-09 18:09] rultor commented on #100
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17262-452790458)

[2019-01-09 18:14] rultor commented on #100
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17262-452790458) (took me 4min)

[2019-01-09 18:14] 0crat commented on #101
Job `gh:zold-io/wts.zold.io#101` is not assigned, can't get performer

[2019-01-09 18:14] #100 closed

[2019-01-09 18:15] 0crat commented on #101
This job is not in scope

[2019-01-09 18:30] 0crat commented on #100
Job `gh:zold-io/wts.zold.io#100` is not assigned, can't get performer

[2019-01-09 18:31] 0crat commented on #100
This job is not in scope

[2019-01-10 08:43] emilianodellacasa opened #102 "Error while sending BTC"
I tried to exchange ZLD to BTC, and this is what I saw in the log:

[code]

Apparently, the 4ZLD have been deducted from my account

[2019-01-10 08:43] 0crat commented on #102
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-10 09:33] 0pdd opened #103 "test_bank.rb:37-39: This unit test doesn't work for some..."
The puzzle `91-c7ddbd51` from #91 has to be resolved:

https://github.com/zold-io/wts.zold.io/blob/9c1c970d5700b9b7d9238ba61c2298c4811a6b75/test/test_bank.rb#L37-L39

The puzzle was created by @yegor256 on 10-Jan-19.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is fixed and the text of the puzzle is _removed_ from the so

[2019-01-10 09:33] 0pdd commented on #91
@yegor256 the puzzle [#103](https://github.com/zold-io/wts.zold.io/issues/103) is still not solved.

[2019-01-10 09:34] 0crat commented on #103
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-10 09:34] yegor256 commented on #102
@rultor release, tag is `0.17.1`

[2019-01-10 09:35] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17272-453030116)

[2019-01-10 09:35] 0crat commented on #103
Job [#103](https://github.com/zold-io/wts.zold.io/issues/103) is now in scope, role is `DEV`

[2019-01-10 09:37] rultor commented on #102
@emilianodellacasa @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17272-453030116) (spent 2min)

[code]

[2019-01-10 09:42] yegor256 commented on #102
@rultor release, tag is `0.17.1`

[2019-01-10 09:43] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17272-453032596)

[2019-01-10 09:47] rultor commented on #102
@emilianodellacasa @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17272-453032596) (spent 4min)

[code]

[2019-01-10 10:06] yegor256 commented on #102
@rultor release, tag is `0.17.1`

[2019-01-10 10:07] rultor commented on #102
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17272-453040133)

[2019-01-10 10:13] rultor commented on #102
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17272-453040133) (took me 6min)

[2019-01-10 10:35] yegor256 commented on #102
@emilianodellacasa
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-01-10 10:35] #102 closed

[2019-01-10 10:55] 0crat commented on #102
Job `gh:zold-io/wts.zold.io#102` is not assigned, can't get performer

[2019-01-10 10:55] 0crat commented on #102
This job is not in scope

[2019-01-10 12:26] n4kashu opened #104 "missing hosting bonus payment"
Hey,

I believe i'm missing one hosting bonus payment:

ID | Amount | Date | From/To | Details
- | 0.20 | 11m | e5b5fc7379d80ed7 | Hosting bonus for 104.227.245.154 4096 42
- | 0.17 | 1h | e5b5fc7379d80ed7 | Hosting bonus for 104.227.245.154 4096 40
- | 0.33 | 3h | e5b5fc7379d80ed7 | Hosting bonus for 104.227.245.154 4096 35
- | 0.20 | 4h | e5b5fc7379d80ed7 | Hosting bonus for 104.227.245.154 4096

[2019-01-10 13:37] yegor256 commented on #104
@n4kashu you are not supposed to get them every hour. They are distributed randomly among _some_ available nodes. I explained better in the blog: https://github.com/zold-io/blog.zold.io/commit/93f1e4970f2c8f6f6ab0485e4a3e33f388ae3bae

[2019-01-10 13:37] #104 closed

[2019-01-10 13:39] yegor256 opened #105 "graph is not drawing correctly"

[2019-01-10 13:55] 0crat commented on #104
Job `gh:zold-io/wts.zold.io#104` is not assigned, can't get performer

[2019-01-10 13:55] 0crat commented on #104
This job is not in scope

[2019-01-10 13:55] yegor256 commented on #105
@rultor release, tag is `0.17.2`

[2019-01-10 13:55] n4kashu commented on #104
I understood it the way that it is based on score the node has and 8 best scoring nodes with score above some treshold(score>4??) is getting the reward paid.. my node 104.227.245.154:4096 is on top, currently it has the best score since several hours.. following this logic it is weird that it does not get paid as it is ,by the metrics you have set, the best performing POW on the network.. do I mis

[2019-01-10 13:56] rultor commented on #105
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17276-453103643)

[2019-01-10 14:01] rultor commented on #105
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17276-453103643) (took me 5min)

[2019-01-10 14:01] n4kashu commented on #104
oh I can see now on the telegram channel that there was no reward paid that hour to anybody..

[2019-01-11 04:19] #105 closed

[2019-01-11 04:41] 0crat commented on #105
Job `gh:zold-io/wts.zold.io#105` is not assigned, can't get performer

[2019-01-11 04:41] 0crat commented on #105
This job is not in scope

[2019-01-11 05:53] n4kashu opened #106 "hosting bonus payment missing"
There was no payment of hosting bonuses yesterday(2019-01-10) at 10 and 14 am as per telegram channel.

[2019-01-11 05:53] 0crat commented on #106
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-11 05:53] 0crat commented on #106
@n4kashu[/z](https://www.0crat.com/u/n4kashu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-11 11:43] yegor256 opened #107 "the graph is still not accurate"

[2019-01-11 12:45] #107 closed

[2019-01-11 12:45] yegor256 commented on #106
@rultor release, tag is `0.17.3`

[2019-01-11 12:46] rultor commented on #106
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17291-453506011)

[2019-01-11 12:51] rultor commented on #106
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17291-453506011) (took me 4min)

[2019-01-11 12:57] yegor256 commented on #106
@n4kashu should be fine now, thanks for reporting

[2019-01-11 12:57] #106 closed

[2019-01-11 13:06] 0crat commented on #107
Job `gh:zold-io/wts.zold.io#107` is not assigned, can't get performer

[2019-01-11 13:08] 0crat commented on #107
This job is not in scope

[2019-01-11 13:14] 0crat commented on #106
Job `gh:zold-io/wts.zold.io#106` is not assigned, can't get performer

[2019-01-11 13:15] 0crat commented on #106
This job is not in scope

[2019-01-11 15:41] n4kashu commented on #106
just to let you know that it is not working at all since the release.. :P

[2019-01-11 17:20] n4kashu opened #108 "issue #106 fix not working at all.."
hi. seems like the version you have pushed to fix issue #106 is not working at all. no reward at all paid since deployment.

[2019-01-11 17:20] 0crat commented on #108
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-11 17:20] 0crat commented on #108
@n4kashu[/z](https://www.0crat.com/u/n4kashu) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-13 06:45] theautobot opened #109 "add US dollar equivalent to Total Fund caption."
add US dollar equivalent to the title 'Total Fund (F): 0.2312BTC'
like in 'Exchange Rate: 0.00025000 / $0.91 at the current market price'

[2019-01-13 06:45] 0crat commented on #109
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-13 06:45] 0crat commented on #109
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-13 07:28] theautobot opened #110 "when i try to PULL wallet in wts nothing happens"
here is the log file

138.201.231.23:4096: Not Found (HTTP code 404, instead of 200) in 187ms
46.38.239.39:4096: Not Found (HTTP code 404, instead of 200) in 200ms
62.113.238.236:4096: Not Found (HTTP code 404, instead of 200) in 212ms
b2.zold.io:4096: Not Found (HTTP code 404, instead of 200) in 230ms
78.26.142.131:4096: Not Found (HTTP code 404, instead of 200) in 264ms
139.180.141.22:4096: Not

[2019-01-14 11:51] ammaratef45 opened #111 "How to get apikey from keygap using API?"
The API documentation doesn't mention how to get the API key using key gap
I think it's by sending the key gap as a post request to do-API-token
It should be added.

[2019-01-14 11:51] 0crat commented on #111
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-14 11:51] 0crat commented on #111
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-01-15 13:41] yegor256 commented on #110
@theautobot the network doesn't have your wallet anymore, sorry

[2019-01-15 13:41] #110 closed

[2019-01-15 14:05] 0crat commented on #110
Job `gh:zold-io/wts.zold.io#110` is not assigned, can't get performer

[2019-01-15 14:05] 0crat commented on #110
This job is not in scope

[2019-01-16 08:15] yegor256 commented on #108
@n4kashu
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-01-16 08:15] #108 closed

[2019-01-16 08:15] yegor256 commented on #111
@ammaratef45 it seems to be impossible. You have to be logged in before you get the API token.

[2019-01-16 08:15] #111 closed

[2019-01-16 08:19] yegor256 commented on #109
@theautobot fixed in d5a189a, thanks

[2019-01-16 08:19] #109 closed

[2019-01-16 08:19] yegor256 commented on #109
@rultor release, tag is `0.17.4`

[2019-01-16 08:20] rultor commented on #109
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17378-454691009)

[2019-01-16 08:34] 0crat commented on #108
Job `gh:zold-io/wts.zold.io#108` is not assigned, can't get performer

[2019-01-16 08:34] 0crat commented on #111
Job `gh:zold-io/wts.zold.io#111` is not assigned, can't get performer

[2019-01-16 08:38] 0crat commented on #109
Job `gh:zold-io/wts.zold.io#109` is not assigned, can't get performer

[2019-01-16 08:38] 0crat commented on #108
This job is not in scope

[2019-01-16 08:38] 0crat commented on #111
This job is not in scope

[2019-01-16 08:39] 0crat commented on #109
This job is not in scope

[2019-01-16 12:55] yegor256 opened #112 "ignore masters when paying bonuses"
Let's not pay bonuses to master nodes.

[2019-01-16 15:19] yegor256 commented on #112
@rultor release, tag is `0.18.0`

[2019-01-16 15:21] rultor commented on #112
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17385-454817151)

[2019-01-16 15:39] #112 closed

[2019-01-16 16:06] 0crat commented on #112
Job `gh:zold-io/wts.zold.io#112` is not assigned, can't get performer

[2019-01-16 16:07] 0crat commented on #112
This job is not in scope

[2019-01-17 12:19] yegor256 opened #113 "payment isn't processed because of wrong payment details"
[code]

[2019-01-17 12:35] yegor256 commented on #113
@rultor release, tag is `0.18.1`

[2019-01-17 12:36] rultor commented on #113
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17394-455156685)

[2019-01-17 12:41] rultor commented on #113
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17394-455156685) (took me 4min)

[2019-01-17 12:43] #113 closed

[2019-01-17 13:16] 0crat commented on #113
Job `gh:zold-io/wts.zold.io#113` is not assigned, can't get performer

[2019-01-17 13:16] 0crat commented on #113
This job is not in scope

[2019-01-18 12:47] yegor256 opened #114 "rate.json"
Let's add JSON version of the page.

[2019-01-18 12:54] yegor256 commented on #114
@rultor release, tag is `0.18.2`

[2019-01-18 12:55] rultor commented on #114
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17407-455536621)

[2019-01-18 13:01] rultor commented on #114
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17407-455536621) (took me 5min)

[2019-01-18 13:03] yegor256 commented on #114
@rultor release, tag is `0.18.3`

[2019-01-18 13:04] rultor commented on #114
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17407-455539024)

[2019-01-18 13:09] rultor commented on #114
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17407-455539024) (took me 4min)

[2019-01-18 13:10] #114 closed

[2019-01-19 14:54] yegor256 opened #115 "zold 0.22.3"
let's use it

[2019-01-19 14:55] yegor256 commented on #115
@rultor release, tag is `0.18.4`

[2019-01-19 14:57] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17431-455787160)

[2019-01-19 15:02] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17431-455787160) (took me 5min)

[2019-01-19 15:03] #115 closed

[2019-01-19 15:11] yegor256 commented on #115
@rultor release, tag is `0.18.5`

[2019-01-19 15:12] rultor commented on #115
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17431-455788379)

[2019-01-19 15:17] rultor commented on #115
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17431-455788379) (took me 4min)

[2019-01-19 15:20] 0crat commented on #115
Job `gh:zold-io/wts.zold.io#115` is not assigned, can't get performer

[2019-01-19 15:20] 0crat commented on #115
This job is not in scope

[2019-01-29 22:57] 0crat commented on #31
The job [#31](https://github.com/zold-io/wts.zold.io/issues/31) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/8ce4121f-a291-4a0b-b9f3-2ce1728e087b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-01-29 22:57] 0crat commented on #33
The job [#33](https://github.com/zold-io/wts.zold.io/issues/33) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/ac3e94d4-bf18-4bc5-aa6a-05b0278e4cbb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-01-29 23:05] 0crat commented on #40
The job [#40](https://github.com/zold-io/wts.zold.io/issues/40) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/eddc13a7-8064-4739-9457-12c038219091); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-01-29 23:18] 0crat commented on #103
The job [#103](https://github.com/zold-io/wts.zold.io/issues/103) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/b7b50f49-399d-4ec1-899f-1b24c1e1315b); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocr

[2019-01-29 23:22] 0crat commented on #38
The job [#38](https://github.com/zold-io/wts.zold.io/issues/38) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/5ddf511d-a3d4-4e1b-848b-31739a9482c9); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-01-29 23:32] 0crat commented on #43
The job [#43](https://github.com/zold-io/wts.zold.io/issues/43) assigned to @emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa), here is [why](https://www.0crat.com/footprint/CB28FH2NR/021f4b24-ac74-4445-95a7-703f5ae496bb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocrac

[2019-01-30 10:10] g4s8 opened #116 "Invoice API"
To implement 0crat project funding with ZLD (https://github.com/zerocracy/farm/issues/1858) we need to be able to generate unique invoice for each funding operation and check the balance recceived on this invoice.

I see this flow as:
 1. User clicks on "fund with ZLD" button
 2. 0crat asks wts API to generate new invoice address, save it, and returns it to the user
 3. User send some amount of Zo

[2019-01-30 10:10] 0crat commented on #116
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-01-30 19:34] yegor256 commented on #116
@g4s8 I would suggest a different scenario:

1. 0crat gets a new invoice via `/invoice.json` URL (I will implement it)
2. 0crat registers a callback: `/wait-for?invoice=PREFIX&details=text&callback=https://www.0crat.com/zold`
3. Once a payment arrives to invoice `PREFIX` with `text` in the details, WTS sends GET request to `https://www.0crat.com/zold?wallet=...&txn=123&amount=54.00`
4. 0crat respo

[2019-01-30 19:35] yegor256 opened #117 "latest version of zold"
Let's use it

[2019-01-30 20:30] g4s8 commented on #116
@yegor256 yes, it looks easier, but with such implementation we have to ensure that callback was sent by wts, it may be done if wts will add a signature header of the callback HTTP request (usually request query includes random nonce and a timestamp to generate unique signatures and validate by time), e.g. using hmac-sha256 with secret key.

[2019-01-31 07:49] yegor256 commented on #117
@rultor release, tag is `0.18.6`

[2019-01-31 07:50] rultor commented on #117
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17625-459248803)

[2019-01-31 07:54] rultor commented on #117
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17625-459248803) (took me 4min)

[2019-01-31 09:55] #117 closed

[2019-01-31 10:42] 0crat commented on #117
Job `gh:zold-io/wts.zold.io#117` is not assigned, can't get performer

[2019-01-31 10:48] 0crat commented on #117
This job is not in scope

[2019-02-01 14:24] yegor256 opened #118 "4% rate increase"
Let's increase it, as promised

[2019-02-01 14:32] rultor commented on #118
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17643-459739229) (took me 5min)

[2019-02-01 14:49] #118 closed

[2019-02-01 15:07] 0crat commented on #118
Job `gh:zold-io/wts.zold.io#118` is not assigned, can't get performer

[2019-02-01 15:07] 0crat commented on #118
This job is not in scope

[2019-02-03 23:38] 0crat commented on #31
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-03 23:39] 0crat commented on #33
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-03 23:39] 0crat commented on #40
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-03 23:39] 0crat commented on #103
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-03 23:39] 0crat commented on #38
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-03 23:39] 0crat commented on #43
@emilianodellacasa[/z](https://www.0crat.com/u/emilianodellacasa) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-02-04 07:24] yegor256 opened #119 "Can't sell, since wrong details"
[code]

[2019-02-04 12:03] yegor256 commented on #119
@rultor release, tag is `0.18.8`

[2019-02-04 12:03] rultor commented on #119
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17686-460224563)

[2019-02-04 12:08] rultor commented on #119
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17686-460224563) (took me 4min)

[2019-02-04 12:16] #119 closed

[2019-02-04 12:33] 0crat commented on #119
Job `gh:zold-io/wts.zold.io#119` is not assigned, can't get performer

[2019-02-04 12:34] 0crat commented on #119
This job is not in scope

[2019-02-04 17:25] yegor256 opened #120 "restart should be more verbose"
Let's make a separate page for it.

[2019-02-05 09:37] yegor256 commented on #120
@rultor release, tag is `0.18.9`

[2019-02-05 09:38] rultor commented on #120
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17703-460571528)

[2019-02-05 09:44] rultor commented on #120
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17703-460571528) (took me 5min)

[2019-02-05 09:48] #120 closed

[2019-02-05 10:59] 0crat commented on #120
Job `gh:zold-io/wts.zold.io#120` is not assigned, can't get performer

[2019-02-05 11:05] 0crat commented on #120
This job is not in scope

[2019-02-06 10:33] g4s8 opened #121 "Error on login"
When I try to login to wts when I'm not authorized at Github I'm getting error page but login successfully.

To reproduce:
 1. start new session (e.g. private window in browser)
 2. go to wts.zold.io click login (browser opens github.com login page)
 3. enter Github username/password, click "Sign in" button
 4. browser opens a page "You are being redirected to authorized application", click "allow

[2019-02-06 10:33] 0crat commented on #121
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-06 15:38] yegor256 opened #122 "confirmations are not calculated correctly"

[2019-02-06 15:45] yegor256 commented on #122
@rultor release, tag is `0.18.10`

[2019-02-06 15:54] rultor commented on #122
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17731-461071585) (took me 5min)

[2019-02-06 16:00] #122 closed

[2019-02-06 16:21] 0crat commented on #122
Job `gh:zold-io/wts.zold.io#122` is not assigned, can't get performer

[2019-02-06 16:21] 0crat commented on #122
This job is not in scope

[2019-02-07 11:53] yegor256 opened #123 "BTC payments are not received"
Some issue with blockchain.com, I believe...

[2019-02-07 15:18] yegor256 commented on #123
@rultor release, tag is `0.18.11`

[2019-02-07 15:18] rultor commented on #123
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17744-461464443)

[2019-02-07 15:23] rultor commented on #123
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17744-461464443) (took me 5min)

[2019-02-08 14:25] yegor256 opened #124 "increase selling limit to 16 ZLD"

[2019-02-08 14:30] yegor256 commented on #124
@rultor release, tag is `0.18.12`

[2019-02-08 14:31] rultor commented on #124
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17759-461820631)

[2019-02-08 14:36] rultor commented on #124
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17759-461820631) (took me 4min)

[2019-02-09 08:23] #124 closed

[2019-02-09 08:33] yegor256 commented on #123
@rultor release, tag is `0.18.12`

[2019-02-09 08:34] rultor commented on #123
@yegor256 Invalid release tag `0.18.12` specified. There is already a release `0.18.12` newer than the given release in this repository.

[2019-02-09 08:34] rultor commented on #123
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-02-09 08:36] yegor256 commented on #123
@rultor release, tag is `0.18.13`

[2019-02-09 08:36] rultor commented on #123
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17744-462025754)

[2019-02-09 08:41] rultor commented on #123
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17744-462025754) (took me 4min)

[2019-02-09 08:45] 0crat commented on #124
Job `gh:zold-io/wts.zold.io#124` is not assigned, can't get performer

[2019-02-09 08:46] 0crat commented on #124
This job is not in scope

[2019-02-09 12:14] yegor256 commented on #123
@rultor release, tag is `0.18.14`

[2019-02-09 12:17] rultor commented on #123
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17744-462039547)

[2019-02-09 12:22] rultor commented on #123
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17744-462039547) (took me 5min)

[2019-02-09 12:28] #123 closed

[2019-02-09 12:36] yegor256 commented on #123
@rultor release, tag is `0.18.15`

[2019-02-09 12:37] rultor commented on #123
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17744-462040990)

[2019-02-09 12:42] rultor commented on #123
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17744-462040990) (took me 5min)

[2019-02-09 12:45] 0crat commented on #123
Job `gh:zold-io/wts.zold.io#123` is not assigned, can't get performer

[2019-02-09 12:45] 0crat commented on #123
This job is not in scope

[2019-02-10 06:48] yegor256 opened #125 "swap btc addresses"

[2019-02-10 07:17] yegor256 commented on #125
@rultor release, tag is `0.18.16`

[2019-02-10 07:18] rultor commented on #125
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17786-462109893)

[2019-02-10 07:23] rultor commented on #125
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17786-462109893) (took me 4min)

[2019-02-10 08:29] #125 closed

[2019-02-10 08:52] 0crat commented on #125
Job `gh:zold-io/wts.zold.io#125` is not assigned, can't get performer

[2019-02-10 08:52] 0crat commented on #125
This job is not in scope

[2019-02-10 09:14] yegor256 opened #126 "mobile registration API"
Let's add these entry points:

`GET /mobile/send?phone=+15551234567`: returns `200` if the SMS has been sent to the user with the authentication code.

`GET /mobile/token?phone=+15551234567&code=6666`: returns API access token. The `code` is the code from the SMS.

Both requests must have `app=1234567` parameter with the mobile app ID (which is a secret).

[2019-02-10 15:14] victornoel opened #127 "Support bech32 addresses for btc transfer"
One of the most used btc client, electrum, only support Bech32 addresses (see for example: https://www.reddit.com/r/Bitcoin/comments/7wjknp/electrum_address_starts_with_bc1_but_this_isnt/).

The currently supported formats are, according to the `/btc` page:

It would make sense to be able to transfer ZLD to BTC via the use of a Bech32 address.
Those addresses are the one starting with `bc1...` whi

[2019-02-10 15:14] 0crat commented on #127
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-10 15:14] 0crat commented on #127
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-10 15:24] yegor256 commented on #127
@victornoel what is the regex we should allow?

[2019-02-10 15:35] victornoel commented on #127
@yegor256 do you mean the regex for preventing Bech32 address to be used?

[2019-02-10 15:40] yegor256 commented on #127
@victornoel the regex we should accept in the form

[2019-02-10 15:46] victornoel commented on #127
@yegor256 I have updated the description to be more clear about the bug.

[2019-02-10 15:50] victornoel commented on #127
@yegor256 if you want to validate P2SH and P2PKH addresses, you can use those regex: http://mokagio.github.io/tech-journal/2014/11/21/regex-bitcoin.html

[2019-02-10 15:51] victornoel commented on #127
@yegor256 that being said, as explained at the end of this link, it would be better to really validate the address with checksum

[2019-02-10 15:51] victornoel commented on #127
@yegor256 but this is out of scope of this issue :)

[2019-02-10 16:09] yegor256 commented on #127
@rultor release, tag is `0.18.17`

[2019-02-10 16:09] yegor256 commented on #127
@victornoel indeed, let's make a separate ticket for better/stronger validation of bitcoin addresses. Our current regex is primitive.

[2019-02-10 16:10] rultor commented on #127
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17800-462147058)

[2019-02-10 16:10] 0crat commented on #127
The job [#127](https://github.com/zold-io/wts.zold.io/issues/127) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/a06e6d73-b23d-4cc2-bf8a-de9a854fd7e7); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-10 16:10] 0crat commented on #127
Job `gh:zold-io/wts.zold.io#127` already assigned to @yegor256, can't assign to @yegor256

[2019-02-10 16:11] 0crat commented on #127
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-02-10 16:11] 0crat commented on #127
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @victornoel[/z](https://www.0crat.com/u/victornoel)

[2019-02-10 16:15] rultor commented on #127
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17800-462147058) (took me 4min)

[2019-02-10 16:15] yegor256 commented on #127
@victornoel this one is fixed in da77929 thanks!

[2019-02-10 16:15] #127 closed

[2019-02-10 16:31] victornoel opened #128 "ZLD to BTC transfer is broken with Bech32 addresses"
When selling ZLD to BTC using a Bech32 address, it seems that WTS is doing something strange and not sending the BTC to the correct address.

For example I sent 1 ZLD to the BTC address `bc1qvxk6hypwtup0ulwd8d2gjk5fx5uv43ytaxdd4k` but when I look at my wallet I see:
[code]

As you can see the address has been truncated and then I never receive the transaction (ever, I tried in the past already).

[2019-02-10 16:32] 0crat commented on #128
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-10 16:32] 0crat commented on #128
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-10 16:38] 0crat commented on #127
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-10 16:39] 0crat commented on #127
The job [#127](https://github.com/zold-io/wts.zold.io/issues/127) is now out of scope

[2019-02-10 16:40] 0crat commented on #127
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-02-11 16:28] yegor256 opened #129 "anonymize IP addresses in Telegram"

[2019-02-11 16:58] yegor256 commented on #129
@rultor release, tag is `0.18.18`

[2019-02-11 16:59] rultor commented on #129
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17814-462405709)

[2019-02-11 17:07] rultor commented on #129
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17814-462405709) (took me 7min)

[2019-02-11 17:07] #129 closed

[2019-02-11 17:28] 0crat commented on #129
Job `gh:zold-io/wts.zold.io#129` is not assigned, can't get performer

[2019-02-11 17:29] 0crat commented on #129
This job is not in scope

[2019-02-12 07:56] ammaratef45 commented on #126
@yegor256 how will you make sure that the phone number belongs to the wallet's owner?
I guess you intend to use the `app=1234567` as an authorization way. so, if this is the case, how the app ID will be generated and distributed?

[2019-02-12 09:03] yegor256 commented on #126
@ammaratef45 there will be no connection between GitHub-based accounts in WTS and mobile accounts. There are two types of accounts.

[2019-02-12 09:13] ammaratef45 commented on #126
@yegor256 So, anyone has access to the phone owns the account?

[2019-02-12 09:46] ammaratef45 opened #130 "Mock API key for testing"
Do we have a testing network so that I can write unit testing using safely available public wallets?
What else can be done if no?

[2019-02-12 09:46] 0crat commented on #130
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-12 09:46] 0crat commented on #130
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-12 10:12] yegor256 commented on #126
@ammaratef45 correct

[2019-02-12 13:49] yegor256 commented on #130
@ammaratef45 you can just create a new account, send yourself a few ZLD and experiment with that. That's the best we can do.

[2019-02-12 13:49] #130 closed

[2019-02-12 13:52] yegor256 commented on #128
@victornoel the problem was with the INPUT field in the form. You simply weren't able to provide the full address and you thought that you were :) Fixed in b97284c

[2019-02-12 14:00] yegor256 commented on #121
@g4s8 I can't reproduce the problem. Are you sure the description is correct?

[2019-02-12 14:08] 0crat commented on #130
Job `gh:zold-io/wts.zold.io#130` is not assigned, can't get performer

[2019-02-12 14:08] 0crat commented on #128
Job `gh:zold-io/wts.zold.io#128` is not assigned, can't get performer

[2019-02-12 14:08] 0crat commented on #130
This job is not in scope

[2019-02-12 14:08] 0crat commented on #128
This job is not in scope

[2019-02-12 14:12] victornoel commented on #128
@yegor256 great thanks

[2019-02-12 17:16] g4s8 commented on #121
@yegor256 yes, it's a stable issue, I've just reproduced it again. To reproduce it, check that you are not logged in github before wts

[2019-02-14 16:31] g4s8 opened #131 "Exchange rates for Zerocracy users"
I think we can make lower exchange fee for 0crat users as suggested in https://github.com/zerocracy/farm/issues/1860#issuecomment-463672893 (from 8% to 2%) so we will take this 2% from payer project as payment fee and add +2% to user's payments with ZLD wallets.

[2019-02-14 16:32] 0crat commented on #131
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-14 16:35] g4s8 opened #132 "Auto-exchange configuration"
To makes it easier to Zerocracy users to get cash from 0crat with ZLD payments, wts can add auto-exchange option for new payments. E.g. user may set BTC address and all new ZLD payments will be exchanged to BTC and sent to this address.
I think it should not affect existing ZLD (which was received before user configured auto-exchange).

[2019-02-14 16:35] 0crat commented on #132
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-14 16:35] 0crat commented on #132
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.41.1](https://github.com/zerocracy/farm): Issue: zold-io/wts.zold.io#132, Action: `created`

[2019-02-14 20:46] yegor256 commented on #131
@g4s8 fixed in e94d139

[2019-02-14 20:47] yegor256 commented on #131
@g4s8 you can check it online, your rate should be 2% now.

[2019-02-14 20:47] #131 closed

[2019-02-14 20:49] yegor256 commented on #126
@ammaratef45 this is implemented already, you can try how it works (try in 12 hours)

[2019-02-14 20:49] yegor256 commented on #126
@rultor release, tag is `0.19.0`

[2019-02-14 20:50] rultor commented on #126
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17871-463790105)

[2019-02-14 20:55] rultor commented on #126
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17871-463790105) (took me 5min)

[2019-02-14 20:57] #126 closed

[2019-02-14 21:14] 0crat commented on #131
Job `gh:zold-io/wts.zold.io#131` is not assigned, can't get performer

[2019-02-14 21:14] 0crat commented on #131
This job is not in scope

[2019-02-14 21:22] 0crat commented on #126
Job `gh:zold-io/wts.zold.io#126` is not assigned, can't get performer

[2019-02-14 21:22] 0crat commented on #126
This job is not in scope

[2019-02-15 00:58] ammaratef45 commented on #126
@yegor256
I tried `mobile/send?phone=+201153300223` and I got `Invalid phone "+201153300223"`

I tried to replace + with 00 then I got an internal error with the following log

[2019-02-15 07:53] yegor256 opened #133 "Migrate"
Let's implement the "migrate" feature to abandon a large wallet and start a new one, moving all the funds there.

[2019-02-15 14:41] yegor256 commented on #133
@rultor release, tag is `0.20.0`

[2019-02-15 14:41] rultor commented on #133
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17881-464073255)

[2019-02-15 14:47] rultor commented on #133
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17881-464073255) (took me 5min)

[2019-02-15 14:51] #133 closed

[2019-02-15 14:53] yegor256 commented on #121
@g4s8 I honestly can't reproduce. Please, check the description of the steps. Make them more explicit. I don't understand what exactly "get redirect back to wts" means? Make sure the steps are explained like this: "Click this, open window, click that". "Get redirect" is something ambiguous.

[2019-02-15 14:57] yegor256 opened #134 "BTC addresses are lost"
We lose them when we swap

[2019-02-15 15:07] yegor256 commented on #134
@rultor release, tag is `0.20.1`

[2019-02-15 15:08] rultor commented on #134
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17882-464082681)

[2019-02-15 15:10] 0crat commented on #133
Job `gh:zold-io/wts.zold.io#133` is not assigned, can't get performer

[2019-02-15 15:10] 0crat commented on #133
This job is not in scope

[2019-02-15 15:12] rultor commented on #134
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17882-464082681) (spent 3min)

[code]

[2019-02-15 16:29] yegor256 commented on #134
@rultor release, tag is `0.20.1`

[2019-02-15 16:30] rultor commented on #134
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17882-464112176)

[2019-02-15 16:35] rultor commented on #134
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17882-464112176) (spent 5min)

[code]

[2019-02-15 16:40] yegor256 commented on #134
@rultor release, tag is `0.20.1`

[2019-02-15 16:41] rultor commented on #134
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17882-464116127)

[2019-02-15 16:46] rultor commented on #134
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17882-464116127) (spent 4min)

[code]

[2019-02-15 16:52] yegor256 commented on #134
@rultor release, tag is `0.20.1`

[2019-02-15 16:53] rultor commented on #134
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17882-464120339)

[2019-02-15 16:58] rultor commented on #134
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17882-464120339) (took me 5min)

[2019-02-16 07:19] g4s8 commented on #121
@yegor256 updated the ticket

[2019-02-16 08:00] #134 closed

[2019-02-16 08:00] yegor256 opened #135 "BTC hook is broken"
[code]

[2019-02-16 08:17] 0crat commented on #134
Job `gh:zold-io/wts.zold.io#134` is not assigned, can't get performer

[2019-02-16 08:17] 0crat commented on #134
This job is not in scope

[2019-02-16 15:42] yegor256 commented on #135
@rultor release, tag is `0.20.2`

[2019-02-16 15:43] rultor commented on #135
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17895-464356857)

[2019-02-16 15:48] rultor commented on #135
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17895-464356857) (took me 5min)

[2019-02-16 16:00] #135 closed

[2019-02-16 20:23] 0crat commented on #135
Job `gh:zold-io/wts.zold.io#135` is not assigned, can't get performer

[2019-02-16 21:02] 0crat commented on #135
This job is not in scope

[2019-02-17 14:28] yegor256 opened #136 "catch BTC incoming transactions right when they show up"
Let's catch them.

[2019-02-17 17:36] yegor256 commented on #136
@rultor release, tag is `0.20.3`

[2019-02-17 17:38] rultor commented on #136
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17902-464485577)

[2019-02-17 17:42] rultor commented on #136
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17902-464485577) (took me 4min)

[2019-02-17 18:27] #136 closed

[2019-02-17 18:54] 0crat commented on #136
Job `gh:zold-io/wts.zold.io#136` is not assigned, can't get performer

[2019-02-17 18:55] 0crat commented on #136
This job is not in scope

[2019-02-19 13:55] yegor256 commented on #121
@g4s8 watch this: https://www.youtube.com/watch?v=5A3KFj3xh74 I can't understand where the problem is coming from...

[2019-02-19 16:43] yegor256 opened #137 "/general-ledger"
Let's create a system to collect all ledger updates from all visible nodes and put all transactions into one table.

[2019-02-20 08:17] yegor256 commented on #137
@rultor release, tag is `0.21.0`

[2019-02-20 08:18] rultor commented on #137
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17942-465471143)

[2019-02-20 08:21] rultor commented on #137
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17942-465471143) (spent 3min)

[code]

[2019-02-20 08:28] yegor256 commented on #137
@rultor release, tag is `0.21.0`

[2019-02-20 08:30] rultor commented on #137
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17942-465474639)

[2019-02-20 08:35] rultor commented on #137
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17942-465474639) (spent 5min)

[code]

[2019-02-20 08:47] yegor256 commented on #137
@rultor release, tag is `0.21.0`

[2019-02-20 08:48] rultor commented on #137
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17942-465480846)

[2019-02-20 08:56] rultor commented on #137
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17942-465480846) (spent 7min)

[code]

[2019-02-20 09:04] #137 closed

[2019-02-20 09:22] 0crat commented on #137
Job `gh:zold-io/wts.zold.io#137` is not assigned, can't get performer

[2019-02-20 09:22] 0crat commented on #137
This job is not in scope

[2019-02-20 09:59] yegor256 opened #138 "BIGINT is required for amounts"
[code]

[2019-02-20 10:02] yegor256 commented on #138
@rultor release, tag is `0.21.1`

[2019-02-20 10:04] rultor commented on #138
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17945-465507566)

[2019-02-20 10:11] rultor commented on #138
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17945-465507566) (took me 6min)

[2019-02-20 10:13] #138 closed

[2019-02-20 10:35] 0crat commented on #138
Job `gh:zold-io/wts.zold.io#138` is not assigned, can't get performer

[2019-02-20 10:38] 0crat commented on #138
This job is not in scope

[2019-02-20 11:31] g4s8 opened #139 "No payment id on pay"
Payment API doesn't return any payment-id on success, so it's not possible to track some payment failures. See https://github.com/zerocracy/farm/issues/1901

[2019-02-20 11:31] 0crat commented on #139
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-20 11:37] emilianodellacasa commented on #139
@yegor256 See zerocracy/farm#1901 , a payment of  $70 was lost

[2019-02-20 11:50] yegor256 commented on #139
@g4s8 you should get the ID of the job via `X-Zold-Job` HTTP header in the response. That can be used later to check the status of the job and see the logs: https://github.com/zold-io/wts.zold.io#api Is it what you are doing?

[2019-02-20 11:51] yegor256 commented on #139
@g4s8 see how the Ruby SDK work: https://github.com/zold-io/zold-ruby-sdk After each payment you "wait" for the job to complete, checking the `/job` page to return `OK`.

[2019-02-20 16:22] amorenew opened #140 "balance API returns HTML not JSON"
I have tried
https://wts.zold.io/balance
on Postman with headers
Content-Type: "application/x--form-urlencoded"
X-Zold-Wts: "My private user Id"
 but I got the response as HTML why we don't get the response as JSON ?

[2019-02-20 16:22] 0crat commented on #140
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-20 16:22] 0crat commented on #140
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-20 16:25] g4s8 opened #141 "/job API documentation is not clear"
API docs says:

It's not clear what is "id argument", is it a part of url path, or query param, or something else?
Also it doesn't say about response status codes: does API returns 200 code if job was not completed? what status API returns in case of error?

[2019-02-20 16:25] 0crat commented on #141
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-20 16:30] yegor256 commented on #140
@amorenew when I open that URL I get a number. Most likely you are not logged in or something else is wrong. First, check the response code. If it's not 200, check `X-Zold-Error` header -- it will explain the problem.

[2019-02-20 16:30] #140 closed

[2019-02-20 16:34] yegor256 commented on #141
@g4s8 see 1ff1c19

[2019-02-20 16:34] #141 closed

[2019-02-20 16:41] amorenew commented on #140
@amorenew now I got a number but I clicked on my wallet "Pull it from the network"
in documentation

Why we need to pull wallet I think when we query balance it should auto pull the wallet right?

[2019-02-20 16:52] 0crat commented on #140
Job `gh:zold-io/wts.zold.io#140` is not assigned, can't get performer

[2019-02-20 16:53] 0crat commented on #140
This job is not in scope

[2019-02-20 16:54] 0crat commented on #141
This job is not in scope

[2019-02-20 16:57] amorenew commented on #140
related PR https://github.com/zold-io/wts.zold.io/pull/142

[2019-02-20 17:01] amorenew commented on #40
@yegor256 what about mobile apps how could we track "complete status"?

[2019-02-20 17:34] g4s8 opened #143 "/job API may return error before OK status"
I'm trying to send ZLD using pay API and waiting with /job API.
When I'm checking /job response I'm getting `Running` statuses, then error with 303 code, and then 200 `OK` status. API returns error before `OK` and payment was sent successfully. Reproduced twice.

Error:
[code]

[2019-02-20 17:34] 0crat commented on #143
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-20 18:05] g4s8 commented on #139
@yegor256 got it, thanks

[2019-02-20 18:05] #139 closed

[2019-02-20 18:29] yegor256 commented on #116
@rultor release, tag is `0.22.0`

[2019-02-20 18:30] 0crat commented on #139
Job `gh:zold-io/wts.zold.io#139` is not assigned, can't get performer

[2019-02-20 18:30] rultor commented on #116
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17955-465699119)

[2019-02-20 18:36] 0crat commented on #139
This job is not in scope

[2019-02-20 18:39] rultor commented on #116
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/17955-465699119) (spent 8min)

[code]

[2019-02-20 19:43] yegor256 commented on #116
@g4s8 it's implemented. The documentation is here: https://github.com/zold-io/wts.zold.io#callback-api I will test it thoroughly tomorrow.

[2019-02-20 19:43] #116 closed

[2019-02-20 19:43] yegor256 commented on #116
@rultor release, tag is `0.22.1`

[2019-02-20 19:44] rultor commented on #116
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17955-465725994)

[2019-02-20 19:50] rultor commented on #116
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17955-465725994) (took me 6min)

[2019-02-20 20:08] 0crat commented on #116
Job `gh:zold-io/wts.zold.io#116` is not assigned, can't get performer

[2019-02-20 20:08] 0crat commented on #116
This job is not in scope

[2019-02-21 08:47] yegor256 commented on #143
@g4s8 I believe it's fixed in 0962ffb70638cf363c3ed1b401c4571eb2e6e694 Try again please.

[2019-02-21 09:05] g4s8 commented on #143
@yegor256 now I'm getting new error, does it related to this fix?
[code]

[2019-02-21 09:17] ammaratef45 opened #145 "/balance returns 200 status even if wallet needs to be pulled"
Balance endpoint should return non-200 response if the wallet needs to be pulled.
Currently, it returns 200 with the HTML page prompting to pull it.

[2019-02-21 09:17] 0crat commented on #145
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-21 09:17] 0crat commented on #145
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-21 09:18] yegor256 commented on #143
@g4s8 nope, it's something else. Please, report another ticket.

[2019-02-21 09:19] yegor256 commented on #145
@ammaratef45 how do you check?) It returns 302, but your browser redirects you to `/home`

[2019-02-21 09:19] #145 closed

[2019-02-21 09:20] yegor256 commented on #78
@denis-konovalyenko I believe it's explained now

[2019-02-21 09:20] #78 closed

[2019-02-21 09:26] ammaratef45 commented on #145
@yegor256 Yes sorry, forgot to disable automatic follow redirect

[2019-02-21 09:27] g4s8 opened #146 "Payment sometime fails with Futex::CantLock"
After call pay API and waiting job to complete with /job API I can receive this error:
[code]

[2019-02-21 09:27] 0crat commented on #146
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-21 09:46] 0crat commented on #145
Job `gh:zold-io/wts.zold.io#145` is not assigned, can't get performer

[2019-02-21 09:46] 0crat commented on #78
Job `gh:zold-io/wts.zold.io#78` is not assigned, can't get performer

[2019-02-21 09:48] 0crat commented on #145
This job is not in scope

[2019-02-21 09:48] 0crat commented on #78
This job is not in scope

[2019-02-21 15:16] g4s8 commented on #116
@yegor256 is it possible to verify that callback was called by wts and not by knowing person? Maybe wts can provide a signature for callback payload that can be verified with some public key?

[2019-02-21 16:17] yegor256 commented on #116
@g4s8 you are right. We should allow the user to send us a secret token when creating the callback. And then, we return that token back. Please, create a ticket.

[2019-02-21 16:20] #143 closed

[2019-02-21 16:22] g4s8 opened #147 "Verify callbacks"
Callback receiver should be able to verify that callback was sent by wts server and not by someone else.
It can be done using callback signing https://github.com/zold-io/wts.zold.io/issues/116#issuecomment-466037798 or by providing secret token from user: https://github.com/zold-io/wts.zold.io/issues/116#issuecomment-466062091

[2019-02-21 16:22] 0crat commented on #147
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-21 16:58] yegor256 commented on #147
@rultor release, tag is `0.22.2`

[2019-02-21 16:59] rultor commented on #147
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17970-466078605)

[2019-02-21 17:06] rultor commented on #147
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17970-466078605) (took me 6min)

[2019-02-21 17:16] yegor256 commented on #147
@g4s8 I believe it's fixed.

[2019-02-21 17:16] #147 closed

[2019-02-21 17:28] g4s8 commented on #147
@yegor256 thanks

[2019-02-21 17:41] 0crat commented on #147
The job [#147](https://github.com/zold-io/wts.zold.io/issues/147) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/4376e18e-0f39-4394-b32b-6824eaa18462); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-02-21 17:41] 0crat commented on #147
Job `gh:zold-io/wts.zold.io#147` already assigned to @yegor256, can't assign to @yegor256

[2019-02-21 17:42] 0crat commented on #147
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-02-21 17:43] 0crat commented on #147
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-02-21 18:35] 0crat commented on #147
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-02-21 18:35] 0crat commented on #147
The job [#147](https://github.com/zold-io/wts.zold.io/issues/147) is now out of scope

[2019-02-21 18:36] 0crat commented on #147
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-02-22 07:25] g4s8 opened #148 "Can't sell ZLD for two days"
I'm trying to sell some zold using "sell" button, but it says:

but previously I sold zold on `2019-02-20T11:39:27Z` and today is `2019-02-22`
my wallet is `3be3416c805e4371`

[2019-02-22 07:26] 0crat commented on #148
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-22 08:49] yegor256 commented on #148
@g4s8 the problem is that this check just validates when was the recent negative transaction from your wallet, no matter where it was sent. Let me see how this can be fixed. The easiest workaround at the moment is to Migrate.

[2019-02-22 10:43] yegor256 commented on #148
@rultor release, tag is `0.23.0`

[2019-02-22 10:44] rultor commented on #148
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17985-466354572)

[2019-02-22 10:50] rultor commented on #148
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17985-466354572) (took me 6min)

[2019-02-22 11:12] yegor256 commented on #148
@g4s8 try it, should work just fine.

[2019-02-22 11:12] #148 closed

[2019-02-22 11:34] 0crat commented on #148
Job `gh:zold-io/wts.zold.io#148` is not assigned, can't get performer

[2019-02-22 11:38] 0crat commented on #148
This job is not in scope

[2019-02-22 15:25] g4s8 commented on #148
@yegor256 thanks

[2019-02-23 06:48] yegor256 opened #149 "control the limits of SMS deliveries"
Let's make sure we don't send too many SMS messages per user.

[2019-02-23 07:11] yegor256 commented on #149
@rultor release, tag is `0.23.1`

[2019-02-23 07:12] rultor commented on #149
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/17995-466624383)

[2019-02-23 07:18] rultor commented on #149
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/17995-466624383) (took me 5min)

[2019-02-23 07:24] #149 closed

[2019-02-23 07:41] 0crat commented on #149
Job `gh:zold-io/wts.zold.io#149` is not assigned, can't get performer

[2019-02-23 07:41] 0crat commented on #149
This job is not in scope

[2019-02-23 18:51] vryazanov opened #150 "Getting token with mobile API"
Hey, I'm actively using mobile API these days and there is one thing confuses me.

`GET /mobile/token?phone=+15551234567&code=6666`

This API returns response status 200 even the code is incorrect (and there is html in the body). I believe it should return 400 status.
Is there a way to understand that there is a token in the response without any hacks?

[2019-02-23 18:51] 0crat commented on #150
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-23 18:51] 0crat commented on #150
@vryazanov[/z](https://www.0crat.com/u/vryazanov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-24 07:09] ammaratef45 commented on #126
@yegor256 the invalid phone message still there

[2019-02-24 07:25] ammaratef45 opened #151 "Error whith getting apikey for mobile API"
I get the an error while trying to get the apikey for my mobile wallet `https://wts.zold.io/mobile/token?phone=00201153300223&code=****`

	/app/objects/item.rb:219:in `read&#39;
	/app/objects/item.rb:121:in `mcode&#39;
	/app/wts.rb:861:in `block in &lt;top (required)&gt;&#39;
	/app/vendor/bundle/ruby/2.6.0/gems/sinatra-2.0.4/lib/sinatra/base.rb:1635:in `call&#39;
	/app/vendor/bundle/ruby/2.6.0/gem

[2019-02-24 07:25] 0crat commented on #151
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-24 07:25] 0crat commented on #151
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-24 07:27] yegor256 commented on #151
@ammaratef45 fixed in a787e4d Make sure your phone is formatted as E.164 recommends.

[2019-02-24 07:27] #151 closed

[2019-02-24 07:29] yegor256 commented on #150
@vryazanov it responds with 302 and your browser redirects automatically (or curl). Try it with:

[code]

[2019-02-24 07:29] #150 closed

[2019-02-24 07:41] theautobot opened #152 "set limit for cashing out transactions."
to be secure, we need to moderate cashing out transactions.
for example we should limit automatic amounts to 1000 ZLD

[2019-02-24 07:41] 0crat commented on #152
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-24 07:41] 0crat commented on #152
@theautobot[/z](https://www.0crat.com/u/theautobot) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-24 07:45] 0crat commented on #151
Job `gh:zold-io/wts.zold.io#151` is not assigned, can't get performer

[2019-02-24 07:45] 0crat commented on #150
Job `gh:zold-io/wts.zold.io#150` is not assigned, can't get performer

[2019-02-24 07:45] 0crat commented on #151
This job is not in scope

[2019-02-24 07:45] 0crat commented on #150
This job is not in scope

[2019-02-24 11:01] yegor256 opened #153 "web/mobile login"

[2019-02-24 14:08] yegor256 commented on #153
@rultor release, tag is `0.24.0`

[2019-02-24 14:09] rultor commented on #153
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18008-466780378)

[2019-02-24 14:10] yegor256 opened #154 "/quick-start"
Let's create a quick-start all-inclusive page for new users.

[2019-02-24 14:15] rultor commented on #153
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18008-466780378) (took me 5min)

[2019-02-24 14:17] #153 closed

[2019-02-24 14:37] 0crat commented on #153
Job `gh:zold-io/wts.zold.io#153` is not assigned, can't get performer

[2019-02-24 14:37] 0crat commented on #153
This job is not in scope

[2019-02-25 08:07] ammaratef45 opened #155 "Mobile api deson't confirm keygap automatically"
Hi Yegor,
I had this problem while testing the mobile API trying to get the balance of a wallet.

I/flutter (23455): UserError: You, 201099903387, have to confirm your keygap first
I/flutter (23455):      /app/wts.rb:1068:in `confirmed_user'
I/flutter (23455):      /app/wts.rb:491:in `block in <top (required)>'
I/flutter (23455):      /app/vendor/bundle/ruby/2.6.0/gems/sinatra-2.0.4/lib/sinatra/ba

[2019-02-25 08:07] 0crat commented on #155
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-25 08:07] 0crat commented on #155
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-02-25 14:11] #154 closed

[2019-02-25 14:14] yegor256 commented on #155
@ammaratef45 I explained it here: f51a7c3

[2019-02-25 14:14] #155 closed

[2019-02-25 14:26] yegor256 opened #156 "/payables"
Let's list all wallets and their balances in one page.

[2019-02-25 14:29] 0crat commented on #154
Job `gh:zold-io/wts.zold.io#154` is not assigned, can't get performer

[2019-02-25 14:30] 0crat commented on #154
This job is not in scope

[2019-02-25 14:30] 0crat commented on #155
Job `gh:zold-io/wts.zold.io#155` is not assigned, can't get performer

[2019-02-25 14:30] 0crat commented on #155
This job is not in scope

[2019-02-25 15:49] yegor256 commented on #156
@rultor release, tag is `0.25.0`

[2019-02-25 15:52] rultor commented on #156
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18019-467063043)

[2019-02-25 15:57] rultor commented on #156
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18019-467063043) (spent 5min)

[code]

[2019-02-25 16:03] yegor256 commented on #156
@rultor release, tag is `0.25.0`

[2019-02-25 16:03] rultor commented on #156
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18019-467068486)

[2019-02-25 16:08] rultor commented on #156
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18019-467068486) (spent 5min)

[code]

[2019-02-25 16:14] yegor256 commented on #156
@rultor release, tag is `0.25.0`

[2019-02-25 16:16] rultor commented on #156
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18019-467072795)

[2019-02-25 16:21] rultor commented on #156
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18019-467072795) (took me 5min)

[2019-02-25 16:24] #156 closed

[2019-02-25 16:44] 0crat commented on #156
Job `gh:zold-io/wts.zold.io#156` is not assigned, can't get performer

[2019-02-25 16:45] 0crat commented on #156
This job is not in scope

[2019-02-26 06:35] yegor256 opened #157 "track incoming bitcoins via SQL"
Let's fix it once and for all

[2019-02-26 08:58] yegor256 commented on #157
@rultor release, tag is `0.25.1`

[2019-02-26 08:59] rultor commented on #157
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18037-467353648)

[2019-02-26 09:05] rultor commented on #157
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18037-467353648) (took me 6min)

[2019-02-26 09:15] #157 closed

[2019-02-26 09:15] yegor256 opened #158 "mcodes in SQL"

[2019-02-26 09:29] yegor256 commented on #158
@rultor release, tag is `0.25.2`

[2019-02-26 09:30] rultor commented on #158
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18040-467364516)

[2019-02-26 09:36] #158 closed

[2019-02-26 09:36] rultor commented on #158
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18040-467364516) (took me 5min)

[2019-02-26 09:48] 0crat commented on #157
Job `gh:zold-io/wts.zold.io#157` is not assigned, can't get performer

[2019-02-26 09:55] 0crat commented on #157
This job is not in scope

[2019-02-26 10:02] 0crat commented on #158
Job `gh:zold-io/wts.zold.io#158` is not assigned, can't get performer

[2019-02-26 10:02] 0crat commented on #158
This job is not in scope

[2019-02-26 10:22] yegor256 opened #159 "feature toggles"

[2019-02-26 10:38] yegor256 commented on #159
@rultor release, tag is `0.25.3`

[2019-02-26 10:39] rultor commented on #159
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18041-467388276)

[2019-02-26 10:46] rultor commented on #159
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18041-467388276) (took me 6min)

[2019-02-26 10:46] #159 closed

[2019-02-26 11:10] 0crat commented on #159
Job `gh:zold-io/wts.zold.io#159` is not assigned, can't get performer

[2019-02-26 11:13] 0crat commented on #159
This job is not in scope

[2019-02-26 13:30] g4s8 opened #160 "Job ID is not found"
0crat failed to pay because of error (origin error: https://sentry.io/organizations/zerocracy/issues/906997140/?project=193755&query=is%3Aunresolved&statsPeriod=14d&utc=false):
[code]

It seems #143 bug was not fixed.

[2019-02-26 13:30] 0crat commented on #160
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-26 14:40] yegor256 commented on #160
@g4s8 this may happen. Most likely because the server was restarted. When you sent the `do-pay` request, the job was started and you got the ID. Then, the server is terminated and you hit it again, when its memory is empty. Of course, the is no job anymore. I will try to fix it now by persisting job IDs in PostgreSQL.

[2019-02-26 15:08] yegor256 commented on #160
@rultor release, tag is `0.25.4`

[2019-02-26 15:08] rultor commented on #160
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18048-467474510)

[2019-02-26 15:15] rultor commented on #160
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18048-467474510) (took me 6min)

[2019-02-26 15:20] yegor256 commented on #160
@g4s8 shouldn't happen again. If it does, open a new ticket pls.

[2019-02-26 15:20] #160 closed

[2019-02-26 15:38] 0crat commented on #160
Job `gh:zold-io/wts.zold.io#160` is not assigned, can't get performer

[2019-02-26 15:38] 0crat commented on #160
This job is not in scope

[2019-02-26 15:39] yegor256 opened #161 "move ticks into SQL"

[2019-02-26 16:29] yegor256 commented on #161
@rultor release, tag is `0.25.5`

[2019-02-26 16:31] rultor commented on #161
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18050-467509717)

[2019-02-26 16:38] rultor commented on #161
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18050-467509717) (took me 6min)

[2019-02-26 17:10] g4s8 commented on #160
@yegor256 thanks

[2019-02-26 20:32] g4s8 opened #162 "Payment failed because of Telepost::CantPost"
0crat failed to pay because of this error:
[code]

[2019-02-26 20:32] 0crat commented on #162
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-02-27 07:50] yegor256 commented on #162
@g4s8 even though this particular problem is fixed already, the problem is bigger than that. WTS can't 100% guarantee failure atomicity, since Zold network is distributed. In other words, we can accept some payment, send it to the network and then crash somewhere. We have to invent some mechanism to double check the status of the payment after it's failed... I'm thinking.

[2019-02-27 07:57] g4s8 commented on #162
@yegor256 maybe wts will generate unique id (or hash) for transaction before sending to the network and return it to client, so client (0crat in this case) will be able to check that transaction was added to ledger by id/hash?

[2019-02-27 08:17] yegor256 commented on #162
@g4s8 but WTS may fail to return the ID, just like it happened in the stacktrace above

[2019-02-27 11:09] yegor256 commented on #162
@g4s8 so how about we just give programmable access to the General Ledger? The client-side scenario will look like this:

  1. Send `/do-pay`
  2. Get job ID
  3. Check job status via `/job`
  4. Get exception
  5. GET `/gl-find` to find the payment, maybe it's there
  6. If it's there - it's OK
  7. If not, it was definitely a failure.

WDYT?

[2019-02-27 11:15] g4s8 commented on #162
@yegor256 it may work, but I have some doubts: can client check job status after WTS API failure but before transaction is listed in GL?

[2019-02-27 11:17] yegor256 commented on #162
@g4s8 let's ask the client to check GL status for at least 10 minutes?

[2019-02-27 11:19] g4s8 commented on #162
@yegor256 it should work, but in this scenario we need to store job id to be able to check payment status between client restarts

[2019-02-27 11:41] yegor256 commented on #162
@g4s8 how about we add this: When a client sends `/do-pay` it also sends some unique ID of the request (anything the client makes up) and WTS keeps it in the database. Later, if the client comes back again with `do-pay` and the previous request is not fully closed, WTS doesn't allow to send any more payments until the client retrieves the info about the job. Something like this.

This way the clie

[2019-02-27 12:02] g4s8 commented on #162
@yegor256 but client have to store some details in any case - e.g. if 0crat is paying a debt, it can generate unique id for debt payment to check it later, but debt may change between `/do-pay` call and status check.

Maybe WTS can allow to store some additional details about payment in do-pay? E.g. 0crat may send debt details or payment details (including author, reason, etc, to parse it later in

[2019-02-28 12:16] #161 closed

[2019-02-28 12:16] yegor256 opened #163 "custom Bitcoin adapter"
Let's get rid of Coinbase and Blockchain.com

[2019-02-28 12:33] 0crat commented on #161
Job `gh:zold-io/wts.zold.io#161` is not assigned, can't get performer

[2019-02-28 12:34] 0crat commented on #161
This job is not in scope

[2019-03-04 08:36] ypshenychka opened #164 "One zold payment is missing in wallet"
I didn't receive actual payment for timelesslounge/timelessis#445.

Although it was mentioned on the chat
![image](https://user-images.githubusercontent.com/11703257/53720401-57f9fd00-3e69-11e9-8d68-47bb9e07718e.png)

I don't see it on the list in my wallet.
![image](https://user-images.githubusercontent.com/11703257/53720421-66481900-3e69-11e9-9c6e-aad9fdbe0cbc.png)

[2019-03-04 08:37] 0crat commented on #164
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-04 11:22] yegor256 commented on #164
@ypshenychka try to "pull" it. Still not there?

[2019-03-04 11:22] yegor256 opened #165 "/sql"
Free SQL requests online

[2019-03-04 11:42] ypshenychka commented on #164
No, it's not there. I've got some "debt" payment two minutes ago. But I believe it's for two recently reviewed tickets (https://github.com/timelesslounge/timelessis/pull/427 and https://github.com/timelesslounge/timelessis/pull/401). So still nothing for #445.

![image](https://user-images.githubusercontent.com/11703257/53731423-5ccbaa80-3e83-11e9-93f1-0cbf7afd9c0e.png)

[2019-03-04 12:19] #165 closed

[2019-03-04 12:21] yegor256 opened #166 "make job logs visible in Telegram messages"
Let's connect them

[2019-03-04 12:39] 0crat commented on #165
Job `gh:zold-io/wts.zold.io#165` is not assigned, can't get performer

[2019-03-04 12:40] 0crat commented on #165
This job is not in scope

[2019-03-04 13:31] ammaratef45 opened #167 "Mobile send endpoint"
When I try to get the code using `mobile\send` twice I get the error below.
I used it twice because I sent a request and didn't receive a message.

DETAIL:  Key (phone)=(201153300223) already exists.

	/app/objects/pgsql.rb:50:in `async_exec_params&#39;
	/app/objects/pgsql.rb:50:in `block in exec&#39;
	/app/objects/pgsql.rb:65:in `connect&#39;
	/app/objects/pgsql.rb:49:in `exec&#39;
	/app/objects/

[2019-03-04 13:31] 0crat commented on #167
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-04 13:31] 0crat commented on #167
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-04 20:21] yegor256 commented on #166
@rultor release, tag is `0.25.6`

[2019-03-04 20:22] rultor commented on #166
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18127-469406984)

[2019-03-04 20:29] rultor commented on #166
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18127-469406984) (took me 6min)

[2019-03-04 21:48] bkuzmic opened #168 "Internal error at 0.25.6"
I could not make a payment to wallet. Here is the internal error stack trace:
[code]
Action was "Pay" - to zold wallet, amount: 192.31

[2019-03-04 21:48] 0crat commented on #168
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-04 21:48] 0crat commented on #168
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-05 05:41] yegor256 commented on #168
@bkuzmic thanks, fixed in f61f0d2

[2019-03-05 05:41] #168 closed

[2019-03-05 05:46] yegor256 commented on #167
@ammaratef45 fixed in 82233e6 thanks!

[2019-03-05 05:46] #167 closed

[2019-03-05 05:46] #166 closed

[2019-03-05 06:05] 0crat commented on #168
Job `gh:zold-io/wts.zold.io#168` is not assigned, can't get performer

[2019-03-05 06:06] 0crat commented on #167
Job `gh:zold-io/wts.zold.io#167` is not assigned, can't get performer

[2019-03-05 06:06] 0crat commented on #166
Job `gh:zold-io/wts.zold.io#166` is not assigned, can't get performer

[2019-03-05 06:06] 0crat commented on #168
This job is not in scope

[2019-03-05 06:10] 0crat commented on #166
This job is not in scope

[2019-03-05 06:10] 0crat commented on #167
This job is not in scope

[2019-03-05 10:21] yegor256 opened #169 "/referrals"
Let's implement a simple referral program

[2019-03-05 18:27] ammaratef45 opened #170 "/pull for mobile api"
I spent more of 10 minutes calling balance endpoint and then calling pull if the response for balance is not 200 (did this every minute)
I still getting this error (Ignore `I/flutter (11385):` part)

[code]

[2019-03-05 18:27] 0crat commented on #170
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-05 18:27] 0crat commented on #170
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-05 18:44] yegor256 commented on #169
@rultor release, tag is `0.26.0`

[2019-03-05 18:46] rultor commented on #169
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18141-469806209)

[2019-03-05 18:52] rultor commented on #169
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18141-469806209) (took me 6min)

[2019-03-05 18:52] #169 closed

[2019-03-05 19:02] yegor256 commented on #170
@ammaratef45 should be fixed, try again

[2019-03-05 19:05] yegor256 commented on #164
@ypshenychka shouldn't happen any more, after this fix: 61d7b3d

[2019-03-05 19:05] #164 closed

[2019-03-05 19:13] 0crat commented on #169
Job `gh:zold-io/wts.zold.io#169` is not assigned, can't get performer

[2019-03-05 19:17] 0crat commented on #169
This job is not in scope

[2019-03-05 19:24] 0crat commented on #164
Job `gh:zold-io/wts.zold.io#164` is not assigned, can't get performer

[2019-03-05 19:24] 0crat commented on #164
This job is not in scope

[2019-03-05 19:28] ammaratef45 commented on #170
@yegor256 Have been trying for 5 minutes, the same error.

[2019-03-05 21:01] pinaf opened #171 "WTS sell page: Mask keygap"
Right now the keygap field in the WTS "sell zold" page is in plaintext.
Please mask it using asterisks like any other password field.

[2019-03-05 21:01] 0crat commented on #171
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-05 21:01] 0crat commented on #171
@pinaf[/z](https://www.0crat.com/u/pinaf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-05 21:04] pinaf opened #172 "WTS sell page: Missing Bitcoin Transaction Hash"
Whenever zold is successfully zold, the page displays a message as follows:
`We took XYZ ZLD from your wallet and sent you ZYX BTC`
However, no info is given on the actual BTC transaction generated which will, after some time, end up confirmed in a BTC block.

Please provide the BTC transaction hash on success to that the seller can track the transaction.

[2019-03-05 21:04] 0crat commented on #172
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-05 21:04] 0crat commented on #172
@pinaf[/z](https://www.0crat.com/u/pinaf) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-06 05:57] yegor256 commented on #170
@ammaratef45 did you check the logs of the job at `/output`?

[2019-03-06 07:48] yegor256 commented on #171
@pinaf fixed in f696538 thanks!

[2019-03-06 07:48] #171 closed

[2019-03-06 08:05] 0crat commented on #171
Job `gh:zold-io/wts.zold.io#171` is not assigned, can't get performer

[2019-03-06 08:05] 0crat commented on #171
This job is not in scope

[2019-03-06 09:02] ammaratef45 commented on #170
@yegor256
[code]

[2019-03-06 09:08] g4s8 opened #173 "It's not clear how callbacks supposed to be used"
I see two ways of using callbacks API:
1. Client creates new invoice and registers new callback for each payment and asks user to pay to invoice address.
2. Client creates one invoice and registes one callback for whole application and asks user to provide some payment id in transaction details.

FIrst solution is more user friendly because it doesn require additional actions from user, but second

[2019-03-06 09:08] 0crat commented on #173
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-06 09:14] ammaratef45 commented on #170
@yegor256 It needs a reset
I will fix this and continue
But, is there a way to figure that out and let the user reset his wallet from the app?

[2019-03-06 11:33] ypshenychka opened #174 "BTC not received after ZLD exchange"
Zold were sold today. But actually no message in logs about exchange and no BTC arrived to wallet.

![image](https://user-images.githubusercontent.com/11703257/53878345-4ef95f00-4014-11e9-8b68-6507125f8db8.png)

[2019-03-06 11:33] 0crat commented on #174
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-06 15:45] yegor256 opened #175 "job owners"
Let's assign them

[2019-03-06 15:52] yegor256 commented on #175
@rultor release, tag is `0.26.1`

[2019-03-06 15:53] rultor commented on #175
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18155-470160453)

[2019-03-06 16:02] rultor commented on #175
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18155-470160453) (took me 7min)

[2019-03-06 16:02] #175 closed

[2019-03-06 16:03] yegor256 commented on #174
@ypshenychka try to PULL. The transaction is still there? Should disappear and you can try to sell again.

[2019-03-06 16:03] yegor256 commented on #170
@ammaratef45 by reset you mean what? We have "pull" and "restart".

[2019-03-06 16:04] ammaratef45 commented on #170
@yegor256 Restart*
my bad

[2019-03-06 16:24] 0crat commented on #175
Job `gh:zold-io/wts.zold.io#175` is not assigned, can't get performer

[2019-03-06 16:25] 0crat commented on #175
This job is not in scope

[2019-03-06 17:20] ypshenychka commented on #174
@yegor256 It disappeared and I've reselled - green confirmation message was shown. But this transaction is not even shown in my grid or in the log. And of course no BTC arrived.

![image](https://user-images.githubusercontent.com/11703257/53900161-91d32b00-4044-11e9-99db-7e460c108083.png)

[2019-03-07 05:57] ypshenychka commented on #174
@yegor256 Same today. Looks like exchange doesn't work at all for me.

[2019-03-07 06:54] yegor256 opened #176 "migrate to Pgsql from Dynamo"
Let's move and fix zonuses wallet.

[2019-03-07 06:54] yegor256 commented on #174
@ypshenychka that's a separate problem now, but the first problem is solved. The current problem will be fixed here: #176

[2019-03-07 06:54] #174 closed

[2019-03-07 07:14] 0crat commented on #174
Job `gh:zold-io/wts.zold.io#174` is not assigned, can't get performer

[2019-03-07 07:15] 0crat commented on #174
This job is not in scope

[2019-03-07 09:26] yegor256 commented on #176
@rultor release, tag is `0.26.2`

[2019-03-07 09:27] rultor commented on #176
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18162-470450218)

[2019-03-07 09:33] rultor commented on #176
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18162-470450218) (took me 5min)

[2019-03-07 09:55] #176 closed

[2019-03-07 10:16] 0crat commented on #176
Job `gh:zold-io/wts.zold.io#176` is not assigned, can't get performer

[2019-03-07 10:17] 0crat commented on #176
This job is not in scope

[2019-03-07 11:40] yegor256 commented on #172
@pinaf the best we can do at the moment was done in 9b325b9 Once we migrate to our own Bitcoin adapter, we will show more details: #163

[2019-03-07 11:40] #172 closed

[2019-03-07 11:40] yegor256 commented on #152
@theautobot done

[2019-03-07 11:40] #152 closed

[2019-03-07 11:40] yegor256 commented on #146
@g4s8
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-07 11:40] #146 closed

[2019-03-07 11:40] yegor256 commented on #121
@g4s8
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-07 11:40] #121 closed

[2019-03-07 11:58] 0crat commented on #172
Job `gh:zold-io/wts.zold.io#172` is not assigned, can't get performer

[2019-03-07 11:58] 0crat commented on #152
This job is not in scope

[2019-03-07 11:58] 0crat commented on #152
Job `gh:zold-io/wts.zold.io#152` is not assigned, can't get performer

[2019-03-07 11:58] 0crat commented on #146
Job `gh:zold-io/wts.zold.io#146` is not assigned, can't get performer

[2019-03-07 11:58] 0crat commented on #172
This job is not in scope

[2019-03-07 11:58] 0crat commented on #121
Job `gh:zold-io/wts.zold.io#121` is not assigned, can't get performer

[2019-03-07 11:58] 0crat commented on #121
This job is not in scope

[2019-03-07 11:58] 0crat commented on #146
This job is not in scope

[2019-03-07 12:12] yegor256 commented on #66
@g4s8 This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

Check `/output?id=...` for full logs of each payment operation

[2019-03-07 12:12] #66 closed

[2019-03-07 12:13] yegor256 commented on #74
@g4s8
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-07 12:13] #74 closed

[2019-03-07 12:13] #72 closed

[2019-03-07 12:13] yegor256 commented on #39
@botanicus
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-07 12:13] #39 closed

[2019-03-07 12:14] yegor256 commented on #34
@g4s8
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-07 12:14] #34 closed

[2019-03-07 12:15] yegor256 commented on #21
@YoMe2
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-07 12:15] #21 closed

[2019-03-07 12:15] yegor256 commented on #38
@0crat refuse

[2019-03-07 12:16] yegor256 commented on #38
@botanicus
This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-03-07 12:16] yegor256 commented on #31
fixed with Tacit 1.4.2

[2019-03-07 12:16] yegor256 commented on #31
@rultor release, tag is `0.26.3`

[2019-03-07 12:16] #31 closed

[2019-03-07 12:17] yegor256 commented on #33
works

[2019-03-07 12:17] #33 closed

[2019-03-07 12:18] rultor commented on #31
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18166-470503853)

[2019-03-07 12:18] yegor256 commented on #40
@g4s8 it's not possible to do that, we don't know how long it may take. The best you can do is to refresh the `/log` page. @amorenew the same for mobile apps -- check the `/job` page.

[2019-03-07 12:18] #40 closed

[2019-03-07 12:19] yegor256 commented on #19
@0crat refuse

[2019-03-07 12:21] yegor256 commented on #19
@emilianodellacasa no need to do this

[2019-03-07 12:21] #19 closed

[2019-03-07 12:21] #38 closed

[2019-03-07 12:26] rultor commented on #31
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18166-470503853) (spent 8min)

[code]

[2019-03-07 12:42] 0crat commented on #74
Job `gh:zold-io/wts.zold.io#74` is not assigned, can't get performer

[2019-03-07 12:42] 0crat commented on #66
Job `gh:zold-io/wts.zold.io#66` is not assigned, can't get performer

[2019-03-07 12:42] 0crat commented on #38
@yegor256 Job `gh:zold-io/wts.zold.io#38` is not assigned, can't get performer

[2019-03-07 12:43] 0crat commented on #19
@yegor256 Job `gh:zold-io/wts.zold.io#19` is not assigned, can't get performer

[2019-03-07 12:44] 0crat commented on #40
Job `gh:zold-io/wts.zold.io#40` is not assigned, can't get performer

[2019-03-07 12:44] 0crat commented on #33
Job `gh:zold-io/wts.zold.io#33` is not assigned, can't get performer

[2019-03-07 12:44] 0crat commented on #21
Job `gh:zold-io/wts.zold.io#21` is not assigned, can't get performer

[2019-03-07 12:44] 0crat commented on #31
Job `gh:zold-io/wts.zold.io#31` is not assigned, can't get performer

[2019-03-07 12:44] 0crat commented on #66
The job [#66](https://github.com/zold-io/wts.zold.io/issues/66) is now out of scope

[2019-03-07 12:44] 0crat commented on #19
Job `gh:zold-io/wts.zold.io#19` is not assigned, can't get performer

[2019-03-07 12:44] 0crat commented on #74
This job is not in scope

[2019-03-07 12:44] 0crat commented on #38
Job `gh:zold-io/wts.zold.io#38` is not assigned, can't get performer

[2019-03-07 12:45] 0crat commented on #31
The job [#31](https://github.com/zold-io/wts.zold.io/issues/31) is now out of scope

[2019-03-07 12:45] 0crat commented on #21
This job is not in scope

[2019-03-07 12:45] 0crat commented on #40
The job [#40](https://github.com/zold-io/wts.zold.io/issues/40) is now out of scope

[2019-03-07 12:45] 0crat commented on #33
The job [#33](https://github.com/zold-io/wts.zold.io/issues/33) is now out of scope

[2019-03-07 12:46] 0crat commented on #38
The job [#38](https://github.com/zold-io/wts.zold.io/issues/38) is now out of scope

[2019-03-07 12:46] 0crat commented on #19
The job [#19](https://github.com/zold-io/wts.zold.io/issues/19) is now out of scope

[2019-03-07 12:46] 0crat commented on #72
The job [#72](https://github.com/zold-io/wts.zold.io/issues/72) is now out of scope

[2019-03-07 12:47] 0crat commented on #39
The job [#39](https://github.com/zold-io/wts.zold.io/issues/39) is now out of scope

[2019-03-07 12:48] 0crat commented on #72
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-07 12:48] 0crat commented on #34
The job [#34](https://github.com/zold-io/wts.zold.io/issues/34) is now out of scope

[2019-03-07 12:49] 0crat commented on #34
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-07 12:49] 0crat commented on #39
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-07 13:39] g4s8 opened #177 "Can't sell Zold"
I'm trying to sell 100 ZLD but it's not possible because of error:
`With 100.00ZLD you are going over our limits: 270/3822/4484 vs 256/4096/8196 `
But these values are not correct: I didn't sell Zold for 2 days, so I don't understand why it thinks that I sold `270` today.

[2019-03-07 13:39] 0crat commented on #177
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-07 14:01] yegor256 commented on #17
No need

[2019-03-07 14:01] #17 closed

[2019-03-07 14:01] yegor256 commented on #87
@blackout314 this won't be obvious for a user -- why it's happening and what is in the log. We won't do this.

[2019-03-07 14:01] #87 closed

[2019-03-07 14:02] yegor256 commented on #177
@g4s8 you are hitting OUR limits. 270 ZLD were sold by ALL users today. That's why you can't sell. I will add more explanation now.

[2019-03-07 14:06] yegor256 commented on #177
@g4s8 see 71bd903

[2019-03-07 14:06] #177 closed

[2019-03-07 14:08] yegor256 commented on #170
@ammaratef45 yes, you can restart from the app: `/clean`, see edb1b6d

[2019-03-07 14:08] #170 closed

[2019-03-07 14:21] 0crat commented on #17
Job `gh:zold-io/wts.zold.io#17` is not assigned, can't get performer

[2019-03-07 14:21] 0crat commented on #87
Job `gh:zold-io/wts.zold.io#87` is not assigned, can't get performer

[2019-03-07 14:23] 0crat commented on #87
This job is not in scope

[2019-03-07 14:23] 0crat commented on #17
This job is not in scope

[2019-03-07 14:25] 0crat commented on #177
Job `gh:zold-io/wts.zold.io#177` is not assigned, can't get performer

[2019-03-07 14:25] 0crat commented on #177
This job is not in scope

[2019-03-07 14:25] 0crat commented on #170
Job `gh:zold-io/wts.zold.io#170` is not assigned, can't get performer

[2019-03-07 14:26] 0crat commented on #170
This job is not in scope

[2019-03-08 08:40] merobero commented on #123
https://github.com/yegor256/elegantobjects.github.io/issues/3#issuecomment-470848926

[2019-03-08 18:10] yegor256 opened #178 "download wallet file"
Let's make it possible to download it.

[2019-03-10 10:23] g4s8 opened #179 "Graph values are not readable in some cases"
When graph is not changing for some time period, text values for points are overlapping each other, so it's not possible to read them. See screenshot attached:

![scrot-2019-03-10-13:12:44](https://user-images.githubusercontent.com/1524988/54083653-8f6c1c00-4337-11e9-8aba-a60fabdc76a7.png)

[2019-03-10 10:23] 0crat commented on #179
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-10 15:23] g4s8 opened #180 "Use server-driven content negotiation instead of .json suffix"
It would be more conventional and expected to use service-driven [content negotiation](https://www.w3.org/Protocols/rfc2616/rfc2616-sec12.html) ([MDN](https://developer.mozilla.org/en-US/docs/Web/HTTP/Content_negotiation) docs) via `Accept` header instead of `.json` suffix for API endpoints, such as `/rate`.
I think it will be more clear to use
 - `GET /rate` with `Accept: text/html` - for HTML pa

[2019-03-10 15:24] 0crat commented on #180
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue