[2019-03-11 07:12] #178 closed

[2019-03-11 07:12] yegor256 commented on #178
done in 92a860f66763cec4fe68ac855a88ad538ef35bb5

[2019-03-11 07:35] 0crat commented on #178
Job `gh:zold-io/wts.zold.io#178` is not assigned, can't get performer

[2019-03-11 07:38] 0crat commented on #178
This job is not in scope

[2019-03-11 09:46] g4s8 opened #181 "ZLD sell amount is inconsistent"
I just sold 128 ZLD for 0.0346112 BTC using WTS. Telegram bot says that I exchanged 128 ZLD to BTC, but my transaction list contains only 117 ZLD (and 2.56 fee ZLD) what is 119.56, not 128 see screenshots:
![scrot-2019-03-11-12:41:41](https://user-images.githubusercontent.com/1524988/54114479-965c6280-43fb-11e9-875a-716cb4362b94.png)
![scrot-2019-03-11-12:40:11](https://user-images.githubuserconte

[2019-03-11 09:46] 0crat commented on #181
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-11 12:18] yegor256 commented on #181
@g4s8 this is super weird, thanks for noticing!

[2019-03-11 12:53] yegor256 commented on #181
@g4s8 fixed in 141660b67c6ae56ff269da0e0cd988caafab885f thanks!

[2019-03-11 12:53] #181 closed

[2019-03-11 12:54] yegor256 commented on #180
@g4s8 but it's less convenient for end-users. With a suffix I can test both endpoints via my web browser. With Headers I have to use some HTTP client instead. That's why suffixes.

[2019-03-11 12:54] #180 closed

[2019-03-11 12:58] yegor256 commented on #179
@g4s8 fixed in ea6d9eb2e08deeee8832132db4d14fadda8964bf

[2019-03-11 12:58] #179 closed

[2019-03-11 13:14] 0crat commented on #181
Job `gh:zold-io/wts.zold.io#181` is not assigned, can't get performer

[2019-03-11 13:19] 0crat commented on #180
Job `gh:zold-io/wts.zold.io#180` is not assigned, can't get performer

[2019-03-11 13:19] 0crat commented on #181
This job is not in scope

[2019-03-11 13:22] 0crat commented on #180
This job is not in scope

[2019-03-11 13:22] 0crat commented on #179
Job `gh:zold-io/wts.zold.io#179` is not assigned, can't get performer

[2019-03-11 13:32] 0crat commented on #179
This job is not in scope

[2019-03-12 08:06] ammaratef45 opened #182 "Add status of job in output response"
The `/output` endpoint returns the log of a job but doesn't tell its status.

It will be nice to add a header determines if it's in progress, failed or succeeded.

[2019-03-12 08:06] 0crat commented on #182
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-12 08:06] 0crat commented on #182
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-12 08:13] yegor256 commented on #182
@ammaratef45 implemented in df6ab4e0f3c91e55ac67ad6be68b5a0a25fc5d08 thanks!

[2019-03-12 08:13] #182 closed

[2019-03-12 08:30] 0crat commented on #182
This job is not in scope

[2019-03-12 08:46] yegor256 opened #183 "connect HAML templates from zold-io/quick"
Let's connect https://github.com/zold-io/quick

[2019-03-12 09:09] yegor256 commented on #183
@rultor release, tag is `0.27.0`

[2019-03-12 09:24] rultor commented on #183
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18253-471915881)

[2019-03-12 09:31] rultor commented on #183
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18253-471915881) (took me 6min)

[2019-03-12 09:32] #183 closed

[2019-03-12 09:55] 0crat commented on #183
Job `gh:zold-io/wts.zold.io#183` is not assigned, can't get performer

[2019-03-12 10:01] 0crat commented on #183
This job is not in scope

[2019-03-12 16:27] yegor256 opened #184 "PayPal payouts"
Let's make it possible to send PayPal out

[2019-03-13 05:10] g4s8 opened #185 "Unable to register callback"
I'm getting 503 error when trying to register a callback using `/wait-for`:

[code]

[2019-03-13 05:10] 0crat commented on #185
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-13 05:22] g4s8 commented on #185
@yegor256 actually, callback was registered (I can see it on https://wts.zold.io/callbacks page), but WTS returned 503.

[2019-03-13 07:59] yegor256 opened #186 "utm for referrals"
Let's add `utm_source`, `utm_medium`, and `utm_campaign` to referrals

[2019-03-13 08:00] yegor256 commented on #185
@g4s8 fixed in 6525d9f4e1b561d704340f0f0235f46681e6d4ab thanks!

[2019-03-13 08:00] #185 closed

[2019-03-13 08:15] yegor256 commented on #186
@rultor release, tag is `0.28.0`

[2019-03-13 08:16] rultor commented on #186
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18266-472322232)

[2019-03-13 08:21] rultor commented on #186
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18266-472322232) (took me 4min)

[2019-03-13 08:22] 0crat commented on #185
Job `gh:zold-io/wts.zold.io#185` is not assigned, can't get performer

[2019-03-13 08:24] 0crat commented on #185
This job is not in scope

[2019-03-13 08:49] #186 closed

[2019-03-13 09:06] 0crat commented on #186
Job `gh:zold-io/wts.zold.io#186` is not assigned, can't get performer

[2019-03-13 09:06] 0crat commented on #186
This job is not in scope

[2019-03-13 09:25] g4s8 opened #187 "Callback wasn't called"
0crat registered callback with id `15` for invoice `D9u07zaL@860261987eb8d2d3` and with regex `kyDFPizd` then I sent 1 ZLD to this invoice using WTS (added `kyDFPizd` to details), this payment was appeared on general ledger with id `43`, but callback `https://0crat.com/zcallback` was not called (I read http logs of 0crat to find this request).
![scrot-2019-03-13-12:21:53](https://user-images.githu

[2019-03-13 09:25] 0crat commented on #187
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-14 06:39] yegor256 commented on #187
@g4s8 let's try again, we will see logs in Telegram when callback is matched, and will be able to analyze what's going on

[2019-03-14 06:58] g4s8 commented on #187
@yegor256 done: callback id is 16

[2019-03-14 08:43] czilauto0r opened #188 "webwallet"
hi, when i try use webwallet, I put my phone number then I get code and when put code then i get

[code]

[2019-03-14 08:43] 0crat commented on #188
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-14 08:43] 0crat commented on #188
@czilauto0r[/z](https://www.0crat.com/u/czilauto0r) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-14 10:45] yegor256 commented on #187
@g4s8 the problem is that the callback URI you provide doesn't work. Let me make this problem visible in the dashboard...

[2019-03-14 11:31] yegor256 commented on #187
@rultor release, tag is `0.28.1`

[2019-03-14 11:32] rultor commented on #187
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18287-472813216)

[2019-03-14 11:40] rultor commented on #187
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18287-472813216) (took me 6min)

[2019-03-14 11:46] yegor256 commented on #187
@g4s8 should be better now

[2019-03-14 11:46] #187 closed

[2019-03-14 11:48] yegor256 commented on #188
@czilauto0r try again, should be fixed now

[2019-03-14 11:48] #188 closed

[2019-03-14 12:05] 0crat commented on #187
Job `gh:zold-io/wts.zold.io#187` is not assigned, can't get performer

[2019-03-14 12:06] g4s8 commented on #187
@yegor256 thanks

[2019-03-14 12:11] 0crat commented on #188
Job `gh:zold-io/wts.zold.io#188` is not assigned, can't get performer

[2019-03-14 12:11] 0crat commented on #187
This job is not in scope

[2019-03-14 12:14] 0crat commented on #188
This job is not in scope

[2019-03-14 16:29] blackout314 opened #189 "after zold sell for btc page not found"
after sell zld for btc, redirect on not exist page

https://wts.zold.io/btc

[code]

[2019-03-14 17:30] 0crat commented on #189
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-14 17:30] 0crat commented on #189
@blackout314[/z](https://www.0crat.com/u/blackout314) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-15 05:42] #173 closed

[2019-03-15 06:02] 0crat commented on #173
Job `gh:zold-io/wts.zold.io#173` is not assigned, can't get performer

[2019-03-15 06:03] 0crat commented on #173
This job is not in scope

[2019-03-17 12:27] ammaratef45 opened #190 "Add endpoints for output size and average size of output"
For ammaratef45/zold-flutter-client#26, we need to add an endpoint to provide the output size of the job and the average size of outputs for previous jobs.

[2019-03-17 12:27] 0crat commented on #190
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-17 12:27] 0crat commented on #190
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-18 18:26] yegor256 commented on #190
@ammaratef45 fixed in b39da27c39616d972b00fc65291d0d63c392452a Try to use `/job.json`

[2019-03-18 18:26] #190 closed

[2019-03-18 19:37] 0crat commented on #190
Job `gh:zold-io/wts.zold.io#190` is not assigned, can't get performer

[2019-03-18 19:40] 0crat commented on #190
This job is not in scope

[2019-03-20 06:57] yegor256 commented on #189
@blackout314 fixed in d296c4c thanks

[2019-03-20 06:57] #189 closed

[2019-03-20 06:57] yegor256 opened #191 "job results"
Let's make them visible in `/job.json`

[2019-03-20 07:14] 0crat commented on #189
Job `gh:zold-io/wts.zold.io#189` is not assigned, can't get performer

[2019-03-20 07:14] 0crat commented on #189
This job is not in scope

[2019-03-20 13:41] yegor256 commented on #191
@rultor release, tag is `0.29.0`

[2019-03-20 13:43] rultor commented on #191
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18356-474833704)

[2019-03-20 13:49] #191 closed

[2019-03-20 13:50] rultor commented on #191
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18356-474833704) (took me 6min)

[2019-03-20 14:21] 0crat commented on #191
Job `gh:zold-io/wts.zold.io#191` is not assigned, can't get performer

[2019-03-20 14:23] 0crat commented on #191
This job is not in scope

[2019-03-21 05:20] yegor256 opened #192 "test coverage information is not correct"
Check this out: https://codecov.io/github/zold-io/wts.zold.io?branch=master The information is not correct. For example, `objects/item.rb` is definitely covered by `test_item.rb` but the coverage reports shows that only a few methods are covered.

[2019-03-21 05:23] 0crat commented on #192
Job [#192](https://github.com/zold-io/wts.zold.io/issues/192) is now in scope, role is `DEV`

[2019-03-21 05:23] 0crat commented on #192
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-03-22 13:56] yegor256 opened #193 "KPI reporting"
Let's report them to Telegram, once a day

[2019-03-22 17:19] yegor256 commented on #193
@rultor release, tag is `0.30.0`

[2019-03-22 17:20] rultor commented on #193
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18382-475705971)

[2019-03-22 17:28] rultor commented on #193
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18382-475705971) (spent 8min)

[code]

[2019-03-22 20:20] #193 closed

[2019-03-22 20:20] yegor256 opened #194 "paypal payouts"

[2019-03-22 20:39] 0crat commented on #193
Job `gh:zold-io/wts.zold.io#193` is not assigned, can't get performer

[2019-03-22 20:41] 0crat commented on #193
This job is not in scope

[2019-03-25 14:12] #194 closed

[2019-03-25 14:12] yegor256 commented on #184
dup of #194

[2019-03-25 14:12] #184 closed

[2019-03-25 14:13] yegor256 commented on #132
@g4s8 even though it's a good idea, it seems to be too dangerous... Let's not do this.

[2019-03-25 14:13] #132 closed

[2019-03-25 14:14] yegor256 commented on #43
@botanicus not a bad idea, but it will require more coding on the server side. Now our Web UI is the same as our HTTP API, same entry points, same URIs. So, we say no to the full REST :)

[2019-03-25 14:14] #43 closed

[2019-03-25 14:14] yegor256 commented on #43
@0crat refuse

[2019-03-25 14:20] 0crat commented on #43
@yegor256 Job `gh:zold-io/wts.zold.io#43` is not assigned, can't get performer

[2019-03-25 14:31] 0crat commented on #184
Job `gh:zold-io/wts.zold.io#184` is not assigned, can't get performer

[2019-03-25 14:31] 0crat commented on #184
This job is not in scope

[2019-03-25 14:32] 0crat commented on #194
This job is not in scope

[2019-03-25 14:32] 0crat commented on #132
Job `gh:zold-io/wts.zold.io#132` is not assigned, can't get performer

[2019-03-25 14:32] 0crat commented on #194
Job `gh:zold-io/wts.zold.io#194` is not assigned, can't get performer

[2019-03-25 14:32] 0crat commented on #43
Job `gh:zold-io/wts.zold.io#43` is not assigned, can't get performer

[2019-03-25 14:32] 0crat commented on #132
This job is not in scope

[2019-03-25 14:32] 0crat commented on #43
The job [#43](https://github.com/zold-io/wts.zold.io/issues/43) is now out of scope

[2019-03-27 05:00] yegor256 opened #195 "error_message in /job.json"
Let's add it there, if an error happened

[2019-03-27 05:25] yegor256 commented on #195
@rultor release, tag is `0.30.0`

[2019-03-27 05:26] rultor commented on #195
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18405-476981303)

[2019-03-27 05:32] rultor commented on #195
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18405-476981303) (took me 6min)

[2019-03-27 05:38] #195 closed

[2019-03-27 05:57] 0crat commented on #195
Job `gh:zold-io/wts.zold.io#195` is not assigned, can't get performer

[2019-03-27 05:58] 0crat commented on #195
This job is not in scope

[2019-03-27 06:03] yegor256 opened #196 "terms of use"
Let's create a page

[2019-03-27 06:51] yegor256 commented on #196
@rultor release, tag is `0.30.1`

[2019-03-27 06:52] rultor commented on #196
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18407-477003395)

[2019-03-27 06:58] rultor commented on #196
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18407-477003395) (took me 6min)

[2019-03-27 07:11] #196 closed

[2019-03-27 08:21] 0crat commented on #196
Job `gh:zold-io/wts.zold.io#196` is not assigned, can't get performer

[2019-03-27 08:25] 0crat commented on #196
This job is not in scope

[2019-03-28 05:11] yegor256 opened #197 "count transactions in all payables"
Let's count them

[2019-03-28 05:47] yegor256 commented on #197
@rultor release, tag is `0.31.0`

[2019-03-28 05:48] rultor commented on #197
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18416-477457579)

[2019-03-28 05:54] rultor commented on #197
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18416-477457579) (spent 6min)

[code]

[2019-03-28 05:54] #197 closed

[2019-03-28 06:11] 0crat commented on #197
Job `gh:zold-io/wts.zold.io#197` is not assigned, can't get performer

[2019-03-28 06:12] 0crat commented on #197
This job is not in scope

[2019-03-29 13:35] ebercamargo opened #198 "Error in my wallet."
Plss check this:

[code]

[2019-03-29 13:35] 0crat commented on #198
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-29 13:35] 0crat commented on #198
@ebercamargo[/z](https://www.0crat.com/u/ebercamargo) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-30 08:03] ammaratef45 opened #199 "Potential threat of losing money"
I found that wts Telegram channel announce that my wallet won't get a bonus because it's not known to zerocracy every time I restart it.
If that means that zerocracy user can get a bonus every time he restarts the wallet this may be a way to attack and steal funds.

[2019-03-30 08:04] 0crat commented on #199
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-03-30 08:04] 0crat commented on #199
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-03-30 11:17] yegor256 commented on #199
@ammaratef45 yes, it's a known threat, thanks for reporting, let me fix it.

[2019-03-30 16:48] yegor256 commented on #199
@rultor release, tag is `0.30.2`

[2019-03-30 16:50] rultor commented on #199
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18436-478263162)

[2019-03-30 16:56] rultor commented on #199
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18436-478263162) (took me 6min)

[2019-03-30 17:27] yegor256 commented on #199
@ammaratef45 seems to be fixed, please check

[2019-03-30 17:27] #199 closed

[2019-03-30 17:28] yegor256 commented on #198
@ebercamargo you just have to RESTART, as the message suggests

[2019-03-30 17:28] #198 closed

[2019-03-30 17:46] 0crat commented on #199
Job `gh:zold-io/wts.zold.io#199` is not assigned, can't get performer

[2019-03-30 17:46] 0crat commented on #198
Job `gh:zold-io/wts.zold.io#198` is not assigned, can't get performer

[2019-03-30 17:47] 0crat commented on #199
This job is not in scope

[2019-03-30 17:47] 0crat commented on #198
This job is not in scope

[2019-04-02 08:05] g4s8 opened #200 "Error on login"
I'm getting error `@g4s8 doesn't work in Zerocracy, can't login via GitHub, use mobile phone instead`, but it's not correct.
it was fixed after page reload.
![scrot-2019-04-02-11:01:49](https://user-images.githubusercontent.com/1524988/55385990-1aa39080-5537-11e9-9e3f-fa31f34d3b8f.png)

[2019-04-02 08:05] 0crat commented on #200
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-02 10:21] yegor256 opened #201 "/funded"
Let's add it and purchase BTC right after we receive USD.

[2019-04-02 12:42] pin2t opened #202 "Browser notifications on incoming payments and job finishes (pulls, outgoing)"
It would be nice feature for users to have notifications when payments arrives and outgoing payments finishes (job executed successfully). Through https://www.w3.org/TR/notifications/ or some other way.

[2019-04-02 12:42] 0crat commented on #202
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-02 12:42] 0crat commented on #202
@pin2t[/z](https://www.0crat.com/u/pin2t) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-02 15:25] ammaratef45 opened #203 "Push notifications"
For ammaratef45/zold-flutter-client#79 we will need to use AWS or Firebase for pushing notifications and register devices when users log in.

[2019-04-02 15:25] 0crat commented on #203
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-02 15:25] 0crat commented on #203
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-04 12:26] yegor256 opened #204 "long-live callbacks"
Let's make it possible to keep them alive forever.

[2019-04-04 13:07] yegor256 commented on #204
@rultor release, tag is `0.31.0`

[2019-04-04 13:09] rultor commented on #204
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18481-479889308)

[2019-04-04 13:15] rultor commented on #204
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18481-479889308) (took me 6min)

[2019-04-04 13:16] #204 closed

[2019-04-04 13:35] 0crat commented on #204
Job `gh:zold-io/wts.zold.io#204` is not assigned, can't get performer

[2019-04-04 13:37] 0crat commented on #204
This job is not in scope

[2019-04-05 11:23] g4s8 opened #205 "Incorrect amount on sell ZLD"
I just exchanged 124 ZLD to BTC, WTS claims that it sent me `0.0335296` BTC (in Telegram chat and on WTS page), but actually I've received `0.032904 BTC` (see transaction
`05d60d93497ecbcc0c2bab78f99913ceb5b5e11a84ff876b1a885f41567b699c`).
It seems that WTS takes a fee for exchange (should be 2%), but in such case it should show correct BTC values in Telegrm channel and page message.

![photo_2019

[2019-04-05 11:23] 0crat commented on #205
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-07 08:07] ammaratef45 opened #206 "API validate the phone number"
In the API you should validate the phone number before sending the message,
If I accidentally submitted a wrong number I will wait for a message as the response will not complain.

[2019-04-07 08:07] 0crat commented on #206
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-07 08:07] 0crat commented on #206
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-09 11:56] yegor256 commented on #205
@g4s8 coinbase took that money. We will move away from them soon and this fee won't be distracted anymore

[2019-04-09 11:57] yegor256 opened #207 "/txn.json"
Let's make it possible to validate the existence of one transaction

[2019-04-09 12:23] 0crat commented on #207
Job `gh:zold-io/wts.zold.io#207` is not assigned, can't get performer

[2019-04-10 11:32] yegor256 opened #208 "/download should return ZIP archive with private key and wallet inside"
Let's do this.

[2019-04-10 11:36] #201 closed

[2019-04-10 11:36] yegor256 commented on #200
@g4s8 This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-04-10 11:36] #200 closed

[2019-04-10 12:05] 0crat commented on #201
Job `gh:zold-io/wts.zold.io#201` is not assigned, can't get performer

[2019-04-10 12:05] 0crat commented on #200
Job `gh:zold-io/wts.zold.io#200` is not assigned, can't get performer

[2019-04-10 12:06] 0crat commented on #200
This job is not in scope

[2019-04-10 12:08] 0crat commented on #201
This job is not in scope

[2019-04-10 20:46] g4s8 opened #209 "No details about value/pledge graph"
There is value/pledge graph on /rate page, but I can't find explanation of these numbers on page, [PDF](http://papers.zold.io/fin-model.pdf) also doesn't include that, I think there should be a formula on rate page like for all other graphs.

[2019-04-10 20:46] 0crat commented on #209
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-11 03:52] paulodamaso opened #210 "Zold is telling that will pay PayPal fees, but don't"
Zold web wallet interface is telling us that will pay the fees on my retrieval:

But looking at paypal ledger:

Looks like I'm being charged for the fees

[2019-04-11 03:52] 0crat commented on #210
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-11 03:52] 0crat commented on #210
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-11 08:17] yegor256 opened #211 "callback on async operations success"
Let's make it possible.

[2019-04-11 08:57] #211 closed

[2019-04-11 09:23] 0crat commented on #206
Job [#206](https://github.com/zold-io/wts.zold.io/issues/206) is now in scope, role is `DEV`

[2019-04-11 09:23] 0crat commented on #209
The job [#209](https://github.com/zold-io/wts.zold.io/issues/209) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/b70ed2de-79e9-46b3-801b-79357946a57d); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-04-11 09:24] 0crat commented on #211
Job `gh:zold-io/wts.zold.io#211` is not assigned, can't get performer

[2019-04-11 09:24] 0crat commented on #209
Job `gh:zold-io/wts.zold.io#209` already assigned to @yegor256, can't assign to @yegor256

[2019-04-11 09:25] 0crat commented on #209
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-11 09:25] 0crat commented on #211
This job is not in scope

[2019-04-11 09:26] 0crat commented on #206
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @ammaratef45[/z](https://www.0crat.com/u/ammaratef45)

[2019-04-11 09:27] 0crat commented on #209
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-04-12 07:51] yegor256 commented on #163
@rultor release, tag is `0.32.0`

[2019-04-12 07:53] rultor commented on #163
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18549-482476047)

[2019-04-12 08:00] rultor commented on #163
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18549-482476047) (took me 6min)

[2019-04-12 08:13] #163 closed

[2019-04-12 09:13] 0crat commented on #163
Job `gh:zold-io/wts.zold.io#163` is not assigned, can't get performer

[2019-04-12 09:14] 0crat commented on #163
This job is not in scope

[2019-04-15 04:40] yegor256 opened #213 "migrate to pgtk"
Let's use this gem: https://github.com/yegor256/pgtk

[2019-04-15 04:56] carlosmiranda opened #214 "Lost ZLDs due to a payment error"
I just tried withdrawing 256 ZLD (max daily amount) to PayPal. I lost the same amount (plus fee) due to an error; the amount was deducted from my wallet but the PayPal transaction failed.

Here is the log (PayPal account is redacted for privacy reasons - will send separately):

[code]

[2019-04-15 04:56] 0crat commented on #214
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-15 04:56] 0crat commented on #214
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-15 05:01] #213 closed

[2019-04-15 05:05] yegor256 commented on #214
@rultor release, tag is `0.32.1`

[2019-04-15 05:06] rultor commented on #214
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18595-483108702)

[2019-04-15 05:12] 0crat commented on #214
The job [#214](https://github.com/zold-io/wts.zold.io/issues/214) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/f6769385-7e13-4109-b151-cd225add4757); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-04-15 05:14] rultor commented on #214
@carlosmiranda @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18595-483108702) (spent 8min)

[code]

[2019-04-15 05:16] 0crat commented on #214
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-15 05:18] 0crat commented on #214
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda)

[2019-04-15 05:18] 0crat commented on #213
Job `gh:zold-io/wts.zold.io#213` is not assigned, can't get performer

[2019-04-15 05:20] 0crat commented on #213
This job is not in scope

[2019-04-15 05:39] carlosmiranda commented on #214
@yegor256 this is now fixed, I was able to withdraw successfully twice today. THanks

[2019-04-15 05:39] #214 closed

[2019-04-15 05:56] 0crat commented on #214
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-04-15 05:57] 0crat commented on #214
The job [#214](https://github.com/zold-io/wts.zold.io/issues/214) is now out of scope

[2019-04-15 05:57] 0crat commented on #214
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-04-18 07:13] rusnasonov opened #215 "Add filter/sorting columns in /health.html page"
In this page I want to see only my nodes, or top of nodes by score/cpu.

[2019-04-18 07:13] 0crat commented on #215
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-18 07:13] 0crat commented on #215
@rusnasonov[/z](https://www.0crat.com/u/rusnasonov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-18 16:20] g4s8 opened #216 "Incorrect fee for Zerocracy users"
WTS claims that fee is 2% for Zerocracy users, but when I sold some ZLD it takes 8% fee:
sold `124 ZLD`, fee `9.92 ZLD`
![scrot-2019-04-18-19:17:35](https://user-images.githubusercontent.com/1524988/56375655-cc68df80-620e-11e9-97a7-d59182b6009b.png)

wallet: http://www.zold.io/ledger.html?wallet=3be3416c805e4371
txs: `#72` and `#73`

[2019-04-18 16:20] 0crat commented on #216
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-21 07:02] yegor256 opened #217 "refresh all assets every hour"
Let's review all assets every hour

[2019-04-21 07:13] yegor256 commented on #217
@rultor release, tag is `0.32.1`

[2019-04-21 07:13] rultor commented on #217
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18661-485230656)

[2019-04-21 07:20] rultor commented on #217
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18661-485230656) (took me 6min)

[2019-04-21 07:21] #217 closed

[2019-04-21 07:39] 0crat commented on #217
Job `gh:zold-io/wts.zold.io#217` is not assigned, can't get performer

[2019-04-21 07:39] 0crat commented on #217
This job is not in scope

[2019-04-27 06:24] agorlov opened #218 "Couldn't create a wallet"
Hello,

Problem with starting, creating wallet:
![image](https://user-images.githubusercontent.com/2485728/56845512-1adf4380-68cb-11e9-9967-007c719e1fdd.png)

Page where I getting startded with zold:
https://wts.zold.io/quick

My steps:
1. I opened https://wts.zold.io/quick, and clicked [Start] btn;
2. I entered phone number (starts with 7905205...);
3. I recieved sms and entered the code;
4. I re

[2019-04-27 06:25] 0crat commented on #218
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-27 06:25] 0crat commented on #218
@agorlov[/z](https://www.0crat.com/u/agorlov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-29 09:25] filfreire opened #219 "Zerocracy registered user gets error E130 when cashing out on paypal"
@yegor256 currently my user is getting the following error, when trying to cash out to Paypal:
[code]

But I logged in with Github, and my user is registered in Zerocracy.

Logs:
[code]

[2019-04-29 09:25] 0crat commented on #219
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-29 09:25] 0crat commented on #219
@filfreire[/z](https://www.0crat.com/u/filfreire) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-04-30 12:34] blackout314 opened #220 "bitcoin gateway not work"
i sell ZLD for BTC 29/04/2019
[code]

btc never arrive

please refund me in ZLD, thx

[2019-04-30 12:34] 0crat commented on #220
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-04-30 12:34] 0crat commented on #220
@blackout314[/z](https://www.0crat.com/u/blackout314) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-02 07:38] yegor256 opened #221 "pull most recently used wallets on the background"
Let's keep track on most recently used wallets (in the database) and regularly (every 10 minutes) check whether they are present in the files and pull them. Let's keep an eye on 100 wallets only.

[2019-05-02 07:40] yegor256 commented on #218
@agorlov thanks for reporting, seems to be a bug on our side. While we are fixing it, you may try to use your account via wts.zold.io and there you can go to Buy/Sell and do the same operation as you were attempting to do at the `/quick` page.

[2019-05-02 07:42] yegor256 commented on #216
@g4s8 this is a bug with our HTTP request to `0crat.com/known`. Sometimes it fails and we assume that the user is not known. I'm not sure how to fix that, but will think...

[2019-05-02 07:43] 0crat commented on #220
Job [#220](https://github.com/zold-io/wts.zold.io/issues/220) is now in scope, role is `DEV`

[2019-05-02 07:43] 0crat commented on #218
Thanks for your contribution, @agorlov[/z](https://www.0crat.com/u/agorlov)! If you would be a member of [the project](https://www.0crat.com/p/CB28FH2NR), you would now earn +15 reputation points, as explained in [§29](http://www.zerocracy.com/policy.html#29). You can join and apply to it, see [§2](http://www.zerocracy.com/policy.html#2).

[2019-05-02 07:43] 0crat commented on #210
Job [#210](https://github.com/zold-io/wts.zold.io/issues/210) is now in scope, role is `DEV`

[2019-05-02 07:43] 0crat commented on #218
Job [#218](https://github.com/zold-io/wts.zold.io/issues/218) is now in scope, role is `DEV`

[2019-05-02 07:43] yegor256 commented on #216
@g4s8 similar to #219

[2019-05-02 07:43] 0crat commented on #216
Job [#216](https://github.com/zold-io/wts.zold.io/issues/216) is now in scope, role is `DEV`

[2019-05-02 07:47] 0crat commented on #210
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @paulodamaso[/z](https://www.0crat.com/u/paulodamaso)

[2019-05-02 07:47] 0crat commented on #220
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @blackout314[/z](https://www.0crat.com/u/blackout314)

[2019-05-02 07:49] 0crat commented on #216
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-03 19:15] yegor256 commented on #220
@blackout314 This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-05-03 19:15] #220 closed

[2019-05-03 19:34] 0crat commented on #220
Job `gh:zold-io/wts.zold.io#220` is not assigned, can't get performer

[2019-05-03 19:34] 0crat commented on #220
The job [#220](https://github.com/zold-io/wts.zold.io/issues/220) is now out of scope

[2019-05-04 21:09] blackout314 commented on #220
@yegor256 please refund lost ZLD

[2019-05-05 06:24] tomjons opened #222 "исчезли средства"
после обновления кошелька исчезли 6 zld с аккаунта. Прошу разобраться и вернуть средства.

[2019-05-05 06:24] #222 closed

[2019-05-05 06:25] 0crat commented on #222
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-05 06:25] 0crat commented on #222
@tomjons[/z](https://www.0crat.com/u/tomjons) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-05 06:42] AlexisGarra opened #223 "!Рестарт!"
я потерял все zld после рестарта, получения нового ключа  и после подтверждения кошелька.
меня даже не предупредило не одно всплывающее окно о том что я все потерял.
и хорошо , что сегодня еще zld не стоит 1000$ за 1zld. я потерял не 17500$  а всего лишь 17.5;$
Это не правильно

[2019-05-05 06:42] #223 closed

[2019-05-05 06:42] 0crat commented on #223
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-05 06:42] 0crat commented on #223
@alexisgarra[/z](https://www.0crat.com/u/alexisgarra) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-05 09:43] yegor256 commented on #220
@blackout314 what is your wallet ID?

[2019-05-05 11:17] blackout314 commented on #220
@yegor256 bf1cbb2017040c3c

[2019-05-05 18:43] agorlov commented on #218
@yegor256 is it possible to get a bug-reward? I couldnt find the project on board page (https://www.0crat.com/board) I'm ready to accept it in the form of zold-coins (MWVX5Bhv@ca40737a4e7f8c57) :-)

[2019-05-06 14:57] yegor256 commented on #220
@blackout314 sent

[2019-05-08 10:45] yegor256 opened #224 "referral aliases"

[2019-05-08 11:22] yegor256 commented on #224
@rultor release, tag is `0.33.0`

[2019-05-08 11:22] rultor commented on #224
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18835-490448492)

[2019-05-08 11:27] rultor commented on #224
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18835-490448492) (spent 4min)

[code]

[2019-05-09 04:31] #224 closed

[2019-05-09 04:31] yegor256 opened #225 "duplicated incoming payments"
For some reason, we get duplicated BTC incoming payments.

[2019-05-09 04:47] 0crat commented on #224
Job `gh:zold-io/wts.zold.io#224` is not assigned, can't get performer

[2019-05-09 04:48] 0crat commented on #224
This job is not in scope

[2019-05-09 04:55] yegor256 commented on #225
@rultor release, tag is `0.32.2`

[2019-05-09 04:56] rultor commented on #225
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18846-490743212)

[2019-05-09 05:02] rultor commented on #225
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18846-490743212) (took me 6min)

[2019-05-09 05:08] #225 closed

[2019-05-09 05:25] 0crat commented on #225
Job `gh:zold-io/wts.zold.io#225` is not assigned, can't get performer

[2019-05-09 05:26] 0crat commented on #225
This job is not in scope

[2019-05-09 05:30] yegor256 commented on #225
@rultor release, tag is `0.33.2`

[2019-05-09 05:31] rultor commented on #225
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18846-490749355)

[2019-05-09 05:37] rultor commented on #225
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18846-490749355) (took me 6min)

[2019-05-09 08:16] g4s8 opened #226 "No staging environment"
WTS doesn't have staging environment, so it's not possible to write integration tests based on WTS API, because it requires production API keys and may affect production data.
An example where staging one might solve some issues is these tickets: https://github.com/zerocracy/farm/issues/2019 and https://github.com/zerocracy/farm/issues/1975 - for now, I just can't write a test using production 0cr

[2019-05-09 08:16] 0crat commented on #226
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-09 20:12] yegor256 commented on #226
@g4s8 make sense, thanks, I will make something

[2019-05-09 20:14] 0crat commented on #226
The job [#226](https://github.com/zold-io/wts.zold.io/issues/226) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/0f7c880d-75cd-44be-a2b8-feb61615c0c2); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-05-09 20:18] 0crat commented on #226
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-09 20:19] 0crat commented on #226
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-10 07:42] yegor256 opened #227 "send everything from coinbase to cold wallets"
Let's check what's there in coinbase and send it all to one of our cold wallets, every 24 hours.

[2019-05-10 08:16] yegor256 commented on #221
@rultor release, tag is `0.33.3`

[2019-05-10 08:17] #227 closed

[2019-05-10 08:17] rultor commented on #221
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18861-491202207)

[2019-05-10 08:20] yegor256 commented on #205
@g4s8  This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-05-10 08:20] #205 closed

[2019-05-10 08:21] yegor256 commented on #192
fixed

[2019-05-10 08:21] #192 closed

[2019-05-10 08:23] yegor256 commented on #219
@filfreire we will continue in #216

[2019-05-10 08:23] #219 closed

[2019-05-10 08:23] rultor commented on #221
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18861-491202207) (took me 5min)

[2019-05-10 08:25] #221 closed

[2019-05-10 08:35] g4s8 commented on #205
@yegor256 thanks

[2019-05-10 08:40] 0crat commented on #227
Job `gh:zold-io/wts.zold.io#227` is not assigned, can't get performer

[2019-05-10 08:40] 0crat commented on #227
This job is not in scope

[2019-05-10 08:41] 0crat commented on #205
Job `gh:zold-io/wts.zold.io#205` is not assigned, can't get performer

[2019-05-10 08:41] 0crat commented on #221
Job `gh:zold-io/wts.zold.io#221` is not assigned, can't get performer

[2019-05-10 08:41] 0crat commented on #205
This job is not in scope

[2019-05-10 08:41] 0crat commented on #219
Job `gh:zold-io/wts.zold.io#219` is not assigned, can't get performer

[2019-05-10 08:41] 0crat commented on #192
The job [#192](https://github.com/zold-io/wts.zold.io/issues/192) is now out of scope

[2019-05-10 08:41] 0crat commented on #221
This job is not in scope

[2019-05-10 08:42] 0crat commented on #219
This job is not in scope

[2019-05-10 08:54] 0crat commented on #162
Job [#162](https://github.com/zold-io/wts.zold.io/issues/162) is now in scope, role is `DEV`

[2019-05-11 19:06] vzurauskas opened #229 "X axis in rate graph (and others?) is wrong"
BTC/ZLD exchange rate has been raised to 0.00028120 on May 10, however the [rate graph](https://wts.zold.io/rate) shows that it reached this number on May 1. Yesterday it showed a different day (don't remember, but I think it was April 30). Looks like the graph is shifted by ~10 days to the left.

Attaching a screenshot since the graph keeps changing every day.

![image](https://user-images.github

[2019-05-12 09:16] victornoel opened #228 "/zld-to-paypal shows an error"
When going on the `/zld-to-paypal` page, I get the following error and stacktrace (I am a 0crat user):

[code]

[code]

[2019-05-12 09:16] 0crat commented on #228
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-12 09:16] 0crat commented on #228
@victornoel[/z](https://www.0crat.com/u/victornoel) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-12 12:06] yegor256 commented on #228
@rultor release, tag is `0.33.4`

[2019-05-12 12:07] rultor commented on #228
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18872-491589810)

[2019-05-12 12:07] 0crat commented on #229
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-12 12:07] 0crat commented on #229
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-12 12:08] yegor256 commented on #229
@vzurauskas where would you expect it to show? The x-axis is discreet and has only a few points in time. The y-value is an average.

[2019-05-12 12:13] rultor commented on #228
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18872-491589810) (took me 6min)

[2019-05-12 12:32] yegor256 commented on #228
@victornoel This problem is already fixed, I believe. However, if you see it again, please don't hesitate to create a new issue. Thanks for your contribution!

[2019-05-12 12:32] #228 closed

[2019-05-12 12:50] 0crat commented on #228
Job `gh:zold-io/wts.zold.io#228` is not assigned, can't get performer

[2019-05-12 12:50] 0crat commented on #228
This job is not in scope

[2019-05-12 13:42] vzurauskas commented on #229
@yegor256

1) If there was no increase from from 04/20 to 05/01, I would expect the line from 04/20 to 05/01 not to show any increase and remain flat.
2) I would also expect the last point to be the current day.
3) I did not expect it to be an average. If it's an average, it would be good to have it written somewhere close to the graphs that Y value is an average, and an average of what: previous

[2019-05-12 13:56] victornoel commented on #228
@yegor256 thx

[2019-05-13 12:11] paulodamaso opened #230 "Couldn't log in with github account"
I''m not being able o log in zold.wts.io with my github account. I'm receiving the following error:

`E103: "paulodamaso" doesn't work in Zerocracy, can't login via GitHub, use mobile phone (see KYC section in our Terms of Use) /2`

[2019-05-13 12:11] 0crat commented on #230
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-13 12:11] 0crat commented on #230
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-13 12:20] yegor256 commented on #230
@rultor release, tag is `0.33.5`

[2019-05-13 12:21] rultor commented on #230
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18879-491799690)

[2019-05-13 12:28] rultor commented on #230
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18879-491799690) (took me 6min)

[2019-05-13 12:29] #230 closed

[2019-05-13 12:29] yegor256 commented on #230
@paulodamaso fixed, try again

[2019-05-13 12:46] 0crat commented on #230
Job `gh:zold-io/wts.zold.io#230` is not assigned, can't get performer

[2019-05-13 12:46] 0crat commented on #230
This job is not in scope

[2019-05-13 18:04] yegor256 opened #231 "fake account for testing"
Let's create it.

[2019-05-13 18:24] yegor256 commented on #231
@rultor release, tag is `0.33.6`

[2019-05-13 18:25] rultor commented on #231
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18885-491933131)

[2019-05-13 18:33] rultor commented on #231
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18885-491933131) (took me 6min)

[2019-05-13 20:12] paulodamaso commented on #230
@yegor256 Yes, it worked, thanks

[2019-05-14 05:31] #231 closed

[2019-05-14 05:48] 0crat commented on #231
Job `gh:zold-io/wts.zold.io#231` is not assigned, can't get performer

[2019-05-14 05:48] 0crat commented on #231
This job is not in scope

[2019-05-14 18:10] yegor256 commented on #226
@g4s8 fixed in #231 You can play with it, just login via: https://wts.zold.io/sandbox

[2019-05-14 18:10] #226 closed

[2019-05-14 18:47] 0crat commented on #226
The job [#226](https://github.com/zold-io/wts.zold.io/issues/226) is now out of scope

[2019-05-14 18:48] 0crat commented on #226
Order was finished: +30 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-14 19:03] yegor256 commented on #229
@vzurauskas it's a simple graph drawing engine, see https://github.com/zold-io/wts.zold.io/blob/master/objects/graph.rb#L41-L80 If you want to fix it and know how to do it, please submit a pull request.

[2019-05-14 20:37] g4s8 commented on #226
@yegor256 thanks

[2019-05-15 07:11] 0crat commented on #24
The job [#24](https://github.com/zold-io/wts.zold.io/issues/24) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/3857e76e-0403-474c-b7fb-02332bc8c874); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.html#

[2019-05-15 07:12] 0crat commented on #24
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-15 07:12] 0crat commented on #24
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-16 07:58] vzurauskas commented on #229
@yegor256 Alright. Closing this.

[2019-05-16 07:58] #229 closed

[2019-05-16 08:15] 0crat commented on #229
Job `gh:zold-io/wts.zold.io#229` is not assigned, can't get performer

[2019-05-16 08:15] 0crat commented on #229
This job is not in scope

[2019-05-16 13:28] yegor256 opened #232 "UI tweaks"
Let's improve it a bit

[2019-05-16 13:58] yegor256 commented on #232
@rultor release, tag is `0.33.7`

[2019-05-16 13:58] yegor256 commented on #24
fixed

[2019-05-16 13:58] #24 closed

[2019-05-16 13:59] rultor commented on #232
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18918-493079005)

[2019-05-16 14:06] rultor commented on #232
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18918-493079005) (took me 5min)

[2019-05-16 14:07] #232 closed

[2019-05-16 14:16] yegor256 opened #233 "transfer from hot to cold wallet automatically"
Let's transfer from hot wallets if they have more than X bitcoins.

[2019-05-16 14:26] 0crat commented on #24
The job [#24](https://github.com/zold-io/wts.zold.io/issues/24) is now out of scope

[2019-05-16 14:26] 0crat commented on #24
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-16 14:26] 0crat commented on #232
Job `gh:zold-io/wts.zold.io#232` is not assigned, can't get performer

[2019-05-16 14:26] 0crat commented on #232
This job is not in scope

[2019-05-16 18:47] yegor256 commented on #233
@rultor release, tag is `0.33.8`

[2019-05-16 18:49] rultor commented on #233
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18922-493187645)

[2019-05-16 18:53] rultor commented on #233
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18922-493187645) (spent 3min)

[code]

[2019-05-16 19:00] yegor256 opened #234 "CSRF must go away when API is used"
We added CSRF attack prevention in #24, but it blocks API calls.

[2019-05-16 19:03] yegor256 opened #235 "Haml::Error: Invalid US-ASCII character "\xE2""
Sometimes this happens:

[code]

[2019-05-16 19:04] #234 closed

[2019-05-16 19:04] yegor256 commented on #233
@rultor release, tag is `0.33.8`

[2019-05-16 19:05] rultor commented on #233
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18922-493193330)

[2019-05-16 19:09] rultor commented on #233
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18922-493193330) (spent 3min)

[code]

[2019-05-16 19:10] g4s8 opened #236 "ZLD to Upwork"
We have few potential Zeroracy users from Upwork, but they can accept only Upwork payments. So it would be good to have an option to convert ZLD to Upwork payments, then users will be able to receive payment via Upwork without customer actions.

// cc: @ypshenychka

[2019-05-16 19:10] 0crat commented on #236
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-16 19:19] yegor256 commented on #233
@rultor release, tag is `0.33.8`

[2019-05-16 19:20] rultor commented on #233
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18922-493198062)

[2019-05-16 19:21] 0crat commented on #234
Job `gh:zold-io/wts.zold.io#234` is not assigned, can't get performer

[2019-05-16 19:25] 0crat commented on #234
This job is not in scope

[2019-05-16 19:26] rultor commented on #233
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18922-493198062) (took me 5min)

[2019-05-16 19:38] #233 closed

[2019-05-16 19:39] yegor256 opened #237 "can't pull all wallets"
[code]

[2019-05-16 19:51] yegor256 commented on #237
@rultor release, tag is `0.33.9`

[2019-05-16 19:52] rultor commented on #237
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18923-493208436)

[2019-05-16 19:58] rultor commented on #237
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18923-493208436) (took me 4min)

[2019-05-16 19:58] #237 closed

[2019-05-16 20:06] stepan-romankov opened #238 "Unable to login via Github as non Zerocracy user."
I'm not part of Zerocracy group on Github but I created a wallet a long time ago and was login in  via Github. Since some time it's not possible to login via Github for non Zerocracy users. How it's possible to transfer zolds from this account to a newly created one (linked to phone number)?

P.S. I have Keygap but zold wallet was not associated with my private key.

[2019-05-16 20:06] 0crat commented on #238
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-16 20:06] 0crat commented on #238
@stepan-romankov[/z](https://www.0crat.com/u/stepan-romankov) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-16 20:58] 0crat commented on #233
Job `gh:zold-io/wts.zold.io#233` is not assigned, can't get performer

[2019-05-16 20:58] 0crat commented on #237
This job is not in scope

[2019-05-16 20:58] 0crat commented on #237
Job `gh:zold-io/wts.zold.io#237` is not assigned, can't get performer

[2019-05-16 20:59] 0crat commented on #233
This job is not in scope

[2019-05-17 04:40] yegor256 commented on #238
@stepan-romankov you can login now.

[2019-05-17 04:40] #238 closed

[2019-05-17 04:41] yegor256 commented on #235
fixed

[2019-05-17 04:41] #235 closed

[2019-05-17 04:58] 0crat commented on #238
Job `gh:zold-io/wts.zold.io#238` is not assigned, can't get performer

[2019-05-17 04:58] 0crat commented on #235
Job `gh:zold-io/wts.zold.io#235` is not assigned, can't get performer

[2019-05-17 04:58] 0crat commented on #238
This job is not in scope

[2019-05-17 04:59] 0crat commented on #235
This job is not in scope

[2019-05-17 05:17] yegor256 commented on #236
@rultor release, tag is `0.34.0`

[2019-05-17 05:18] rultor commented on #236
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18925-493323019)

[2019-05-17 05:23] rultor commented on #236
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18925-493323019) (took me 5min)

[2019-05-17 05:30] yegor256 commented on #236
@g4s8 it seems to be implemented, let's see how it works

[2019-05-17 05:30] #236 closed

[2019-05-17 05:45] g4s8 commented on #236
@yegor256 thanks
@ypshenychka now you can invite upwork users who want to withdraw via upwork

[2019-05-17 05:53] 0crat commented on #236
This job is not in scope

[2019-05-17 05:53] 0crat commented on #236
Job `gh:zold-io/wts.zold.io#236` is not assigned, can't get performer

[2019-05-17 07:17] yegor256 opened #239 "notify in Telegram when BTC rate changes"
Let's notify, when it changes for more than 5% either way.

[2019-05-17 11:04] yegor256 commented on #239
@rultor release, tag is `0.35.0`

[2019-05-17 11:05] rultor commented on #239
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18929-493415041)

[2019-05-17 11:10] rultor commented on #239
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18929-493415041) (took me 4min)

[2019-05-17 11:56] #239 closed

[2019-05-17 12:13] 0crat commented on #239
Job `gh:zold-io/wts.zold.io#239` is not assigned, can't get performer

[2019-05-17 12:13] 0crat commented on #239
This job is not in scope

[2019-05-17 14:00] yegor256 opened #240 "private key decryptor"
Let's make a form for it.

[2019-05-17 14:06] yegor256 commented on #240
@rultor release, tag is `0.35.1`

[2019-05-17 14:07] rultor commented on #240
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18932-493466240)

[2019-05-17 14:13] rultor commented on #240
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18932-493466240) (took me 5min)

[2019-05-17 15:21] #240 closed

[2019-05-17 16:10] 0crat commented on #240
This job is not in scope

[2019-05-17 16:16] 0crat commented on #240
Job `gh:zold-io/wts.zold.io#240` is not assigned, can't get performer

[2019-05-18 08:22] g4s8 opened #241 "Layout issues on sell page"
After latest UI update some text hints for input fields were moved, and now it's not clear for which input text is shown. Looks like hint about address is shown for amount input and amount hint is just a text without input field.
![scrot-2019-05-18-11:09:42](https://user-images.githubusercontent.com/1524988/57966735-af831180-795e-11e9-9462-3f6b01ae49fb.png)

[2019-05-18 08:22] 0crat commented on #241
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-18 15:21] g4s8 opened #242 "Potential atack via svg served over http"
There's svg image on wts page loaded via http (it's http://www.sixnines.io/b/f181?style=flat). So hacker may use MITM attack to replace this image with any other.
There're two possible attacks with this image:
 1. Hacker may replace it with custom full screen image with text like "your account was locked, send 5 BTC to my address to unlock"
 2. Hacker may use some XSS exploits in old browsers or 0

[2019-05-18 15:21] 0crat commented on #242
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-18 22:48] amorenew opened #245 "Internal server error while making a payment between GitHub account & Mobile number"
**Describe the bug**
I want to pay from my GitHub wallet to the mobile wallet but I got an error

**To Reproduce**
Steps to reproduce the behavior:
1-Login by GitHub account to the web wallet
2-Click on pay button
3-Enter the key gap, mobile number, amount and details.
4-Click pay then you will see a white page with error: "Internal server error"

**Expected behavior**
I expect the payment to be s

[2019-05-20 06:36] yegor256 opened #243 "Unexpected error while processing request: Rack::Csrf::InvalidCsrfToken"
`Rack::Csrf::InvalidCsrfToken` when sending payments

[2019-05-20 06:39] 0crat commented on #242
Job [#242](https://github.com/zold-io/wts.zold.io/issues/242) is now in scope, role is `DEV`

[2019-05-20 06:41] yegor256 commented on #241
@g4s8 what is the browser? I don't see it in Chrome.

[2019-05-20 06:41] yegor256 commented on #243
@rultor release, tag is `0.35.2`

[2019-05-20 06:42] rultor commented on #243
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18945-493857540)

[2019-05-20 06:47] rultor commented on #243
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18945-493857540) (took me 4min)

[2019-05-20 06:48] #243 closed

[2019-05-20 06:48] 0crat commented on #242
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @g4s8[/z](https://www.0crat.com/u/g4s8)

[2019-05-20 07:04] 0crat commented on #243
Job `gh:zold-io/wts.zold.io#243` is not assigned, can't get performer

[2019-05-20 07:04] 0crat commented on #243
This job is not in scope

[2019-05-20 09:16] g4s8 commented on #241
@yegor256 I'm using "Mozilla Firefox 66.0.5", just updated from previous version and still can see same issue. It was not reproduced before WTS UI updates.

[2019-05-20 16:10] Protagores opened #244 "Add fiat cash out method alternative to PayPal (maybe TransferWise?)"
As stated already in zerocracy/farm#1320, PayPal is not available in certain countries, and it also contains hidden currency conversion fees which can become quite large for those who don’t live in the United States and, consequently, don’t have USD as their state currency. A more optimal way of cashing out to fiat for such users is desirable.

One of the possible ways is by using TransferWise bor

[2019-05-20 16:10] 0crat commented on #244
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-20 16:10] 0crat commented on #244
@protagores[/z](https://www.0crat.com/u/protagores) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-20 16:11] 0crat commented on #245
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-20 16:11] 0crat commented on #245
@amorenew[/z](https://www.0crat.com/u/amorenew) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-20 16:11] yegor256 commented on #245
@amorenew should be fixed already, in #243

[2019-05-20 16:11] #245 closed

[2019-05-20 16:42] 0crat commented on #245
Job `gh:zold-io/wts.zold.io#245` is not assigned, can't get performer

[2019-05-20 16:48] 0crat commented on #245
This job is not in scope

[2019-05-21 07:33] yegor256 opened #246 "NoMethodError: undefined method `abs' for main:Object"
[code]

[2019-05-21 07:43] yegor256 commented on #246
@rultor release, tag is `0.35.3`

[2019-05-21 07:45] rultor commented on #246
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18959-494278160)

[2019-05-21 07:51] rultor commented on #246
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18959-494278160) (took me 4min)

[2019-05-21 07:57] #246 closed

[2019-05-21 08:14] 0crat commented on #246
Job `gh:zold-io/wts.zold.io#246` is not assigned, can't get performer

[2019-05-21 08:15] 0crat commented on #246
This job is not in scope

[2019-05-21 16:56] yegor256 commented on #241
@rultor release, tag is `0.35.4`

[2019-05-21 16:58] rultor commented on #241
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18969-494472988)

[2019-05-21 17:01] rultor commented on #241
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18969-494472988) (spent 3min)

[code]

[2019-05-21 22:02] yegor256 commented on #241
@rultor release, tag is `0.35.4`

[2019-05-21 22:03] rultor commented on #241
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18969-494575883)

[2019-05-21 22:08] rultor commented on #241
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/18969-494575883) (spent 4min)

[code]

[2019-05-21 22:11] yegor256 commented on #241
@rultor release, tag is `0.35.4`

[2019-05-21 22:12] rultor commented on #241
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/18969-494578004)

[2019-05-21 22:19] rultor commented on #241
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/18969-494578004) (took me 5min)

[2019-05-22 05:13] yegor256 commented on #241
@g4s8 how about now?

[2019-05-22 05:13] 0crat commented on #241
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-22 05:30] 0crat commented on #241
Job `gh:zold-io/wts.zold.io#241` is not assigned, can't get performer

[2019-05-22 05:30] 0crat commented on #241
This job is not in scope

[2019-05-22 08:01] g4s8 commented on #241
@yegor256 fixed, thanks

[2019-05-22 08:01] #241 closed

[2019-05-22 08:21] 0crat commented on #241
Job `gh:zold-io/wts.zold.io#241` is not assigned, can't get performer

[2019-05-22 08:23] 0crat commented on #241
This job is not in scope

[2019-05-24 15:10] ypshenychka opened #247 "No payment to bitcoin received"
I've sold zld to btc 2 hours ago, and they're deducted from my wallet, but nothing received to btc account as well as no log record in wts.zold.io chat.
![image](https://user-images.githubusercontent.com/11703257/58337721-14eb6c80-7e4f-11e9-834d-c60e22b8147b.png)

[2019-05-24 15:10] 0crat commented on #247
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-24 15:10] 0crat commented on #247
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-27 17:52] yegor256 commented on #247
@ypshenychka what is your wallet ID?

[2019-05-27 18:00] yegor256 commented on #247
@rultor release, tag is `0.35.5`

[2019-05-27 18:01] rultor commented on #247
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19013-496276785)

[2019-05-27 18:04] ypshenychka commented on #247
@yegor256 zold wallet id is: d61f389eaf2b3327

[2019-05-27 18:07] rultor commented on #247
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19013-496276785) (took me 5min)

[2019-05-27 18:19] yegor256 commented on #247
@ypshenychka I sent you 44 ZLD back. Hopefully this won't happen again. Sorry about this.

[2019-05-27 18:19] #247 closed

[2019-05-27 18:20] yegor256 commented on #247
@ypshenychka oops, it seems I sent you 44 twice. Can you please return back the second payment?

[2019-05-27 18:36] ypshenychka commented on #247
@yegor256 I haven't received anything back yet. But let me know your wallet id, so that I know where to return extra payment.

[2019-05-27 19:01] 0crat commented on #247
Job `gh:zold-io/wts.zold.io#247` is not assigned, can't get performer

[2019-05-27 19:01] 0crat commented on #247
This job is not in scope

[2019-05-28 04:45] ypshenychka commented on #247
@yegor256 Is this your wallet ID? 3bd97355b8c58dc7

[2019-05-28 13:33] paulodamaso opened #249 "Sold zolds, did not received cash"
I've sold my zolds but they weren't added to my paypal account (screeshots taken on 28/05/2019 10:31 UTC -3):

![image](https://user-images.githubusercontent.com/33915433/58481867-a69af880-8133-11e9-8d04-e73aae97d9f5.png)

![image](https://user-images.githubusercontent.com/33915433/58481896-b4e91480-8133-11e9-9f3d-e86be67e6e7f.png)

[2019-05-28 13:44] yegor256 commented on #247
@ypshenychka yes

[2019-05-28 13:55] ypshenychka commented on #247
@yegor256 Done
![image](https://user-images.githubusercontent.com/11703257/58483704-6bb3b780-8169-11e9-9f4c-242345f4c351.png)

[2019-05-28 14:14] yegor256 opened #248 "check nodes more accurately"
Let's fetch the real amount of them

[2019-05-28 14:15] yegor256 commented on #248
@rultor release, tag is `0.35.6`

[2019-05-28 14:18] rultor commented on #248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19023-496535749)

[2019-05-28 14:27] rultor commented on #248
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19023-496535749) (took me 5min)

[2019-05-28 14:38] 0crat commented on #249
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-28 14:38] 0crat commented on #249
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.47.3](https://github.com/zerocracy/farm): Issue: zold-io/wts.zold.io#249, Action: `opened`

[2019-05-28 17:24] paulodamaso commented on #249
@yegor256 Looks like the transaction has been rolled back, tried again and worked, thanks

[2019-05-28 17:24] #249 closed

[2019-05-28 17:32] paulodamaso commented on #210
@yegor256 Please take e look to thsi one, I'm being overcharged:
Zold transactions:
![image](https://user-images.githubusercontent.com/33915433/58498511-934c5500-8154-11e9-9abb-ef390b2c2fc2.png)

That turns paypal transaction:
![image](https://user-images.githubusercontent.com/33915433/58498672-eaeac080-8154-11e9-937e-4296dc8e3510.png)

Which charges me a fee for the transaction:
![image](https://

[2019-05-28 17:47] 0crat commented on #249
This job is not in scope

[2019-05-28 20:02] yegor256 commented on #248
@rultor release, tag is `0.35.7`

[2019-05-28 20:03] rultor commented on #248
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19023-496667218)

[2019-05-28 20:09] rultor commented on #248
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19023-496667218) (took me 4min)

[2019-05-29 05:20] #248 closed

[2019-05-29 05:45] 0crat commented on #248
Job `gh:zold-io/wts.zold.io#248` is not assigned, can't get performer

[2019-05-29 05:45] 0crat commented on #248
This job is not in scope

[2019-05-29 06:00] yegor256 commented on #242
@g4s8 it's fixed in 849d5be thanks!

[2019-05-29 06:00] #242 closed

[2019-05-29 06:17] 0crat commented on #242
Job `gh:zold-io/wts.zold.io#242` is not assigned, can't get performer

[2019-05-29 06:17] 0crat commented on #242
The job [#242](https://github.com/zold-io/wts.zold.io/issues/242) is now out of scope

[2019-05-29 07:22] yegor256 opened #250 "btc fees deduct from the payment"
Deduct them

[2019-05-29 07:27] 0crat commented on #250
The job [#250](https://github.com/zold-io/wts.zold.io/issues/250) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/5792ce87-3b28-4c61-a43e-11f05ba1c9cd); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-05-29 07:28] 0crat commented on #250
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 07:28] 0crat commented on #250
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 07:28] 0crat commented on #250
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 08:33] yegor256 commented on #250
@rultor release, tag is `0.35.8`

[2019-05-29 08:35] rultor commented on #250
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19039-496840283)

[2019-05-29 08:43] rultor commented on #250
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19039-496840283) (took me 6min)

[2019-05-29 08:45] #250 closed

[2019-05-29 10:09] 0crat commented on #250
Job was finished in 1 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-29 10:11] 0crat commented on #250
The job [#250](https://github.com/zold-io/wts.zold.io/issues/250) is now out of scope

[2019-05-29 10:12] 0crat commented on #250
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 11:56] yegor256 opened #251 "sibit 0.12.2"
https://github.com/yegor256/sibit/releases/tag/0.12.2

[2019-05-29 12:23] yegor256 commented on #251
@rultor release, tag is `0.35.9`

[2019-05-29 12:24] rultor commented on #251
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19046-496913558)

[2019-05-29 12:29] rultor commented on #251
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19046-496913558) (took me 4min)

[2019-05-29 12:30] #251 closed

[2019-05-29 12:38] yegor256 opened #252 "auto-pull is too intensive, on start"
Let's not pull twicd

[2019-05-29 12:49] 0crat commented on #252
The job [#252](https://github.com/zold-io/wts.zold.io/issues/252) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/94f04bc8-035f-4020-92ca-bef90440296c); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-05-29 12:50] 0crat commented on #251
Job `gh:zold-io/wts.zold.io#251` is not assigned, can't get performer

[2019-05-29 12:50] 0crat commented on #251
This job is not in scope

[2019-05-29 12:50] 0crat commented on #252
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 12:50] 0crat commented on #252
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 12:51] 0crat commented on #252
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 12:58] yegor256 commented on #252
@rultor release, tag is `0.35.10`

[2019-05-29 13:02] rultor commented on #252
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19049-496925481)

[2019-05-29 13:11] rultor commented on #252
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19049-496925481) (took me 6min)

[2019-05-29 13:19] #252 closed

[2019-05-29 13:48] yegor256 commented on #252
@rultor release, tag is `0.35.11`

[2019-05-29 13:50] rultor commented on #252
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19049-496944122)

[2019-05-29 13:57] rultor commented on #252
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19049-496944122) (took me 5min)

[2019-05-29 14:36] 0crat commented on #252
Job was finished in 0 hours, bonus for fast delivery is possible (see [§36](http://www.zerocracy.com/policy.html#36))

[2019-05-29 14:36] 0crat commented on #252
The job [#252](https://github.com/zold-io/wts.zold.io/issues/252) is now out of scope

[2019-05-29 14:42] 0crat commented on #252
Order was finished: +35 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-05-29 15:09] Serranya opened #253 "Incorrect message that I don't work in zerocracy"
When I am trying to login via github I get the following:
![grafik](https://user-images.githubusercontent.com/1206309/58568281-46d84680-8234-11e9-97d7-5dfa8e4009e3.png)

But I do work in zerocracy:
![grafik](https://user-images.githubusercontent.com/1206309/58568380-77b87b80-8234-11e9-8a87-eb09cdd2bc26.png)

[2019-05-29 15:10] 0crat commented on #253
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-29 15:10] 0crat commented on #253
@serranya[/z](https://www.0crat.com/u/serranya) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-29 16:20] yegor256 commented on #253
@Serranya just try again, this may be a temporary problem

[2019-05-29 16:23] yegor256 commented on #253
@rultor release, tag is `0.35.12`

[2019-05-29 16:24] rultor commented on #253
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19057-497008700)

[2019-05-29 16:31] rultor commented on #253
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19057-497008700) (took me 5min)

[2019-05-29 16:32] #253 closed

[2019-05-29 16:48] Serranya commented on #253
@yegor256 Its still broken for me after the release.

[2019-05-29 16:51] 0crat commented on #253
Job `gh:zold-io/wts.zold.io#253` is not assigned, can't get performer

[2019-05-29 16:53] 0crat commented on #253
This job is not in scope

[2019-05-29 20:44] paulodamaso opened #254 "Zold WTS is failing to pay for 0crat issues solved"
Zold WTS is having problems in getting me paid fopr issues resolved for 0crat:

[2019-05-29 20:44] 0crat commented on #254
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-05-29 20:44] 0crat commented on #254
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-05-30 04:12] yegor256 commented on #254
@rultor release, tag is `0.35.13`

[2019-05-30 04:13] rultor commented on #254
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19059-497195486)

[2019-05-30 04:19] rultor commented on #254
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19059-497195486) (took me 5min)

[2019-05-30 04:21] yegor256 commented on #254
@paulodamaso should work now

[2019-05-30 04:21] #254 closed

[2019-05-30 04:41] 0crat commented on #254
Job `gh:zold-io/wts.zold.io#254` is not assigned, can't get performer

[2019-05-30 04:41] 0crat commented on #254
This job is not in scope

[2019-06-03 05:48] yegor256 opened #255 "coinbase-buy toggle"
let's make this togglable

[2019-06-03 05:49] yegor256 commented on #255
@rultor release, tag is `0.35.14`

[2019-06-03 05:50] rultor commented on #255
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19105-498121237)

[2019-06-03 05:55] rultor commented on #255
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19105-498121237) (took me 4min)

[2019-06-06 07:06] #255 closed

[2019-06-06 07:07] yegor256 opened #256 "manual transfer from cold to hot Bitcoin addresses"
Let's make it possible

[2019-06-06 07:23] 0crat commented on #255
Job `gh:zold-io/wts.zold.io#255` is not assigned, can't get performer

[2019-06-06 07:24] 0crat commented on #255
This job is not in scope

[2019-06-06 07:50] yegor256 commented on #256
@rultor release, tag is `0.35.15`

[2019-06-06 07:51] rultor commented on #256
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19124-499388170)

[2019-06-06 07:56] rultor commented on #256
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19124-499388170) (took me 4min)

[2019-06-06 08:00] yegor256 commented on #256
@rultor release, tag is `0.35.16`

[2019-06-06 08:01] rultor commented on #256
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19124-499391199)

[2019-06-06 08:07] rultor commented on #256
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19124-499391199) (took me 4min)

[2019-06-06 08:12] yegor256 commented on #256
@rultor release, tag is `0.35.16`

[2019-06-06 08:13] rultor commented on #256
@yegor256 Invalid release tag `0.35.16` specified. There is already a release `0.35.16` newer than the given release in this repository.

[2019-06-06 08:13] rultor commented on #256
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2019-06-06 08:18] yegor256 commented on #256
@rultor release, tag is `0.35.17`

[2019-06-06 08:19] rultor commented on #256
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19124-499396691)

[2019-06-06 08:25] rultor commented on #256
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19124-499396691) (took me 4min)

[2019-06-06 08:40] yegor256 commented on #256
@rultor release, tag is `0.35.18`

[2019-06-06 08:41] rultor commented on #256
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19124-499404071)

[2019-06-06 08:47] rultor commented on #256
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19124-499404071) (took me 4min)

[2019-06-06 12:03] #256 closed

[2019-06-06 12:22] 0crat commented on #256
Job `gh:zold-io/wts.zold.io#256` is not assigned, can't get performer

[2019-06-06 12:22] 0crat commented on #256
This job is not in scope

[2019-06-07 10:01] yegor256 opened #257 "send cold out"
let's make it possible

[2019-06-07 10:05] yegor256 commented on #257
@rultor release, tag is `0.35.19`

[2019-06-07 10:06] rultor commented on #257
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19135-499830405)

[2019-06-07 10:13] rultor commented on #257
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19135-499830405) (took me 6min)

[2019-06-07 10:21] #257 closed

[2019-06-07 10:39] 0crat commented on #257
Job `gh:zold-io/wts.zold.io#257` is not assigned, can't get performer

[2019-06-07 10:39] 0crat commented on #257
This job is not in scope

[2019-06-11 04:23] yegor256 opened #258 "NoMethodError: private method `sibit' called for Sinatra::Application:Class"
[code]

[2019-06-11 04:26] yegor256 commented on #258
@rultor release, tag is `0.35.20`

[2019-06-11 04:33] yegor256 commented on #258
@rultor release, tag is `0.35.20`

[2019-06-11 04:33] rultor commented on #258
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19168-500682889)

[2019-06-11 04:39] rultor commented on #258
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19168-500682889) (took me 5min)

[2019-06-11 05:27] #258 closed

[2019-06-11 05:44] 0crat commented on #258
Job `gh:zold-io/wts.zold.io#258` is not assigned, can't get performer

[2019-06-11 05:44] 0crat commented on #258
This job is not in scope

[2019-06-13 07:41] yegor256 opened #259 "show deficit in daily report"
let's show

[2019-06-13 08:10] yegor256 commented on #259
@rultor release, tag is `0.35.21`

[2019-06-13 08:11] rultor commented on #259
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19192-501598179)

[2019-06-13 08:17] rultor commented on #259
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19192-501598179) (took me 4min)

[2019-06-13 08:23] #259 closed

[2019-06-13 08:39] 0crat commented on #259
Job `gh:zold-io/wts.zold.io#259` is not assigned, can't get performer

[2019-06-13 08:40] 0crat commented on #259
This job is not in scope

[2019-06-16 04:45] yegor256 opened #260 "Coinbase::Wallet::ValidationError"
[code]

[2019-06-16 05:00] yegor256 opened #261 "ArgumentError: flag after precision"
[code]

[2019-06-16 05:08] yegor256 commented on #261
reported: https://github.com/clbustos/svg-graph/issues/13

[2019-06-16 05:08] yegor256 commented on #260
@rultor release, tag is `0.35.22`

[2019-06-16 05:09] rultor commented on #260
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19225-502420712)

[2019-06-16 05:14] rultor commented on #260
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19225-502420712) (took me 4min)

[2019-06-16 05:15] #260 closed

[2019-06-16 05:28] yegor256 opened #262 "show technical details in the report"
let's show them

[2019-06-16 05:32] 0crat commented on #261
Job [#261](https://github.com/zold-io/wts.zold.io/issues/261) is now in scope, role is `DEV`

[2019-06-16 05:33] 0crat commented on #260
Job `gh:zold-io/wts.zold.io#260` is not assigned, can't get performer

[2019-06-16 05:33] 0crat commented on #260
This job is not in scope

[2019-06-16 05:33] 0crat commented on #261
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-16 05:49] yegor256 commented on #262
@rultor release, tag is `0.35.23`

[2019-06-16 05:50] rultor commented on #262
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19226-502422839)

[2019-06-16 05:55] rultor commented on #262
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19226-502422839) (took me 4min)

[2019-06-16 09:45] #262 closed

[2019-06-16 10:02] 0crat commented on #262
Job `gh:zold-io/wts.zold.io#262` is not assigned, can't get performer

[2019-06-16 10:03] 0crat commented on #262
This job is not in scope

[2019-06-16 10:23] yegor256 commented on #262
@rultor release, tag is `0.35.24`

[2019-06-16 10:23] rultor commented on #262
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19226-502439501)

[2019-06-16 10:28] rultor commented on #262
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19226-502439501) (took me 4min)

[2019-06-17 06:03] yegor256 opened #263 "Maximum concurrent requests for this endpoint reached"
Most probably due to this error an incoming BTC payment was missed:

[code]

[2019-06-17 06:27] AlexStich commented on #263
Good day.
Yesterday buy zold - about 6000 rub. equivalent, balance no change.
Wallet ID - c8595285413beec2

[2019-06-17 07:10] AlexStich commented on #263
After updating wallet page balance doesn't change.
Here screenshot of operation.
![Screenshot from 2019-06-17 09-57-40](https://user-images.githubusercontent.com/29394093/59584963-0e67b200-90e8-11e9-9ac5-42f2dc41a9b9.png)

[2019-06-17 07:20] yegor256 commented on #263
@rultor release, tag is `0.35.25`

[2019-06-17 07:21] rultor commented on #263
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19236-502564755)

[2019-06-17 07:22] 0crat commented on #263
The job [#263](https://github.com/zold-io/wts.zold.io/issues/263) assigned to @yegor256[/z](https://www.0crat.com/u/yegor256), here is [why](https://www.0crat.com/footprint/CB28FH2NR/3069f4ca-9817-458d-8355-74162df4fcf3); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.htm

[2019-06-17 07:22] 0crat commented on #263
It is strongly discouraged to assign jobs to their creators, see [§19](http://www.zerocracy.com/policy.html#19): -15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-17 07:22] 0crat commented on #263
Manual assignment of issues is discouraged, see [§19](http://www.zerocracy.com/policy.html#19): -5 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-17 07:22] 0crat commented on #263
Bug was reported, see [§29](http://www.zerocracy.com/policy.html#29): +15 point(s) just awarded to @yegor256[/z](https://www.0crat.com/u/yegor256)

[2019-06-17 07:27] rultor commented on #263
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19236-502564755) (took me 4min)

[2019-06-17 07:48] ammaratef45 opened #264 "How to use the API to know taxes and wallet size?"
I want to implement ammaratef45/zold-flutter-client#104 but I need to get this info using the API
- taxes
- file size

[2019-06-17 07:48] 0crat commented on #264
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-17 07:48] 0crat commented on #264
@ammaratef45[/z](https://www.0crat.com/u/ammaratef45) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-17 07:53] yegor256 commented on #263
@AlexStich I can't understand what happened, I will keep an eye on this bug. In the meantime, I've sent you 39 ZLD to your wallet, to compensate the error.

[2019-06-17 08:22] yegor256 commented on #263
[code]

[2019-06-17 08:24] yegor256 commented on #263
@rultor release, tag is `0.35.26`

[2019-06-17 08:25] rultor commented on #263
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19236-502584528)

[2019-06-17 08:32] rultor commented on #263
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19236-502584528) (took me 4min)

[2019-06-17 08:38] AlexStich commented on #263
@yegor256  Ok. Thanks. Balance is ok.

[2019-06-18 06:19] yegor256 commented on #264
@rultor release, tag is `0.35.27`

[2019-06-18 06:20] rultor commented on #264
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19246-502963899)

[2019-06-18 06:21] yegor256 commented on #264
@ammaratef45 see what was done in e61ea60. You should use `/head.json` to get all the details about the wallet.

[2019-06-18 06:26] rultor commented on #264
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19246-502963899) (took me 4min)

[2019-06-18 06:26] #264 closed

[2019-06-18 06:44] 0crat commented on #264
Job `gh:zold-io/wts.zold.io#264` is not assigned, can't get performer

[2019-06-18 06:45] 0crat commented on #264
This job is not in scope

[2019-06-18 08:24] 0crat commented on #103
The job [#103](https://github.com/zold-io/wts.zold.io/issues/103) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CB28FH2NR/9e649d6b-57de-49b7-ac9f-6a85efaf16d5); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-06-18 08:35] 0crat commented on #206
The job [#206](https://github.com/zold-io/wts.zold.io/issues/206) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CB28FH2NR/356756d9-f6a2-478f-ac99-8947895fb1ee); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-06-18 08:44] 0crat commented on #218
The job [#218](https://github.com/zold-io/wts.zold.io/issues/218) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CB28FH2NR/ccea9d7d-1684-4d80-8c81-3108072129eb); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-06-18 09:40] ammaratef45 commented on #264
@yegor256 Thanks

[2019-06-19 07:36] yegor256 opened #265 "NameError: undefined local variable or method `r' for main:Object"
[code]

[2019-06-19 07:37] yegor256 commented on #265
@rultor release, tag is `0.35.28`

[2019-06-19 07:38] rultor commented on #265
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19257-503445097)

[2019-06-19 07:44] rultor commented on #265
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19257-503445097) (took me 4min)

[2019-06-19 07:45] #265 closed

[2019-06-19 08:10] 0crat commented on #265
Job `gh:zold-io/wts.zold.io#265` is not assigned, can't get performer

[2019-06-19 08:11] 0crat commented on #265
This job is not in scope

[2019-06-19 10:20] oltdaniel commented on #206
@yegor256 Should I implement a simple regex trying to match every possible input, use https://github.com/google/libphonenumber or just match a specific length?

[2019-06-19 15:30] yegor256 opened #266 "orphaned Blockchain blocks"

[2019-06-19 15:40] yegor256 commented on #266
@rultor release, tag is `0.35.29`

[2019-06-19 15:40] rultor commented on #266
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19263-503614991)

[2019-06-19 15:47] rultor commented on #266
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19263-503614991) (took me 5min)

[2019-06-19 15:57] yegor256 commented on #266
@rultor release, tag is `0.35.30`

[2019-06-19 15:58] rultor commented on #266
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19263-503622113)

[2019-06-19 16:05] rultor commented on #266
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19263-503622113) (took me 5min)

[2019-06-19 16:23] 0crat commented on #266
This job is not in scope

[2019-06-21 10:49] yegor256 opened #267 "NoMethodError: undefined method `[]' for #<Zold::HttpResponse:0x00007fd090456678>"
[code]

[2019-06-21 10:51] yegor256 commented on #267
@rultor release, tag is `0.35.31`

[2019-06-21 10:52] rultor commented on #267
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19278-504383590)

[2019-06-21 10:57] rultor commented on #267
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19278-504383590) (took me 4min)

[2019-06-21 11:04] #267 closed

[2019-06-21 12:09] 0crat commented on #267
Job `gh:zold-io/wts.zold.io#267` is not assigned, can't get performer

[2019-06-21 12:12] 0crat commented on #267
This job is not in scope

[2019-06-23 07:09] yegor256 commented on #162
@g4s8 how about this idea. Every time you send a payment you add a `date` field to it. You create that date locally and send it over. And you send your requests via ReHTTP.net. The presence of the `date` inside the payment details will guarantee that the transaction will be added to the Zold wallet only once, no matter how many times WTS will receive the POST request, because all requests except t

[2019-06-23 08:40] 0crat commented on #103
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-23 08:40] 0crat commented on #206
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-23 09:45] 0crat commented on #218
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-06-24 22:40] shuhikari opened #268 "PG::UnableToSend: no connection to the server - Internal error at 0.35.31"
**Describe the bug**
Cannot access my zold wallet through [wts.zold.io](http://wts.zold.io)

**To Reproduce**
Steps to reproduce the behavior:
1. Try to open [wts.zold.io](http://wts.zold.io)
2. Then, click on login
3. Login with github
4. See error

**Expected behavior**
The website should open normally and show the wallet's info

**Desktop (please complete the following information):**
 - OS: Ma

[2019-06-24 22:40] 0crat commented on #268
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-24 22:40] 0crat commented on #268
@shuhikari[/z](https://www.0crat.com/u/shuhikari) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-24 23:04] shuhikari opened #269 "Cannot access zold wallet - Internal error at 0.35.31"
**Describe the bug**
Cannot access my zold wallet through [wts.zold.io](http://wts.zold.io)

**To Reproduce**
Steps to reproduce the behavior:
1. Try to open [wts.zold.io](http://wts.zold.io)
2. Then, click on login
3. Login with github
4. See error

**Expected behavior**
The website should open normally and show the wallet's info

**Desktop (please complete the following information):**
 - OS: Ma

[2019-06-25 00:13] shuhikari commented on #268
Sorry, duplicated.

[2019-06-25 00:30] 0crat commented on #268
Job `gh:zold-io/wts.zold.io#268` is not assigned, can't get performer

[2019-06-25 00:31] 0crat commented on #268
This job is not in scope

[2019-06-25 03:32] shuhikari commented on #268
I think I reported it in the wrong place before. https://github.com/zold-io/zold/issues/767

[2019-06-25 03:33] 0crat commented on #268
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-25 03:33] 0crat commented on #268
@shuhikari[/z](https://www.0crat.com/u/shuhikari) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-25 04:12] 0crat commented on #269
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-25 04:12] 0crat commented on #269
@shuhikari[/z](https://www.0crat.com/u/shuhikari) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-06-25 06:15] yegor256 commented on #269
@rultor release, tag is `0.35.32`

[2019-06-25 06:16] rultor commented on #269
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19320-505300462)

[2019-06-25 06:22] rultor commented on #269
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19320-505300462) (took me 4min)

[2019-06-25 06:23] #269 closed

[2019-06-25 06:24] yegor256 commented on #268
@shuhikari fixed in #269

[2019-06-25 06:24] #268 closed

[2019-06-25 06:24] yegor256 commented on #268
@shuhikari thanks for reporting!

[2019-06-25 06:59] 0crat commented on #269
Job `gh:zold-io/wts.zold.io#269` is not assigned, can't get performer

[2019-06-25 07:06] 0crat commented on #268
Job `gh:zold-io/wts.zold.io#268` is not assigned, can't get performer

[2019-06-25 07:14] 0crat commented on #269
This job is not in scope

[2019-06-25 07:14] 0crat commented on #268
This job is not in scope

[2019-06-25 10:46] shuhikari commented on #268
@yegor256 	 thanks for solving. Cheers

[2019-06-25 11:07] yegor256 opened #270 "ERROR: null in /quick"
JavaScript error

[2019-06-25 11:23] yegor256 commented on #270
@rultor release, tag is `0.35.33`

[2019-06-25 11:23] rultor commented on #270
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19323-505401479)

[2019-06-25 11:29] rultor commented on #270
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19323-505401479) (took me 4min)

[2019-06-25 13:53] #270 closed

[2019-06-25 14:14] 0crat commented on #270
Job `gh:zold-io/wts.zold.io#270` is not assigned, can't get performer

[2019-06-25 14:16] 0crat commented on #270
This job is not in scope

[2019-06-27 08:32] g4s8 opened #271 "There are only edge nodes"
Zerocracy payment failed with error:

I'm not sure how critical this error, it seems that it was reproduced just few times, and now it's working fine.

Full error:
[code]
See https://github.com/zerocracy/farm/issues/2098

[2019-06-27 08:32] 0crat commented on #271
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-28 05:40] yegor256 commented on #271
@g4s8 it's a regular situation. You just have to try again in a few minutes and that's all. This error means that no master nodes are visible at the moment.

[2019-06-28 05:40] #271 closed

[2019-06-28 05:43] yegor256 opened #272 "invoices"
Let's make it possible to invoice each other. The user have to be able to click to [/invoice](https://wts.zold.io/invoice) and below the invoice text enter three values: the amount, the description, and the email to send to. Then, we send an email. In the email we say that "you are asked to pay for this and that, please click here."

The recipient of the email clicks "Pay" and gets into the [/pay]

[2019-06-28 05:58] 0crat commented on #271
Job `gh:zold-io/wts.zold.io#271` is not assigned, can't get performer

[2019-06-28 05:58] 0crat commented on #271
This job is not in scope

[2019-06-28 08:29] 0crat commented on #103
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2019-06-28 08:30] 0crat commented on #103
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#103](https://github.com/zold-io/wts.zold.io/issues/103), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-06-28 08:35] 0crat commented on #206
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2019-06-28 08:35] 0crat commented on #210
The job [#210](https://github.com/zold-io/wts.zold.io/issues/210) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CB28FH2NR/76f32bfd-1a0b-4881-a1d0-ecb9dad56798); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-06-28 08:35] 0crat commented on #206
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#206](https://github.com/zold-io/wts.zold.io/issues/206), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-06-28 08:45] 0crat commented on #216
The job [#216](https://github.com/zold-io/wts.zold.io/issues/216) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CB28FH2NR/d3e0c646-7e5c-4363-8a8d-290f0795c80a); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-06-28 08:49] 0crat commented on #218
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#218](https://github.com/zold-io/wts.zold.io/issues/218), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-06-28 08:49] 0crat commented on #218
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2019-06-28 08:59] 0crat commented on #162
The job [#162](https://github.com/zold-io/wts.zold.io/issues/162) assigned to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel), here is [why](https://www.0crat.com/footprint/CB28FH2NR/0e12287f-e6eb-4614-b2d7-f525caf7a4a8); the budget is 30 minutes, see [§4](http://www.zerocracy.com/policy.html#4); please, read [§8](http://www.zerocracy.com/policy.html#8) and [§9](http://www.zerocracy.com/policy.h

[2019-06-28 12:10] g4s8 opened #273 "No nodes out of 19 have the wallet ac4d38f6edf95649"
We're getting this error in Zerocracy from yesterday:
[code]
0crat is trying to pay to user `vladarefiev`, but looks like WTS can't find the wallet of user `vladarefiev` for some reason.

[2019-06-28 12:10] 0crat commented on #273
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-06-28 12:12] g4s8 commented on #162
@yegor256 I think it should work

[2019-06-30 08:48] yegor256 commented on #273
@rultor release, tag is `0.35.34`

[2019-06-30 08:49] rultor commented on #273
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19385-507019514)

[2019-06-30 08:54] rultor commented on #273
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19385-507019514) (took me 4min)

[2019-06-30 10:37] yegor256 commented on #273
@g4s8 this is user's error. The wallet is gone from the network, but WTS still has its ID. The user has to go to the WTS and click "Restart".

[2019-06-30 14:42] g4s8 commented on #273
@vladarefiev can you please check this comment: https://github.com/zold-io/wts.zold.io/issues/273#issuecomment-507025660

[2019-07-01 14:53] vladarefiev commented on #273
@g4s8 Ok, will do it today.

[2019-07-03 08:38] 0crat commented on #210
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-03 09:46] 0crat commented on #162
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-03 09:46] 0crat commented on #216
@oltdaniel[/z](https://www.0crat.com/u/oltdaniel) this job was assigned to you 5days ago. It will be taken away from you soon, unless you close it, see [§8](http://www.zerocracy.com/policy.html#8). Read [this](http://www.yegor256.com/2014/04/13/no-obligations-principle.html) and [this](http://www.yegor256.com/2014/11/24/principles-of-bug-tracking.html), please.

[2019-07-03 12:04] yegor256 opened #274 "hoc is not measured right in daily summary"

[2019-07-03 12:04] yegor256 opened #275 "hoc is not measured right in daily summary"

[2019-07-03 12:11] yegor256 commented on #275
@rultor release, tag is `0.35.35`

[2019-07-03 12:12] rultor commented on #275
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19423-508066778)

[2019-07-03 12:18] rultor commented on #275
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19423-508066778) (took me 4min)

[2019-07-03 12:27] #275 closed

[2019-07-03 12:43] 0crat commented on #275
Job `gh:zold-io/wts.zold.io#275` is not assigned, can't get performer

[2019-07-03 12:43] 0crat commented on #275
This job is not in scope

[2019-07-03 14:12] g4s8 opened #276 "/rate is broken"
I'm getting 503 error on `/rate` page with text:

Internal error at 0.35.35

[code]

Also, I think that 503 status code for that case should not be used, since 503 code means "Service Unavailable: The server is currently unable to handle the request due to a temporary overloading or maintenance of the server. ", it would be more correct to use "500 Internal Server Error" .

[2019-07-03 14:12] 0crat commented on #276
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-03 14:26] yegor256 commented on #276
@rultor release, tag is `0.35.36`

[2019-07-03 14:27] rultor commented on #276
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19430-508116518)

[2019-07-03 14:33] rultor commented on #276
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19430-508116518) (took me 5min)

[2019-07-03 14:44] yegor256 commented on #276
@g4s8 fixed, thanks!

[2019-07-03 14:44] #276 closed

[2019-07-03 15:09] 0crat commented on #276
Job `gh:zold-io/wts.zold.io#276` is not assigned, can't get performer

[2019-07-03 15:10] 0crat commented on #276
This job is not in scope

[2019-07-04 07:37] yegor256 commented on #218
@agorlov it's fixed, thanks!

[2019-07-04 07:37] #218 closed

[2019-07-04 07:37] #274 closed

[2019-07-04 07:54] 0crat commented on #218
Job `gh:zold-io/wts.zold.io#218` is not assigned, can't get performer

[2019-07-04 07:54] 0crat commented on #274
Job `gh:zold-io/wts.zold.io#274` is not assigned, can't get performer

[2019-07-04 07:54] 0crat commented on #218
The job [#218](https://github.com/zold-io/wts.zold.io/issues/218) is now out of scope

[2019-07-04 07:54] 0crat commented on #274
This job is not in scope

[2019-07-05 16:40] ypshenychka opened #277 "Taxes part was deducted but no zold transferred to btc"
I've sold zold to btc, but only transaction with taxes is shown and this taxes amount is deducted. No zold arrived to btc wallet.

<img width="857" alt="Screen Shot 2019-07-05 at 6 39 06 PM" src="https://user-images.githubusercontent.com/11703257/60735559-35313f80-9f54-11e9-8806-4dcdff68aabb.png">

[2019-07-05 16:40] 0crat commented on #277
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-05 16:40] 0crat commented on #277
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-05 17:55] yegor256 opened #278 "sandbox can't login via API"

[2019-07-05 18:13] yegor256 commented on #277
@ypshenychka can you check what's in the `Log`? Click [here](https://wts.zold.io/log) to check.

[2019-07-05 18:15] yegor256 commented on #277
@ypshenychka also, it seems that no harm is done. Just do it again.

[2019-07-05 18:15] yegor256 commented on #278
@rultor release, tag is `0.35.37`

[2019-07-05 18:16] rultor commented on #278
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19449-508831785)

[2019-07-05 18:21] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19449-508831785) (took me 4min)

[2019-07-05 18:29] #278 closed

[2019-07-05 18:47] 0crat commented on #278
Job `gh:zold-io/wts.zold.io#278` is not assigned, can't get performer

[2019-07-05 18:47] 0crat commented on #278
This job is not in scope

[2019-07-05 18:55] yegor256 opened #279 "sandbox PULL should create a fake wallet with transactions"

[2019-07-05 18:55] yegor256 opened #280 "sandbox PULL should create a fake wallet with transactions"

[2019-07-05 19:49] yegor256 commented on #279
@rultor release, tag is `0.35.38`

[2019-07-05 19:51] rultor commented on #279
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19451-508848919)

[2019-07-05 19:56] rultor commented on #279
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19451-508848919) (took me 4min)

[2019-07-05 20:08] #279 closed

[2019-07-05 20:25] 0crat commented on #279
Job `gh:zold-io/wts.zold.io#279` is not assigned, can't get performer

[2019-07-05 20:25] 0crat commented on #279
This job is not in scope

[2019-07-05 21:24] ypshenychka commented on #277
@yegor256 right now I see this and reloading page in few minutes didn't work.
<img width="864" alt="Screen Shot 2019-07-05 at 11 22 16 PM" src="https://user-images.githubusercontent.com/11703257/60745707-ccf65400-9f7b-11e9-8e19-f9c701df406c.png">

[2019-07-05 21:34] ypshenychka commented on #277
@yegor256 Just tried again - and same thing. Taxes are deducted only. Will paste log entry below.
<img width="800" alt="Screen Shot 2019-07-05 at 11 33 38 PM" src="https://user-images.githubusercontent.com/11703257/60746097-6bcf8000-9f7d-11e9-8f9e-8f1cea8b0a29.png">

[2019-07-05 21:36] ypshenychka commented on #277
@yegor256 Here's an error from logs.
1.02ZLD of taxes paid from d61f389eaf2b3327 to 90d1c9dc00001222 (payment no.1, txn #60/689), -0.00ZLD left to pay
The wallet is in good standing, all taxes paid
ERROR: RuntimeError: There is not enough funds in d61f389eaf2b3327 to send 24.50ZLD, only 24.33ZLD left; the difference is 741535353 zents
	/app/vendor/bundle/ruby/2.6.0/gems/zold-0.29.30/lib/zold/comma

[2019-07-06 12:44] ypshenychka commented on #277
@yegor256 Please advise. Taxes are deducted again, but no money transferred.

[2019-07-07 09:22] #280 closed

[2019-07-07 09:27] yegor256 commented on #277
@ypshenychka you are trying to send more ZLDs than you have. You have 24.50 and you are sending all of them out. But before sending them the taxes are paid (1.02 ZLD) and your wallet has not enough to send 24.50. And it crashes. Let me see what we can do to make this situation more obvious. In the meantime, try to click [/pull](https://wts.zold.io/pull) and send a smaller amount out.

[2019-07-07 09:36] yegor256 commented on #277
@rultor release, tag is `0.35.39`

[2019-07-07 09:37] rultor commented on #277
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19463-508985487)

[2019-07-07 09:43] rultor commented on #277
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19463-508985487) (took me 4min)

[2019-07-07 09:44] #277 closed

[2019-07-07 10:56] 0crat commented on #277
Job `gh:zold-io/wts.zold.io#277` is not assigned, can't get performer

[2019-07-07 10:56] 0crat commented on #280
Job `gh:zold-io/wts.zold.io#280` is not assigned, can't get performer

[2019-07-07 10:57] 0crat commented on #280
This job is not in scope

[2019-07-07 10:58] 0crat commented on #277
This job is not in scope

[2019-07-07 11:22] ypshenychka commented on #277
@yegor256 Yep, it worked with smaller amount. However I would expect it to throw an error right away without deducting any taxes. I hope that's how you've fixed it :) Thanks.

[2019-07-07 12:14] yegor256 commented on #278
@rultor release, tag is `0.35.40`

[2019-07-07 12:15] rultor commented on #278
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19449-508994936)

[2019-07-07 12:20] rultor commented on #278
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19449-508994936) (took me 4min)

[2019-07-08 08:44] 0crat commented on #210
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2019-07-08 08:44] 0crat commented on #210
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#210](https://github.com/zold-io/wts.zold.io/issues/210), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-07-08 08:46] 0crat commented on #216
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#216](https://github.com/zold-io/wts.zold.io/issues/216), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-07-08 08:46] 0crat commented on #216
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2019-07-08 09:01] 0crat commented on #162
Resigned on delay, see [§8](http://www.zerocracy.com/policy.html#8): -30 point(s) just awarded to @oltdaniel[/z](https://www.0crat.com/u/oltdaniel)

[2019-07-08 09:01] 0crat commented on #162
The user @oltdaniel[/z](https://www.0crat.com/u/oltdaniel) resigned from [#162](https://github.com/zold-io/wts.zold.io/issues/162), please stop working. Reason for job resignation: It is older than 10 days, see [§8](http://www.zerocracy.com/policy.html#8)

[2019-07-10 07:45] yegor256 opened #281 "show wallet owners"
In the `/payables` page

[2019-07-10 08:06] yegor256 commented on #281
@rultor release, tag is `0.35.41`

[2019-07-10 08:07] rultor commented on #281
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19509-509956722)

[2019-07-10 08:11] rultor commented on #281
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19509-509956722) (spent 4min)

[code]

[2019-07-10 08:20] yegor256 commented on #281
@rultor release, tag is `0.35.41`

[2019-07-10 08:21] rultor commented on #281
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19509-509961726)

[2019-07-10 08:26] rultor commented on #281
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19509-509961726) (took me 4min)

[2019-07-10 08:29] #281 closed

[2019-07-10 09:36] 0crat commented on #281
Job `gh:zold-io/wts.zold.io#281` is not assigned, can't get performer

[2019-07-10 09:45] 0crat commented on #281
This job is not in scope

[2019-07-10 11:52] yegor256 opened #282 "report a job failure in TG"
Let's report it

[2019-07-10 12:00] yegor256 commented on #282
@rultor release, tag is `0.35.42`

[2019-07-10 12:00] rultor commented on #282
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19511-510031515)

[2019-07-10 12:05] rultor commented on #282
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19511-510031515) (spent 4min)

[code]

[2019-07-10 13:32] g4s8 opened #283 "WTS takes ZLD on exchange but didn't send BTC"
I exchange ZLD to BTC, WTS takes ZLD from my wallet but didn't send BTC, also didn't post a message to Telegram channel.
My wallet is [3be3416c805e4371](http://www.zold.io/ledger.html?wallet=3be3416c805e4371)
Transaction id is `#100`, WTS job id is `929a50a5-4574-43­53-8d04-83fe3a5c­b506`
![scrot-2019-07-10-16:30:08](https://user-images.githubusercontent.com/1524988/60973098-3a193900-a330-11e9-9a8

[2019-07-10 13:32] 0crat commented on #283
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-10 16:37] yegor256 commented on #282
@rultor release, tag is `0.35.42`

[2019-07-10 16:38] rultor commented on #282
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19511-510137325)

[2019-07-10 16:43] rultor commented on #282
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19511-510137325) (spent 4min)

[code]

[2019-07-11 15:07] g4s8 commented on #283
@yegor256 ping, can you please check this bug?

[2019-07-12 06:09] yegor256 commented on #283
@g4s8 I suspect that the server was rebooted right in the middle of your payment processing... That's why we don't see the job here: https://wts.zold.io/output?id=929a50a5-4574-43­53-8d04-83fe3a5c­b506 and here https://wts.zold.io/log?id=929a50a5-4574-43­53-8d04-83fe3a5c­b506

[2019-07-12 07:04] yegor256 commented on #283
@rultor release, tag is `0.35.42`

[2019-07-12 07:05] yegor256 commented on #283
@g4s8 I think I know what the problem was: pgtk 0.7.0 had a bug. it's fixed in 0.7.1. shouldn't happen again. I will send you 150 ZLD now.

[2019-07-12 07:05] rultor commented on #283
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19534-510773118)

[2019-07-12 07:09] rultor commented on #283
@g4s8 @yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19534-510773118) (spent 4min)

[code]

[2019-07-12 07:17] 0pdd opened #284 "test_daily_summary.rb:73-75: The test is skipped because..."
The puzzle `283-fb4c3c26` from #283 has to be resolved:

https://github.com/zold-io/wts.zold.io/blob/01e0afcb7878d909566e0aa69a0a25f8424a08c1/test/front/test_daily_summary.rb#L73-L75

The puzzle was created by Yegor Bugayenko on 12-Jul-19.

Estimate: 30 minutes,  role: DEV.

If you have any technical questions, don't ask me, submit new tickets instead. The task will be \"done\" when the problem is

[2019-07-12 07:17] 0pdd commented on #283
@g4s8 the puzzle [#284](https://github.com/zold-io/wts.zold.io/issues/284) is still not solved.

[2019-07-12 07:17] 0crat commented on #284
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-12 07:18] 0crat commented on #284
Job [#284](https://github.com/zold-io/wts.zold.io/issues/284) is now in scope, role is `DEV`

[2019-07-12 07:18] yegor256 commented on #283
@rultor release, tag is `0.35.42`

[2019-07-12 07:19] rultor commented on #283
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19534-510777446)

[2019-07-12 07:26] rultor commented on #283
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19534-510777446) (took me 6min)

[2019-07-12 07:40] #283 closed

[2019-07-12 07:46] #282 closed

[2019-07-12 08:05] 0crat commented on #283
Job `gh:zold-io/wts.zold.io#283` is not assigned, can't get performer

[2019-07-12 08:05] 0crat commented on #283
This job is not in scope

[2019-07-12 08:05] 0crat commented on #282
Job `gh:zold-io/wts.zold.io#282` is not assigned, can't get performer

[2019-07-12 08:05] g4s8 commented on #283
@yegor256 thanks!

[2019-07-12 08:05] 0crat commented on #282
This job is not in scope

[2019-07-14 08:02] yegor256 opened #285 "skip 127.0.0.1 in the list of remotes"

[2019-07-14 08:02] yegor256 opened #286 "skip 127.0.0.1 in the list of remotes"

[2019-07-14 09:15] yegor256 commented on #285
@rultor release, tag is `0.35.43`

[2019-07-14 09:15] rultor commented on #285
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19554-511186595)

[2019-07-14 09:21] rultor commented on #285
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19554-511186595) (took me 4min)

[2019-07-14 10:06] yegor256 commented on #285
@rultor release, tag is `0.35.44`

[2019-07-14 10:07] rultor commented on #285
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19554-511189741)

[2019-07-14 10:12] rultor commented on #285
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19554-511189741) (took me 4min)

[2019-07-14 11:11] #285 closed

[2019-07-14 11:28] 0crat commented on #285
Job `gh:zold-io/wts.zold.io#285` is not assigned, can't get performer

[2019-07-14 11:28] 0crat commented on #285
This job is not in scope

[2019-07-15 07:05] yegor256 opened #287 "can't parse time"
[code]

[2019-07-15 12:02] #287 closed

[2019-07-15 12:20] 0crat commented on #287
Job `gh:zold-io/wts.zold.io#287` is not assigned, can't get performer

[2019-07-15 12:20] 0crat commented on #287
This job is not in scope

[2019-07-20 07:21] aivinog1 opened #289 "A zold sign-up bonus is failed."
**Describe the bug**
I see that I don't have a sign-up bonus. See that message in telegram's https://t.me/zold_wts channel (https://t.me/zold_wts/5581):

I think in this situation Zold must have a debt to me and it has to keep trying to return this debt.

**To Reproduce**
Steps to reproduce the behavior:
1. Check that the wallet, where new user's sing up is hosted, has a less then 0.26ZLD (this is

[2019-07-20 13:02] aivinog1 opened #288 "Hosting bonuses is not paid since 14.07.2019"
I see that since this message: https://t.me/zold_wts/6248 in the zold's channel: https://t.me/zold_wts there weren't messages about a hosting bonus. As described here: https://blog.zold.io/2018/08/14/hosting-bonuses.html I create this ticket.

[2019-07-20 13:02] 0crat commented on #288
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-07-20 13:03] 0crat commented on #288
@aivinog1[/z](https://www.0crat.com/u/aivinog1) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-07-28 10:16] 0crat commented on #289
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.48.8](https://github.com/zerocracy/farm): Issue: zold-io/wts.zold.io#289, Action: `opened`

[2019-07-28 10:16] yegor256 commented on #289
@rultor release, tag is `0.35.45`

[2019-07-28 10:18] rultor commented on #289
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19722-515750397)

[2019-07-28 10:23] rultor commented on #289
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19722-515750397) (took me 5min)

[2019-07-28 10:25] #289 closed

[2019-07-28 10:25] yegor256 commented on #288
@aivinog1 we just don't enough funds for them.

[2019-07-28 10:25] #288 closed

[2019-07-28 11:07] 0crat commented on #289
Job `gh:zold-io/wts.zold.io#289` is not assigned, can't get performer

[2019-07-28 11:08] 0crat commented on #288
Job `gh:zold-io/wts.zold.io#288` is not assigned, can't get performer

[2019-07-28 11:08] 0crat commented on #289
This job is not in scope

[2019-07-28 11:08] 0crat commented on #288
This job is not in scope

[2019-07-30 16:25] g4s8 opened #290 "Pull is too long"
README suggested to use `/pull` before each WTS access and says that it's fast operation:

But actually it's quite expensive operations, it takes 15-20 seconds to pull and wait the job to complete. So I'd update the readme or make `/pull` faster.

[2019-07-30 16:25] 0crat commented on #290
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-01 19:39] yegor256 opened #291 "error in telegram auto-answer"
let's fix

[2019-08-01 19:40] yegor256 commented on #291
@rultor release, tag is `0.35.46`

[2019-08-01 19:41] rultor commented on #291
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19770-517428865)

[2019-08-01 19:44] rultor commented on #291
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/19770-517428865) (spent 3min)

[code]

[2019-08-01 19:58] yegor256 commented on #291
@rultor release, tag is `0.35.46`

[2019-08-01 20:00] rultor commented on #291
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19770-517435071)

[2019-08-01 20:06] rultor commented on #291
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19770-517435071) (took me 5min)

[2019-08-01 20:08] #291 closed

[2019-08-01 21:17] 0crat commented on #291
Job `gh:zold-io/wts.zold.io#291` is not assigned, can't get performer

[2019-08-01 21:31] 0crat commented on #291
This job is not in scope

[2019-08-02 02:21] carlosmiranda opened #292 "Can't log in via Github, even though I work in Zerocracy"
I am seeing this frequently since yesterday. I thought it was a transient issue, but I saw it again today:

![image](https://user-images.githubusercontent.com/1917892/62339627-36cc3400-b50f-11e9-923d-d9fcfbf3d720.png)

Same error as #200?

[2019-08-02 02:21] 0crat commented on #292
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-02 02:21] 0crat commented on #292
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-02 14:20] yegor256 commented on #292
@rultor release, tag is `0.35.47`

[2019-08-02 14:22] rultor commented on #292
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/19783-517718678)

[2019-08-02 14:28] rultor commented on #292
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/19783-517718678) (took me 4min)

[2019-08-02 14:33] yegor256 commented on #292
@carlosmiranda should be better now

[2019-08-02 14:33] #292 closed

[2019-08-02 14:51] 0crat commented on #292
Job `gh:zold-io/wts.zold.io#292` is not assigned, can't get performer

[2019-08-02 14:51] 0crat commented on #292
This job is not in scope

[2019-08-03 10:18] g4s8 opened #293 "/txns API limit param"
The list of transactions (`/txns` API) may be too long and fetched from the server in many seconds. (715 transactions are loaded ~17 sec for me). Quite often I need only few last transactions to see, so I'd suggest adding query parameter `limit` to select only head of transactions: `/txns?limit=10`.

[2019-08-03 10:18] 0crat commented on #293
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-05 09:46] g4s8 opened #294 "WTS didn't send BTC for ZLD"
I've sold ZLD for BTC, wts took my ZLD but didn't send BTC, same as in #283 bug. Looks like it was not fixed. My wallet: `3be3416c805e4371`, transactions are 105 and 104, job id is ` fa2c2eee-035f-40­b0-bedc-a80e32ee­10e5`

![scrot-2019-08-05-12:42:59](https://user-images.githubusercontent.com/1524988/62455353-d4796a80-b77e-11e9-8756-41ebcac992ea.png)

[2019-08-05 09:46] 0crat commented on #294
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-06 08:21] mmbug opened #295 "did not receive BTC. job ID is c2749b4e-8a2d-43­8c-b46f-fa009bc7­cced"
my Zold wallet is bd6a06be645eb711

[2019-08-06 08:21] 0crat commented on #295
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-06 08:21] 0crat commented on #295
@mmbug[/z](https://www.0crat.com/u/mmbug) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-06 08:22] mmbug commented on #295
my Zold wallet is bd6a06be645eb711

[2019-08-13 00:28] carlosmiranda opened #296 "Internal server error at homepage and login"
Screenshot:

![image](https://user-images.githubusercontent.com/1917892/62907107-43207e80-bda4-11e9-81c4-ff834a085873.png)

Trace:
[code]

[2019-08-13 00:28] 0crat commented on #296
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-13 00:28] 0crat commented on #296
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-08-13 12:44] yegor256 commented on #295
@mmbug refunded

[2019-08-13 12:44] #295 closed

[2019-08-13 13:31] 0crat commented on #295
Job `gh:zold-io/wts.zold.io#295` is not assigned, can't get performer

[2019-08-13 13:32] 0crat commented on #295
This job is not in scope

[2019-08-20 11:08] g4s8 opened #297 "No API for rates history"
It's not possible to access `ZLD:USD` or `ZLD:BTC` rates history, but WTS keeps it internally. Please add new API to get it, would be great if API user will be able to specify start date.

It may look like:
`GET /rates?since=2019-01-01`:
[code]

[2019-08-20 11:08] 0crat commented on #297
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-08-27 04:24] yegor256 opened #298 "move back for a few blocks when orphan is found"

[2019-08-27 04:33] yegor256 commented on #298
@rultor release, tag is `0.35.48`

[2019-08-27 04:33] rultor commented on #298
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20031-525132771)

[2019-08-27 04:40] rultor commented on #298
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20031-525132771) (took me 5min)

[2019-08-27 04:58] yegor256 commented on #298
@rultor release, tag is `0.35.49`

[2019-08-27 04:59] rultor commented on #298
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20031-525137616)

[2019-08-27 05:06] rultor commented on #298
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20031-525137616) (took me 6min)

[2019-08-28 04:38] #298 closed

[2019-08-28 04:53] 0crat commented on #298
Job `gh:zold-io/wts.zold.io#298` is not assigned, can't get performer

[2019-08-28 04:53] 0crat commented on #298
This job is not in scope

[2019-09-26 13:20] g4s8 opened #299 "WTS is not working"
Any request (both on website or via API) to WTS is failing with 503 error and message:
[code]

[2019-09-26 13:20] 0crat commented on #299
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-09-26 13:23] yegor256 commented on #299
@g4s8 fixed

[2019-09-26 13:23] #299 closed

[2019-09-26 13:40] 0crat commented on #299
Job `gh:zold-io/wts.zold.io#299` is not assigned, can't get performer

[2019-09-26 13:43] 0crat commented on #299
This job is not in scope

[2019-10-04 05:03] yegor256 opened #300 "keygap is not visible fully on mobile"
Let's fix

[2019-10-04 08:24] yegor256 commented on #300
@rultor release, tag is `0.35.50`

[2019-10-04 08:25] rultor commented on #300
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20513-538299526)

[2019-10-04 08:32] rultor commented on #300
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20513-538299526) (took me 5min)

[2019-10-04 08:32] #300 closed

[2019-10-04 08:50] 0crat commented on #300
Job `gh:zold-io/wts.zold.io#300` is not assigned, can't get performer

[2019-10-04 08:50] 0crat commented on #300
This job is not in scope

[2019-10-10 06:34] yegor256 opened #301 "Haml::Error: Invalid US-ASCII character "\xE2""
[code]

See in #235 already

[2019-10-10 07:28] yegor256 commented on #301
@rultor release, tag is `0.35.51`

[2019-10-10 07:29] rultor commented on #301
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20563-540432964)

[2019-10-10 07:33] rultor commented on #301
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20563-540432964) (spent 4min)

[code]

[2019-10-10 07:34] yegor256 commented on #301
@rultor release, tag is `0.35.51`

[2019-10-10 07:38] rultor commented on #301
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20563-540436202)

[2019-10-10 07:38] yegor256 commented on #290
@g4s8 are you sure it's slow? I just checked the code, it looks like it should be very fast, unless you use `force`.

[2019-10-10 07:43] rultor commented on #301
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20563-540436202) (spent 5min)

[code]

[2019-10-10 07:53] yegor256 commented on #294
@g4s8 still not solved?

[2019-10-10 08:31] yegor256 commented on #296
@carlosmiranda this was a temporary issue, the DB was out of reach

[2019-10-10 08:31] #296 closed

[2019-10-10 08:50] g4s8 commented on #294
@yegor256 it was fixed manually, but I think it can happen again because source code was not changed

[2019-10-10 09:07] 0crat commented on #296
Job `gh:zold-io/wts.zold.io#296` is not assigned, can't get performer

[2019-10-10 09:10] 0crat commented on #296
This job is not in scope

[2019-10-10 10:09] yegor256 commented on #301
@rultor release, tag is `0.35.51`

[2019-10-10 10:09] rultor commented on #301
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20563-540499383)

[2019-10-10 10:16] rultor commented on #301
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20563-540499383) (took me 6min)

[2019-10-10 10:16] #301 closed

[2019-10-10 10:49] g4s8 commented on #290
@yegor256 yes, it takes more than 10 seconds on each pull (even if my wallet is already pulled). I don't use force. This is what I'm doing to pull the wallet:
 - send `GET` - `/pull` to `https://wts.zold.io`
 - parse `X-Zold-Job` header
 - send `GET` - `/job?id=<job-id>` every second, until it returns `OK` or error

[2019-10-10 11:29] 0crat commented on #301
Job `gh:zold-io/wts.zold.io#301` is not assigned, can't get performer

[2019-10-10 11:29] 0crat commented on #301
This job is not in scope

[2019-10-10 13:33] bkuzmic opened #302 "WTS - Sending money to Paypal failed"
I've exchanged ZLD to Paypal and WTS took my ZLDs but Paypal canceled the transaction saying payment from Zerocracy, Inc. was not processed successfully at the sender's side.

My wallet is: `8f3308ef3bf2fd7c`. Transactions are 6 and 7 and job id is: `1691cc49-ba2c-49­b0-b961-3cd8271a­ee70`
![wts](https://user-images.githubusercontent.com/178479/66573471-03430100-eb73-11e9-8592-c523faaac7bf.jpg)

[2019-10-10 13:33] 0crat commented on #302
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-10-10 13:33] 0crat commented on #302
@bkuzmic[/z](https://www.0crat.com/u/bkuzmic) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-14 13:31] vladarefiev opened #303 "Pulling error"
Trying to pull wallet to check balance, but log has some errors:

[code]

[2019-10-14 13:31] 0crat commented on #303
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-10-14 13:31] 0crat commented on #303
@vladarefiev[/z](https://www.0crat.com/u/vladarefiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-10-15 12:10] bkuzmic commented on #302
@yegor256 Can you please take a look where my 50 zolds went missing?

[2019-10-20 10:23] yegor256 opened #304 "migrate to Dokku"

[2019-10-20 10:55] #304 closed

[2019-10-20 10:56] yegor256 commented on #304
@rultor release, tag is `0.35.52`

[2019-10-20 10:58] rultor commented on #304
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20658-544241533)

[2019-10-20 11:04] rultor commented on #304
@yegor256 Oops, I failed. You can see the full log [here](http://www.rultor.com/t/20658-544241533) (spent 6min)

[code]

[2019-10-21 05:40] yegor256 commented on #304
@rultor release, tag is `0.35.52`

[2019-10-21 05:42] rultor commented on #304
@yegor256 OK, I will release it now. Please check the progress [here](http://www.rultor.com/t/20658-544356966)

[2019-10-21 05:52] rultor commented on #304
@yegor256 Done! FYI, the full log is [here](http://www.rultor.com/t/20658-544356966) (took me 7min)

[2019-10-22 11:31] g4s8 opened #305 "WTS is broken"
Any request to WTS (via browser or via API) returns 503 HTTP error with this stacktrace:
[code]

[2019-10-22 11:31] 0crat commented on #305
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-10-22 14:02] yegor256 commented on #305
@g4s8 it was a temporary problem, fixed

[2019-10-22 14:02] #305 closed

[2019-10-22 14:52] 0crat commented on #305
Job `gh:zold-io/wts.zold.io#305` is not assigned, can't get performer

[2019-10-22 15:27] 0crat commented on #305
This job is not in scope

[2019-10-26 06:26] bkuzmic commented on #302
@yegor256 Can somebody else take a look at this issue? It is really bad for the zolds to disappear like this.

[2019-10-27 03:49] yegor256 opened #306 "pgtk 0.7.5"

[2019-10-27 03:49] yegor256 commented on #306
@rultor release tag is `0.35.53`

[2019-10-27 04:05] rultor commented on #306
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/20702-546659287)

[2019-10-27 04:19] rultor commented on #306
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/20702-546659287) (took me 11min)

[2019-10-27 04:19] #306 closed

[2019-10-28 07:22] 0crat commented on #306
This job is not in scope

[2019-10-28 07:25] 0crat commented on #306
Job `gh:zold-io/wts.zold.io#306` is not assigned, can't get performer

[2019-11-04 14:29] bkuzmic commented on #302
More details:
Transaction ID on Paypal side: 0LJ53394343100635. Status: Canceled.

[2019-11-17 11:13] yegor256 commented on #302
@bkuzmic I sent you 52 ZLD to your wallet 8f3308ef3bf2fd7c. Sorry about this, thanks for your patience.

[2019-11-17 11:13] #302 closed

[2019-11-17 11:30] 0crat commented on #302
Job `gh:zold-io/wts.zold.io#302` is not assigned, can't get performer

[2019-11-17 11:30] 0crat commented on #302
This job is not in scope

[2019-11-26 16:13] ypshenychka opened #307 "Taxes part was deducted but no zold transferred to btc"
Same issue as in #277.

I've sold zold to btc, but only transaction with taxes is shown and this taxes amount is deducted. No zold arrived to btc wallet.
![image](https://user-images.githubusercontent.com/11703257/69651268-7ef00300-1078-11ea-968b-3f34b15b1be6.png)

[2019-11-26 16:14] 0crat commented on #307
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-11-26 16:14] 0crat commented on #307
@ypshenychka[/z](https://www.0crat.com/u/ypshenychka) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-11-27 12:11] g4s8 opened #308 "WTS randomly ignores order param for txns.json"
To reproduce: run 10 times API query with transactions request: https://wts.zold.io/txns.json?sort=desc
8-9 times WTS will return transactions in correct order (descending), but 1-2 times in ascending order, what is not correct.

[2019-11-27 12:12] 0crat commented on #308
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-03 16:09] paulodamaso opened #309 "Sold zolds but not received anything in paypal"
I've sold my zolds recently, transaction c0b2c336-acd9-4513-ba94-87655fe26d09 , but did not received it on paypal.

[2019-12-03 16:09] 0crat commented on #309
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-03 16:09] 0crat commented on #309
@paulodamaso[/z](https://www.0crat.com/u/paulodamaso) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2019-12-07 07:18] yegor256 commented on #309
@paulodamaso are you sure it was deducted from your Zold wallet? https://wts.zold.io/job?id=c0b2c336-acd9-4513-ba94-87655fe26d09

[2019-12-07 08:09] yegor256 opened #310 "we lose the blockchain tail for some reason"

[2019-12-07 08:38] #310 closed

[2019-12-07 08:39] yegor256 commented on #310
@rultor release, tag is `0.35.54`

[2019-12-07 08:40] rultor commented on #310
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21010-562829299)

[2019-12-07 08:54] rultor commented on #310
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21010-562829299) (took me 11min)

[2019-12-07 09:10] 0crat commented on #310
Job `gh:zold-io/wts.zold.io#310` is not assigned, can't get performer

[2019-12-07 09:10] 0crat commented on #310
This job is not in scope

[2019-12-11 14:42] g4s8 opened #311 "WTS took ZLD but didn't send BTC"
I've tried to exchange 225 ZLD to BTC from [3be3416c805e4371](http://www.zold.io/ledger.html?wallet=3be3416c805e4371) wallet, transactions `122` and `123`
![scrot-2019-12-11-17:29:19](https://user-images.githubusercontent.com/1524988/70630169-2efa6a00-1c3c-11ea-8bca-1f53a60e7f30.png)

WTS took ZLD but didn't send BTC to the wallet `bc1q33rvhe95s5ac5teulyq4mm3gy7ag6vgxswd8um`.

It's quite popular b

[2019-12-11 14:42] 0crat commented on #311
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2019-12-11 14:45] yegor256 commented on #311
@g4s8 as you see [here](http://www.zold.io/ledger.html?wallet=3be3416c805e4371) your wallet is not changed. Do the PULL in Wts and your wallet will get back to its state.

[2019-12-11 14:53] yegor256 commented on #311
@g4s8 this happens when you are trying to convert everything you have in your wallet. Taxes get deducted first and the transaction fails. Try to leave some space for taxes.

[2019-12-11 15:07] g4s8 commented on #311
@yegor256 thanks, it's working after pull

[2019-12-11 15:07] #311 closed

[2019-12-11 15:25] 0crat commented on #311
Job `gh:zold-io/wts.zold.io#311` is not assigned, can't get performer

[2019-12-11 15:25] 0crat commented on #311
This job is not in scope

[2019-12-15 06:17] yegor256 opened #312 "btc.com api"

[2019-12-15 08:47] yegor256 commented on #312
@rultor release, tag is `0.35.55`

[2019-12-15 08:49] rultor commented on #312
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21051-565789372)

[2019-12-15 08:59] rultor commented on #312
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21051-565789372) (took me 7min)

[2019-12-15 09:00] #312 closed

[2019-12-15 09:17] 0crat commented on #312
Job `gh:zold-io/wts.zold.io#312` is not assigned, can't get performer

[2019-12-15 09:17] 0crat commented on #312
This job is not in scope

[2019-12-15 11:06] yegor256 commented on #312
@rultor release, tag is `0.35.56`

[2019-12-15 11:09] rultor commented on #312
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21051-565799170)

[2019-12-15 11:18] rultor commented on #312
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21051-565799170) (took me 6min)

[2019-12-15 11:32] yegor256 commented on #312
@rultor release, tag is `0.35.57`

[2019-12-15 11:34] rultor commented on #312
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21051-565800997)

[2019-12-15 11:43] rultor commented on #312
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21051-565800997) (took me 5min)

[2019-12-15 15:08] yegor256 commented on #312
@rultor release, tag is `0.35.58`

[2019-12-15 15:09] rultor commented on #312
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21051-565817765)

[2019-12-15 15:18] rultor commented on #312
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21051-565817765) (took me 6min)

[2019-12-15 20:09] yegor256 commented on #312
@rultor release, tag is `0.35.59`

[2019-12-15 20:11] rultor commented on #312
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21051-565842263)

[2019-12-15 20:21] rultor commented on #312
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21051-565842263) (took me 7min)

[2019-12-15 21:05] yegor256 commented on #307
@rultor release, tag is `0.35.60`

[2019-12-15 21:07] yegor256 commented on #308
@g4s8 are you sure? I can't reproduce it...

[2019-12-15 21:07] rultor commented on #307
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21056-565846730)

[2019-12-15 21:18] rultor commented on #307
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21056-565846730) (took me 7min)

[2019-12-15 21:35] #307 closed

[2019-12-15 21:35] yegor256 commented on #307
@ypshenychka just click PULL, the wallet data will be fixed

[2019-12-15 21:53] 0crat commented on #307
Job `gh:zold-io/wts.zold.io#307` is not assigned, can't get performer

[2019-12-15 21:53] 0crat commented on #307
This job is not in scope

[2019-12-16 07:23] g4s8 commented on #308
@yegor256 yes, I've reproduced it right now (3 requests were OK, 4th inversed)
OK:
![scrot-2019-12-16-10:19:14](https://user-images.githubusercontent.com/1524988/70887056-01237580-1fee-11ea-9d8f-4274eac9c362.png)
Wrong:
![scrot-2019-12-16-10:19:03](https://user-images.githubusercontent.com/1524988/70887057-01237580-1fee-11ea-94c9-dd45cc5d693a.png)

[2019-12-18 20:39] yegor256 opened #313 "retriable proxy"

[2019-12-18 20:40] yegor256 commented on #313
@rultor release, tag is `0.35.61`

[2019-12-18 20:42] rultor commented on #313
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21077-567203824)

[2019-12-18 20:53] rultor commented on #313
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21077-567203824) (took me 7min)

[2019-12-18 20:53] #313 closed

[2019-12-18 21:13] 0crat commented on #313
Job `gh:zold-io/wts.zold.io#313` is not assigned, can't get performer

[2019-12-18 21:14] 0crat commented on #313
This job is not in scope

[2019-12-19 11:46] yegor256 opened #315 "retry HTTP calls in assets"

[2019-12-19 11:50] yegor256 commented on #315
@rultor release, tag is `0.35.62`

[2019-12-19 11:52] rultor commented on #315
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21078-567458195)

[2019-12-19 12:03] rultor commented on #315
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21078-567458195) (took me 7min)

[2019-12-20 04:18] carlosmiranda commented on #309
@paulodamaso @yegor256 were you able to resolve this? My wallet was deducted but I did not get anything from Paypal as well. Job ID `11d1065f-b1aa-4105-84d5-bac646b2605d`.

[2019-12-20 06:26] yegor256 commented on #309
@carlosmiranda I refunded 256 ZLD to you.

[2019-12-20 09:25] carlosmiranda commented on #309
@yegor256 thank you, I will try again tomorrow

[2019-12-20 18:13] 0crat commented on #315
Job `gh:zold-io/wts.zold.io#315` is not assigned, can't get performer

[2019-12-20 18:18] 0crat commented on #315
This job is not in scope

[2020-01-10 14:34] iakunin commented on #309
@yegor256 I've got the same problem. Job id `e6118e1b-91e9-42af-a402-1a11b17b1b84`.

In logs there is successful message:

[2020-01-12 11:54] vzurauskas opened #316 "WTS can't see my Github account"
Zerocrat just told me this:

[code]

"vzurauskas" does exist, here it is: https://github.com/vzurauskas

[2020-01-12 11:54] 0crat commented on #316
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-12 11:54] 0crat commented on #316
@vzurauskas[/z](https://www.0crat.com/u/vzurauskas) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-17 09:58] vzurauskas commented on #316
@yegor256 I still can't receive any Zold payments from Zerocracy.

[2020-01-23 08:48] yegor256 opened #317 "QR code for a payment"

[2020-01-25 06:16] yegor256 commented on #317
@rultor release, tag is `0.36.0`

[2020-01-25 06:18] rultor commented on #317
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21246-578381194)

[2020-01-25 06:31] rultor commented on #317
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21246-578381194) (took me 10min)

[2020-01-26 06:40] #317 closed

[2020-01-26 07:03] 0crat commented on #317
Job `gh:zold-io/wts.zold.io#317` is not assigned, can't get performer

[2020-01-26 07:04] 0crat commented on #317
This job is not in scope

[2020-01-26 10:39] yegor256 opened #318 "typos in rcpt"

[2020-01-26 10:48] yegor256 commented on #318
@rultor release, tag is `0.36.1`

[2020-01-26 10:50] rultor commented on #318
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21248-578489924)

[2020-01-26 11:00] rultor commented on #318
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21248-578489924) (took me 7min)

[2020-01-26 11:10] #318 closed

[2020-01-26 11:28] 0crat commented on #318
Job `gh:zold-io/wts.zold.io#318` is not assigned, can't get performer

[2020-01-26 11:28] 0crat commented on #318
This job is not in scope

[2020-01-26 11:36] iakunin opened #319 "Failed to pay: Zold payment failed; code=500 error=E189: GitHub user "iakunin" doesn't exist"
I received this message from Zecocrat telegram-bot multiple times:
1. 2020-01-23T23:46
1. 2020-01-24T00:47
1. 2020-01-24T01:53
1. 2020-01-24T02:49
1. 2020-01-24T10:14
1. 2020-01-24T10:53
1. 2020-01-24T11:43
1. 2020-01-24T12:44
1. 2020-01-24T13:48
1. 2020-01-24T15:56
1. 2020-01-25T13:14
1. 2020-01-26T12:50

At the same time I can log in into https://wts.zold.io using my github account.

@g4s8 said

[2020-01-26 11:36] 0crat commented on #319
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-26 11:36] 0crat commented on #319
@iakunin[/z](https://www.0crat.com/u/iakunin) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-26 15:12] yegor256 commented on #303
@vladarefiev this means that your wallet is gone from the network, you should create a new one. Click "Restart"

[2020-01-26 15:12] #303 closed

[2020-01-26 15:13] yegor256 commented on #308
@g4s8 I really can't understand what's going on...

[2020-01-26 15:29] 0crat commented on #303
Job `gh:zold-io/wts.zold.io#303` is not assigned, can't get performer

[2020-01-26 15:29] 0crat commented on #303
This job is not in scope

[2020-01-26 15:42] yegor256 commented on #316
@rultor release, tag is `0.36.2`

[2020-01-26 15:42] yegor256 commented on #316
@vzurauskas let me try to fix this...

[2020-01-26 15:43] rultor commented on #316
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21249-578514048)

[2020-01-26 15:48] rultor commented on #316
@vzurauskas @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21249-578514048) (spent 4min)

[code]

[2020-01-26 16:04] yegor256 commented on #316
@rultor release, tag is `0.36.2`

[2020-01-26 16:06] rultor commented on #316
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21249-578516116)

[2020-01-26 16:11] rultor commented on #316
@vzurauskas @yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21249-578516116) (spent 4min)

[code]

[2020-01-26 16:36] yegor256 commented on #316
@rultor release, tag is `0.36.2`

[2020-01-26 16:38] rultor commented on #316
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21249-578519230)

[2020-01-26 16:48] rultor commented on #316
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21249-578519230) (took me 7min)

[2020-01-27 14:01] vzurauskas commented on #316
@yegor256 Seems to be working now, thanks.

[2020-01-27 14:01] #316 closed

[2020-01-27 14:20] 0crat commented on #316
Job `gh:zold-io/wts.zold.io#316` is not assigned, can't get performer

[2020-01-27 14:21] 0crat commented on #316
This job is not in scope

[2020-01-28 08:27] yegor256 commented on #319
@iakunin we are working on this issue.

[2020-01-28 12:21] amihaiemil opened #320 "ZLD -> PayPal Failed: User is not allowed to perform this action"
I've tried exchanging 10 ZLD to PayPal (I am a member of Zerocracy, so I should be able to) and got the following exception in the Log (**"User is not allowed to perform this action"**):

[code]

I received nothing on PayPal, but the sum was deducted from my wallet:

![image](https://user-images.githubusercontent.com/6305156/73263537-72ec0300-41d9-11ea-8b01-ccd077e5593b.png)

[2020-01-28 12:21] 0crat commented on #320
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-28 12:21] 0crat commented on #320
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-28 12:41] amihaiemil commented on #320
@yegor256 Can you please have a look?

Could this Issue be because of the fact that I have reputation < 256? However, I am a long term member of ZC and I don't even have a mentor anymore (at some point I had over 2048 rep).

[2020-01-28 15:04] yegor256 commented on #319
@rultor release, tag is `0.36.3`

[2020-01-28 15:07] rultor commented on #319
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21266-579288408)

[2020-01-28 15:19] rultor commented on #319
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21266-579288408) (took me 9min)

[2020-01-28 19:53] yegor256 commented on #319
@iakunin this is fixed

[2020-01-28 19:53] #319 closed

[2020-01-28 19:54] yegor256 commented on #320
@amihaiemil this was a bug on our side. We will send you PayPal now.

[2020-01-28 19:57] #320 closed

[2020-01-28 20:10] 0crat commented on #319
Job `gh:zold-io/wts.zold.io#319` is not assigned, can't get performer

[2020-01-28 20:10] 0crat commented on #319
This job is not in scope

[2020-01-28 20:19] 0crat commented on #320
This job is not in scope

[2020-01-28 20:20] 0crat commented on #320
Job `gh:zold-io/wts.zold.io#320` is not assigned, can't get performer

[2020-01-28 20:23] iakunin commented on #319
@yegor256 many thanks. Let's wait for next Zerocrat attempt to repay the debt. I'll get you know about the result.

[2020-01-29 09:36] amihaiemil opened #321 "ZLD->Paypal "You are not a member of Zerocracy""
Today I've tried exchanging another 10 ZLD to Paypal. It worked, but only the second trial. First time I've tried, I got the red error message saying that I am not a member of ZC so I cannot perform this action.

I received that error message right at the end of the flow, when I've tried to submit the form with the Key Gap, Amount of ZLD and PayPal E-mail address.

[2020-01-29 09:36] 0crat commented on #321
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-29 09:36] 0crat commented on #321
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-29 09:56] amihaiemil opened #322 "Anonymize the Search Wallet page"
At the moment I think anyone can search a wallet's transasctions if they know its id. For instance this is my wallet: http://www.zold.io/ledger.html?wallet=38dfc77fede6b721

I personally don't like the idea of anyone knowing all my transactions.
I think this page should be anonymized (no username or email displayed). I would guess it should also be anonymized in order to comply with GDPR...

[2020-01-29 09:56] 0crat commented on #322
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-29 09:56] 0crat commented on #322
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-29 10:00] amihaiemil opened #323 "Search Wallet page -> Wrong Beneficiary"
On the "Search Wallet" page, the transactions of a wallet are displayed and there is also the "Beneficiary" column.

In the case of my wallet, **for Incoming transactions** (when I received ZLD), the Beneficiary wallet should be mine. However, I see different wallet ids displayed in that column. It doesn't make sense to me.

[2020-01-29 10:00] 0crat commented on #323
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-29 10:00] 0crat commented on #323
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-29 10:39] iakunin commented on #319
@yegor256 my debt has been repaid. Thank you so much!

[2020-01-30 09:16] amihaiemil opened #324 "Taxes should be payable via wts UI"
According to [this post](https://blog.zold.io/2019/01/15/taxes-explained.html) we have to install the ``zold`` CLI tool in order to pay our taxes.

Wouldn't it be easier to have a "Pay taxes" button on wts.zold.io?

You also have to take into account that ZLD may be used by non-programmers who have never installed or worked with the CLI in their life.

[2020-01-30 09:18] 0crat commented on #324
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-30 09:18] 0crat commented on #324
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-30 14:23] amihaiemil opened #325 "Login doesn't work well"
I log in via Github (I am a ZC member) and then, almost every time I refresh a page, I get logged out and have to login again.

Having the experience of literally any webapp on the Internet, login should persist in a session, until I log out.

[2020-01-30 14:24] 0crat commented on #325
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-30 14:24] 0crat commented on #325
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-01-31 11:28] amihaiemil opened #326 "Comission From ZC Workers Is Not Fair"
Taking a 2% comission from Zerocracy workers is not fair because they do not have other options of payment. So we are forced to be paid in ZLD, and ZC in turn takes a comission (not to mention, 2% is a huge comision).

Comission (if any) should apply only to people who use ZLD by choice. ZC workers do not have a choice.

[2020-01-31 15:41] amihaiemil opened #327 "Payments in EUR"
I would like to have the option of sending EUR to my PayPal account, not just USD.
I think it would be useful for other developers as well since most people are from Europe.

[2020-01-31 15:42] 0crat commented on #327
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-01-31 15:42] 0crat commented on #327
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-03 18:26] amihaiemil opened #328 "PayPal Fees Are Not Paid"
On the ``zld-to-paypal`` page it is stated that ZC will pay the PayPal fees:

<img width="410" alt="image" src="https://user-images.githubusercontent.com/6305156/73679349-e488ed00-46c2-11ea-9f11-bdccc0640503.png">

However, this doesn't seem to be true. All incoming transactions are the exact sum stated by ZC on the exchange page, but PayPal takes its fee out of it.

In order for the statement to

[2020-02-03 18:26] 0crat commented on #328
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-03 18:26] 0crat commented on #328
@amihaiemil[/z](https://www.0crat.com/u/amihaiemil) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-05 18:31] yegor256 commented on #326
@amihaiemil just increase your ZC hourly rate and that's it.

[2020-02-05 18:31] #326 closed

[2020-02-05 18:31] yegor256 commented on #325
@amihaiemil are you sure? I've never seen this. Does it still happen now?

[2020-02-05 18:32] yegor256 commented on #324
@amihaiemil WTS automatically pays your taxes when it's time to do so. You don't need to worry about it, it happens behind the scene.

[2020-02-05 18:32] #324 closed

[2020-02-05 18:32] yegor256 opened #329 "token with dash doesn't work"

[2020-02-05 18:53] 0crat commented on #326
Job `gh:zold-io/wts.zold.io#326` is not assigned, can't get performer

[2020-02-05 18:55] 0crat commented on #324
Job `gh:zold-io/wts.zold.io#324` is not assigned, can't get performer

[2020-02-05 18:57] yegor256 commented on #329
@rultor release, tag is `0.36.4`

[2020-02-05 18:59] rultor commented on #329
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21302-582558603)

[2020-02-05 19:00] 0crat commented on #326
This job is not in scope

[2020-02-05 19:08] rultor commented on #329
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21302-582558603) (took me 6min)

[2020-02-05 19:11] #329 closed

[2020-02-05 19:33] 0crat commented on #329
Job `gh:zold-io/wts.zold.io#329` is not assigned, can't get performer

[2020-02-05 19:33] 0crat commented on #329
This job is not in scope

[2020-02-06 18:23] amihaiemil commented on #325
@yegor256 well, I kept testing yesterday and today and I didn't see the problem anymore. But it definitely was present. Maybe it was fixed in the meantime...

[2020-02-06 18:23] #325 closed

[2020-02-06 19:06] 0crat commented on #325
Job `gh:zold-io/wts.zold.io#325` is not assigned, can't get performer

[2020-02-06 19:06] 0crat commented on #325
This job is not in scope

[2020-02-11 18:25] fanifieiev opened #412 "Failed to pay via WTS"
I am receiving the following message:
`We tried to pay your debt of $6.14, but failed (Failed to pay: Failed to pay via WTS: job=df8bcec7-8221-45bf-80df-c9e34d6addaa error=No nodes out of 20 have the wallet 215c0341d7c40599; run 'zold remote update' and try again; most probably your wallet is lost by Zold network; it is recommended to log in to wts.zold.io and click Restart at the top menu; a new

[2020-02-17 01:43] carlosmiranda opened #330 "Payment was lost - attempted to withdraw to Paypal"
I tried to withdraw funds today to my paypal. My wallet got deducted, but the payment failed with the following error:

[code]

[2020-02-17 01:43] 0crat commented on #330
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-17 01:43] 0crat commented on #330
@carlosmiranda[/z](https://www.0crat.com/u/carlosmiranda) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-17 01:44] carlosmiranda commented on #330
@yegor256 sent you the full log via Telegram

[2020-02-18 04:29] yegor256 commented on #330
@carlosmiranda resolved

[2020-02-18 04:29] #330 closed

[2020-02-18 05:55] 0crat commented on #330
Job `gh:zold-io/wts.zold.io#330` is not assigned, can't get performer

[2020-02-18 06:14] 0crat commented on #330
This job is not in scope

[2020-02-19 16:05] HDouss opened #331 "Being a Zerocracy team member, I cannot login with GitHub"
I joined Zerocracy team few days ago and starting gaining reputation, but I still cannot login with my GitHub id in zold.io into web wallet. I suspect a case sensitiveness problem. This is the message I get: "E103: "HDouss" doesn't work in Zerocracy, can't login via GitHub, use mobile phone (see KYC section in our Terms of Use); this may also be a temporary network problem, which you may solve by

[2020-02-19 16:05] 0crat commented on #331
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-19 16:05] 0crat commented on #331
@hdouss[/z](https://www.0crat.com/u/hdouss) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-02-20 07:17] yegor256 commented on #331
@HDouss this definitely is a case-sensitivity issue: https://www.0crat.com/known/HDouss (doesn't work), this works: https://www.0crat.com/known/hdouss Let me fix now.

[2020-02-20 07:49] yegor256 commented on #331
@rultor release, tag is `0.36.5`

[2020-02-20 07:52] rultor commented on #331
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21395-588702577)

[2020-02-20 08:02] rultor commented on #331
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21395-588702577) (took me 7min)

[2020-02-20 08:14] yegor256 commented on #331
@HDouss should be fixed, please try

[2020-02-20 08:14] #331 closed

[2020-02-20 08:17] HDouss commented on #331
@yegor256 works like a charm. Thanks!

[2020-02-20 08:24] HDouss commented on #331
@yegor256 It is not that big deal, but I expected to have 0.256 in my wallet as it is stated here : "Once you sign-up, you will receive a bonus of 0.256 ZLD to your wallet"

[2020-02-20 08:49] 0crat commented on #331
Job `gh:zold-io/wts.zold.io#331` is not assigned, can't get performer

[2020-02-20 08:51] 0crat commented on #331
This job is not in scope

[2020-02-21 12:30] yegor256 opened #332 "undefined method `valid_encoding?'"
[code]

[2020-02-21 12:33] #332 closed

[2020-02-21 12:33] yegor256 opened #333 "NoMethodError: undefined method `[]' for nil:NilClass"
[code]

[2020-02-21 12:42] yegor256 commented on #333
@rultor release, tag is `0.36.6`

[2020-02-21 12:44] rultor commented on #333
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21411-589637955)

[2020-02-21 12:50] rultor commented on #333
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21411-589637955) (spent 5min)

[code]

[2020-02-21 13:17] 0crat commented on #332
Job `gh:zold-io/wts.zold.io#332` is not assigned, can't get performer

[2020-02-21 13:18] 0crat commented on #332
This job is not in scope

[2020-02-21 14:42] yegor256 commented on #333
@rultor release, tag is `0.36.6`

[2020-02-21 14:45] rultor commented on #333
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21411-589682162)

[2020-02-21 14:55] rultor commented on #333
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21411-589682162) (took me 7min)

[2020-02-21 15:02] #333 closed

[2020-02-21 15:31] 0crat commented on #333
Job `gh:zold-io/wts.zold.io#333` is not assigned, can't get performer

[2020-02-21 15:38] 0crat commented on #333
This job is not in scope

[2020-02-24 06:36] yegor256 opened #334 "misses incombing BTC payments via btc.com"

[2020-02-24 07:56] yegor256 commented on #334
@rultor release, tag is `0.36.7`

[2020-02-24 07:58] rultor commented on #334
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21423-590202175)

[2020-02-24 08:06] rultor commented on #334
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21423-590202175) (took me 5min)

[2020-02-24 08:13] #334 closed

[2020-02-24 08:34] 0crat commented on #334
Job `gh:zold-io/wts.zold.io#334` is not assigned, can't get performer

[2020-02-24 08:34] 0crat commented on #334
This job is not in scope

[2020-02-24 10:30] yegor256 commented on #322
@amihaiemil the best we can do is disable payment comments in Zerocrat. You can also omit payment comments. This will anonymize your data. Aside from that we can't do anything else. Just like in Blockchain, this data is public and open.

[2020-02-24 10:30] #322 closed

[2020-02-24 11:57] 0crat commented on #322
Job `gh:zold-io/wts.zold.io#322` is not assigned, can't get performer

[2020-02-24 11:57] 0crat commented on #322
This job is not in scope

[2020-02-25 13:26] yegor256 opened #335 "can't create receipt"

[2020-02-25 15:44] yegor256 commented on #335
@rultor release, tag is `0.36.8`

[2020-02-25 15:46] rultor commented on #335
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21431-590932613)

[2020-02-25 15:57] rultor commented on #335
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21431-590932613) (took me 7min)

[2020-02-25 16:15] #335 closed

[2020-02-28 17:03] fanifieiev opened #336 "Your wallet doesn't exist on our server yet"
I have been experiencing an issue with zold wallet.
@0crat informs that the payments cannot be done, as the wallet is not found.
The https://wts.zold.io/ shows a message: `Your wallet doesn't exist on our server yet.`

I also pulled the logs for my wallet:
[code]

[2020-02-28 17:03] 0crat commented on #336
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-02-28 17:03] 0crat commented on #336
@fanifieiev[/z](https://www.0crat.com/u/fanifieiev) this project will fix the problem faster if you donate a few dollars to it; just [click here](https://www.0crat.com/contrib/CB28FH2NR) and pay via Stripe, it's very fast, convenient and appreciated; thanks a lot!

[2020-03-22 17:06] yegor256 opened #338 "prevent too many requests to API"

[2020-03-22 17:10] yegor256 commented on #338
@rultor release, tag is `0.36.9`

[2020-03-22 17:13] rultor commented on #338
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21573-602240891)

[2020-03-22 17:21] rultor commented on #338
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21573-602240891) (took me 6min)

[2020-03-22 21:33] #338 closed

[2020-03-22 23:53] 0crat commented on #338
Job `gh:zold-io/wts.zold.io#338` is not assigned, can't get performer

[2020-03-23 09:19] yegor256 opened #339 "fetch Bitcoin blocks from all possible sources"

[2020-03-24 04:27] yegor256 commented on #339
@rultor release, tag is `0.37.0`

[2020-03-24 04:29] rultor commented on #339
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21594-603007486)

[2020-03-24 04:37] rultor commented on #339
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21594-603007486) (took me 5min)

[2020-03-24 06:02] yegor256 commented on #339
@rultor release, tag is `0.37.1`

[2020-03-24 06:06] rultor commented on #339
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21594-603035048)

[2020-03-24 06:14] rultor commented on #339
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21594-603035048) (took me 5min)

[2020-03-24 06:33] yegor256 commented on #339
@rultor release, tag is `0.37.2`

[2020-03-24 06:35] rultor commented on #339
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21594-603044665)

[2020-03-24 06:43] rultor commented on #339
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21594-603044665) (took me 5min)

[2020-03-24 07:08] #339 closed

[2020-03-24 07:33] 0crat commented on #339
Job `gh:zold-io/wts.zold.io#339` is not assigned, can't get performer

[2020-03-25 16:30] yegor256 opened #340 "new monitoring of assets"

[2020-03-25 16:31] yegor256 commented on #340
@rultor release, tag is `0.37.2`

[2020-03-25 16:35] rultor commented on #340
@yegor256 Invalid release tag `0.37.2` specified. There is already a release `0.37.2` newer than the given release in this repository.

[2020-03-25 16:35] rultor commented on #340
@yegor256 I'm sorry, I don't understand you :( Check [this page](http://doc.rultor.com/basics.html) and try again please

[2020-03-25 16:46] yegor256 commented on #340
@rultor release, tag is `0.37.3`

[2020-03-25 16:49] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21614-603953796)

[2020-03-25 16:58] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21614-603953796) (took me 6min)

[2020-03-25 18:45] yegor256 commented on #340
@rultor release, tag is `0.37.4`

[2020-03-25 18:48] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21614-604018408)

[2020-03-25 18:57] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21614-604018408) (took me 6min)

[2020-03-25 20:36] yegor256 commented on #340
@rultor release, tag is `0.37.5`

[2020-03-25 20:38] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21614-604073815)

[2020-03-25 20:47] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21614-604073815) (took me 5min)

[2020-03-25 21:35] yegor256 commented on #340
@rultor release, tag is `0.37.6`

[2020-03-25 21:37] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21614-604100255)

[2020-03-25 21:46] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21614-604100255) (took me 5min)

[2020-03-25 22:39] yegor256 commented on #340
@rultor release, tag is `0.37.7`

[2020-03-25 22:42] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21614-604124569)

[2020-03-25 22:50] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21614-604124569) (took me 6min)

[2020-03-26 04:47] yegor256 opened #341 "make APIs configurable via toggles"

[2020-03-26 04:55] yegor256 commented on #341
@rultor release, tag is `0.37.8`

[2020-03-26 04:57] rultor commented on #341
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21623-604228966)

[2020-03-26 04:58] yegor256 opened #342 "transfer hot BTC to cold addresses"

[2020-03-26 05:05] rultor commented on #341
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21623-604228966) (took me 5min)

[2020-03-26 07:03] #341 closed

[2020-03-26 07:21] 0crat commented on #341
Job `gh:zold-io/wts.zold.io#341` is not assigned, can't get performer

[2020-03-26 07:24] yegor256 commented on #342
@rultor release, tag is `0.37.9`

[2020-03-26 07:27] rultor commented on #342
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21625-604271798)

[2020-03-26 07:35] rultor commented on #342
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21625-604271798) (took me 5min)

[2020-03-26 07:47] yegor256 commented on #342
@rultor release, tag is `0.37.10`

[2020-03-26 07:50] rultor commented on #342
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21625-604279894)

[2020-03-26 07:58] rultor commented on #342
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21625-604279894) (took me 5min)

[2020-03-26 15:49] #342 closed

[2020-03-26 15:49] yegor256 opened #343 "height() from new sibit"

[2020-03-26 15:52] #343 closed

[2020-03-26 16:10] 0crat commented on #342
Job `gh:zold-io/wts.zold.io#342` is not assigned, can't get performer

[2020-03-26 16:12] 0crat commented on #343
Job `gh:zold-io/wts.zold.io#343` is not assigned, can't get performer

[2020-03-27 14:17] yegor256 commented on #340
@rultor release, tag is `0.37.11`

[2020-03-27 14:19] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21614-605024949)

[2020-03-27 14:29] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21614-605024949) (took me 6min)

[2020-03-27 18:19] yegor256 commented on #340
@rultor release, tag is `0.37.12`

[2020-03-27 18:22] rultor commented on #340
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21614-605194669)

[2020-03-27 18:31] rultor commented on #340
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21614-605194669) (took me 5min)

[2020-03-27 19:34] #340 closed

[2020-03-27 19:58] 0crat commented on #340
Job `gh:zold-io/wts.zold.io#340` is not assigned, can't get performer

[2020-04-06 14:29] HDouss opened #344 "Unable to login with github or to list my wallet transactions"
After #331 resolution, I was able to login with GitHub. It is not the case today and I have the same message "E103: "HDouss" doesn't work in Zerocracy, can't login via GitHub, use mobile phone (see KYC section in our Terms of Use); this may also be a temporary network problem, which you may solve by just trying again in a few minutes".
Besides, I could not find any transaction in my wallet when I

[2020-04-06 16:30] 0crat commented on #344
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-04-06 17:13] fanifieiev opened #345 "No spaces in payment messages"
![image](https://user-images.githubusercontent.com/3167940/78585769-69e66600-7808-11ea-9d34-ef955ab943ea.png)

[2020-04-06 17:13] 0crat commented on #345
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-04-08 16:41] yegor256 commented on #344
@rultor release, tag is `0.37.13`

[2020-04-08 16:43] rultor commented on #344
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21717-611065473)

[2020-04-08 16:51] yegor256 commented on #344
@HDouss please, try again now.

[2020-04-08 16:51] #344 closed

[2020-04-08 16:51] rultor commented on #344
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21717-611065473) (took me 5min)

[2020-04-08 17:08] 0crat commented on #344
Job `gh:zold-io/wts.zold.io#344` is not assigned, can't get performer

[2020-04-08 17:43] HDouss commented on #344
@yegor256 I managed to login with github since yersterday, but I always have the message "Your wallet doesn't exist on our server yet." Is my money lost?

[2020-04-09 13:29] yegor256 opened #346 "/push with a keygap"

[2020-04-09 16:15] yegor256 commented on #346
@rultor release, tag is `0.38.0`

[2020-04-09 16:20] rultor commented on #346
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21727-611615818)

[2020-04-09 16:26] rultor commented on #346
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/21727-611615818) (spent 6min)

[code]

[2020-04-09 16:31] yegor256 commented on #346
@rultor release, tag is `0.38.0`

[2020-04-09 16:33] rultor commented on #346
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21727-611623905)

[2020-04-09 16:42] rultor commented on #346
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21727-611623905) (took me 5min)

[2020-04-09 16:43] #346 closed

[2020-04-09 16:48] yegor256 commented on #345
@rultor release, tag is `0.38.1`

[2020-04-09 16:52] rultor commented on #345
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/21729-611632144)

[2020-04-09 17:00] rultor commented on #345
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/21729-611632144) (took me 5min)

[2020-04-09 17:01] 0crat commented on #346
Job `gh:zold-io/wts.zold.io#346` is not assigned, can't get performer

[2020-04-09 17:21] yegor256 commented on #345
@fanifieiev fixed, thanks!

[2020-04-09 17:21] #345 closed

[2020-04-09 17:47] 0crat commented on #345
Job `gh:zold-io/wts.zold.io#345` is not assigned, can't get performer

[2020-04-09 21:19] fanifieiev commented on #345
@yegor256 Thanks too

[2020-04-23 06:59] iakunin opened #347 "Unable to login"
## Steps to reproduce
1. Being a member of Zerocracy (https://www.0crat.com/u/iakunin)
1. Trying to login to https://wts.zold.io/ via Github (https://github.com/login/oauth/authorize?client_id=8a3c15d6103734e22fb7&redirect_uri=https%3A%2F%2Fwts.zold.io%2Fgithub-callback)

## Expected behavior
Successfully logged in.

## Actual behavior
An error: `E226: Something is wrong with 0crat.com, HTTP code

[2020-04-23 17:14] iakunin commented on #347
This bug has been fixed: https://t.me/zold_io/13690

Screenshot of successful login:

![image](https://user-images.githubusercontent.com/10430347/80128834-e9ad5800-859e-11ea-942a-b565d5dc496c.png)

[2020-04-23 17:14] #347 closed

[2020-04-30 14:50] fanifieiev opened #348 "Internal error at 0.38.1"
I tried to login using my github account, but couldn't login due to the following issue:

[code]

[2020-04-30 14:50] 0crat commented on #348
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-14 12:27] yegor256 commented on #348
@fanifieiev it's OK now

[2020-05-14 12:27] #348 closed

[2020-05-14 12:27] yegor256 opened #349 "callback re-start"

[2020-05-14 12:34] yegor256 commented on #349
@rultor release, tag is `0.39.0`

[2020-05-14 12:36] rultor commented on #349
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22047-628604196)

[2020-05-14 12:42] rultor commented on #349
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22047-628604196) (took me 5min)

[2020-05-14 12:46] 0crat commented on #348
Job `gh:zold-io/wts.zold.io#348` is not assigned, can't get performer

[2020-05-14 12:54] #349 closed

[2020-05-14 12:55] yegor256 opened #350 "type error"
[code]

[2020-05-14 12:56] #350 closed

[2020-05-14 12:57] yegor256 opened #351 "NoMethodError: undefined method `[]' for nil:NilClass"
[code]

[2020-05-14 13:11] 0crat commented on #349
Job `gh:zold-io/wts.zold.io#349` is not assigned, can't get performer

[2020-05-14 13:13] 0crat commented on #350
Job `gh:zold-io/wts.zold.io#350` is not assigned, can't get performer

[2020-05-14 13:16] yegor256 commented on #351
@rultor release, tag is `0.39.1`

[2020-05-14 13:17] rultor commented on #351
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22050-628627731)

[2020-05-14 13:24] rultor commented on #351
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22050-628627731) (took me 5min)

[2020-05-14 13:24] #351 closed

[2020-05-14 13:47] 0crat commented on #351
Job `gh:zold-io/wts.zold.io#351` is not assigned, can't get performer

[2020-05-14 13:52] yegor256 opened #352 "callbacks restart is broken"

[2020-05-14 13:53] yegor256 commented on #352
@rultor release, tag is `0.39.2`

[2020-05-14 13:55] rultor commented on #352
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22051-628651830)

[2020-05-14 14:01] rultor commented on #352
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22051-628651830) (took me 5min)

[2020-05-14 14:16] #352 closed

[2020-05-14 14:34] 0crat commented on #352
Job `gh:zold-io/wts.zold.io#352` is not assigned, can't get performer

[2020-05-18 06:06] yegor256 opened #353 "configurable thresholds"

[2020-05-18 06:10] yegor256 commented on #353
@rultor release, tag is `0.39.3`

[2020-05-18 06:12] rultor commented on #353
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22084-629967457)

[2020-05-18 06:18] rultor commented on #353
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22084-629967457) (took me 6min)

[2020-05-18 06:34] #353 closed

[2020-05-18 06:59] 0crat commented on #353
Job `gh:zold-io/wts.zold.io#353` is not assigned, can't get performer

[2020-05-21 10:13] yegor256 opened #354 "daemons die on exceptions"

[2020-05-21 10:14] yegor256 commented on #354
@rultor release, tag is `0.39.4`

[2020-05-21 10:16] rultor commented on #354
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22133-632004479)

[2020-05-21 10:23] rultor commented on #354
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22133-632004479) (took me 6min)

[2020-05-21 10:24] #354 closed

[2020-05-21 10:55] 0crat commented on #354
Job `gh:zold-io/wts.zold.io#354` is not assigned, can't get performer

[2020-05-24 06:23] yegor256 opened #355 "daemons are still not bullet proof"

[2020-05-24 06:28] yegor256 commented on #355
@rultor release, tag is `0.39.5`

[2020-05-24 06:29] rultor commented on #355
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22156-633186455)

[2020-05-24 06:35] rultor commented on #355
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22156-633186455) (took me 5min)

[2020-05-24 06:38] #355 closed

[2020-05-24 06:55] 0crat commented on #355
Job `gh:zold-io/wts.zold.io#355` is not assigned, can't get performer

[2020-05-24 13:06] alexstich opened #356 "E146: You don't have enough to send"
Hi.
I can't sell zolds. I want sell all zolds i have (i write correct amount), but error appears:
E146: You don't have enough to send

My wallet is - c8595285413beec2

![Screenshot from 2020-05-24 15-59-45](https://user-images.githubusercontent.com/29394093/82754811-2b1c6780-9dd8-11ea-85b6-15daa87925f5.png)
![Screenshot from 2020-05-24 16-00-05](https://user-images.githubusercontent.com/29394093/8

[2020-05-24 13:06] 0crat commented on #356
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-27 08:53] yegor256 opened #358 "dangerous rate in /rate.json"
See https://github.com/zerocracy/farm/issues/2286

[2020-05-27 08:55] g4s8 opened #359 "WTS may send invalid rates data"
WTS `/rates.json` response contains `valid` flag, it means that the response can be invalid. I think it's not correct to send invalid rates data to a user. I'd suggest removing this flag and return HTTP error in case if WTS is not able to fetch rates data internally (e.g. 500 error would be ok).

[2020-05-27 08:55] 0crat commented on #359
@yegor256[/z](https://www.0crat.com/u/yegor256) please, pay attention to this issue

[2020-05-27 08:58] #358 closed

[2020-05-27 08:59] yegor256 commented on #359
see also #358

[2020-05-27 08:59] yegor256 commented on #359
@g4s8 in this case unit tests will break :) OK, I will think about a solution now

[2020-05-27 09:02] yegor256 commented on #359
@rultor release, tag is `0.39.6`

[2020-05-27 09:04] rultor commented on #359
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22192-634528726)

[2020-05-27 09:06] yegor256 commented on #359
@g4s8 I made it equal to zero. In this case, no payment operations will succeed, which will protect us from money losses. Just pay attention to the `valid` flag and you will be safe on Zerocrat side.

[2020-05-27 09:11] rultor commented on #359
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22192-634528726) (took me 5min)

[2020-05-27 09:16] 0crat commented on #358
Job `gh:zold-io/wts.zold.io#358` is not assigned, can't get performer

[2020-05-27 15:31] g4s8 commented on #359
@yegor256 thanks

[2020-05-27 15:31] #359 closed

[2020-05-27 15:48] 0crat commented on #359
Job `gh:zold-io/wts.zold.io#359` is not assigned, can't get performer

[2020-06-17 06:35] yegor256 opened #360 "sibit 0.19.0"

[2020-06-17 06:44] yegor256 commented on #360
@rultor release, tag is `0.39.7`

[2020-06-17 06:45] rultor commented on #360
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22382-645184619)

[2020-06-17 06:52] rultor commented on #360
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22382-645184619) (took me 5min)

[2020-06-17 06:58] #360 closed

[2020-06-17 07:15] 0crat commented on #360
Job `gh:zold-io/wts.zold.io#360` is not assigned, can't get performer

[2020-06-27 05:25] golyalpha opened #362 "Exchanged ZLD to BTC, but no BTC has arrived"
Yesterday evening (about 8 hours ago now), I've tried to exchange some Zold for BTC, and while the Zold got sent off from my wallet, no BTC has arrived yet.

ZLD Wallet ID: 11d60619d8cbe9a3

[2020-07-01 05:27] 0crat commented on #362
There is an unrecoverable failure on my side. Please, submit it [here](https://github.com/zerocracy/farm/issues):

[code]

[0.53.15](https://github.com/zerocracy/farm): Issue: zold-io/wts.zold.io#362, Action: `opened`

[2020-07-01 05:38] yegor256 commented on #362
@golyalpha I refunded the payment. something went wrong on the server side.

[2020-07-01 05:38] #362 closed

[2020-07-01 05:55] 0crat commented on #362
Job `gh:zold-io/wts.zold.io#362` is not assigned, can't get performer

[2020-07-01 06:28] golyalpha commented on #362
@yegor256 Should I retry to exchange?

[2020-07-08 15:53] yegor256 opened #363 "sibit 0.19.2"

[2020-07-08 16:06] yegor256 commented on #363
@rultor release, tag is `0.39.8`

[2020-07-08 16:07] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-655612401)

[2020-07-08 16:28] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-655612401) (spent 20min)

[code]

[2020-07-08 16:28] yegor256 commented on #363
@rultor release, tag is `0.39.8`

[2020-07-08 16:32] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-655623973)

[2020-07-08 16:46] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-655623973) (spent 15min)

[code]

[2020-07-08 17:37] yegor256 commented on #363
@rultor release, tag is `0.39.8`

[2020-07-08 17:38] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-655658869)

[2020-07-08 17:53] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-655658869) (spent 15min)

[code]

[2020-07-08 18:15] yegor256 commented on #363
@rultor release, tag is `0.39.8`

[2020-07-08 18:15] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-655677177)

[2020-07-08 18:27] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-655677177) (spent 12min)

[code]

[2020-07-09 04:57] yegor256 commented on #363
@rultor release, tag is `0.39.8`

[2020-07-09 04:58] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-655899989)

[2020-07-09 05:28] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-655899989) (spent 30min)

[code]

[2020-07-09 06:40] yegor256 commented on #363
@rultor release, tag is `0.39.9`

[2020-07-09 06:42] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-655933148)

[2020-07-09 06:53] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-655933148) (spent 11min)

[code]

[2020-07-09 06:58] yegor256 commented on #363
@rultor release, tag is `0.39.9`

[2020-07-09 06:59] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-655939854)

[2020-07-09 07:10] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-655939854) (spent 11min)

[code]

[2020-07-14 14:53] yegor256 commented on #363
@rultor release, tag is `0.39.9`

[2020-07-14 14:55] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-658227507)

[2020-07-14 15:30] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-658227507) (spent 35min)

[code]

[2020-07-14 15:36] yegor256 commented on #363
@rultor release, tag is `0.39.9`

[2020-07-14 15:40] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-658251453)

[2020-07-14 15:58] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-658251453) (spent 17min)

[code]

[2020-07-29 16:17] yegor256 commented on #363
@rultor release, tag is `0.39.9`

[2020-07-29 16:18] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-665761285)

[2020-07-29 16:46] rultor commented on #363
@yegor256 Oops, I failed. You can see the full log [here](https://www.rultor.com/t/22535-665761285) (spent 28min)

[code]

[2020-07-30 06:35] yegor256 commented on #363
@rultor release, tag is `0.39.9`

[2020-07-30 06:38] rultor commented on #363
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22535-666156635)

[2020-07-30 06:48] rultor commented on #363
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22535-666156635) (took me 9min)

[2020-07-30 06:59] #363 closed

[2020-07-30 07:16] 0crat commented on #363
Job `gh:zold-io/wts.zold.io#363` is not assigned, can't get performer

[2020-07-30 17:49] yegor256 opened #364 "sibit 0.19.4"

[2020-07-30 17:50] yegor256 commented on #364
@rultor release, tag is `0.39.10`

[2020-07-30 17:52] rultor commented on #364
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22781-666560985)

[2020-07-30 18:01] rultor commented on #364
@yegor256 Done! FYI, the full log is [here](https://www.rultor.com/t/22781-666560985) (took me 8min)

[2020-07-30 18:02] #364 closed

[2020-07-30 18:19] 0crat commented on #364
Job `gh:zold-io/wts.zold.io#364` is not assigned, can't get performer

[2020-07-30 19:06] yegor256 opened #365 "sibit 0.20.0"

[2020-07-30 19:12] yegor256 commented on #365
@rultor release, tag is `0.39.11`

[2020-07-30 19:13] rultor commented on #365
@yegor256 OK, I will release it now. Please check the progress [here](https://www.rultor.com/t/22784-666612953)